<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.base.FssBaseBankBranchMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.base.FssBaseBankBranch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="branch_id" jdbcType="VARCHAR" property="branchId" />
    <result column="head_id" jdbcType="VARCHAR" property="headId" />
    <result column="head_code" jdbcType="VARCHAR" property="headCode" />
    <result column="head_name" jdbcType="VARCHAR" property="headName" />
    <result column="branch_code" jdbcType="VARCHAR" property="branchCode" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="lifnr_text" jdbcType="VARCHAR" property="lifnrText" />
    <result column="lifnr" jdbcType="VARCHAR" property="lifnr" />
    <result column="subbranch" jdbcType="VARCHAR" property="subbranch" />
    <result column="subbranch_code" jdbcType="VARCHAR" property="subbranchCode" />
    <result column="whole_name" jdbcType="VARCHAR" property="wholeName" />
  </resultMap>

  <resultMap id="BaseResultMapVO" extends="BaseResultMap" type="cn.com.personnel.ercp.pi.module.base.FssBaseBankBranchVO">
  </resultMap>

  <select id="queryBankBranch" resultMap="BaseResultMap">
    select o.head_code,o.head_name,b.*
    from fss_base_bank_branch b join fss_base_bank_head_office o on b.head_id=o.head_id
    <where>
      <if test="headCode != null and headCode != ''">
        o.head_code like concat('%', #{headCode}, '%')
      </if>
      <if test="headName != null and headName != ''">
         and o.head_name like concat('%', #{headName}, '%')
      </if>
      <if test="branchCode != null and branchCode != ''">
         and b.branch_code like concat('%', #{branchCode}, '%')
      </if>
      <if test="branchName != null and branchName != ''">
         and b.branch_name like concat('%', #{branchName}, '%')
      </if>
      <if test="description != null and description != ''">
         and b.description like concat('%', #{description}, '%')
      </if>
      <if test="lifnr != null and lifnr != ''">
         and b.lifnr like concat('%', #{lifnr}, '%')
      </if>
      <if test="lifnrText != null and lifnrText != ''">
         and b.lifnr_text like concat('%', #{lifnrText}, '%')
      </if>
      <if test="status != null and status != ''">
         and b.status = #{status}
      </if>
      <if test="ids != null and ids.size &gt; 0">
        and branch_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")"> #{id} </foreach>
      </if>
    </where>
    order by b.create_time desc
  </select>

  <select id="queryBankBranchByHeadCode" resultMap="BaseResultMap">
    select * from fss_base_bank_branch
    <where>
      <if test="headCode != null and headCode != ''">
        head_code = #{headCode}
      </if>
    </where>
    order by create_time desc
  </select>

  <delete id="deleteByIds">
    <if test="ids != null and ids.size &gt; 0">
      delete from fss_base_bank_branch
      <where> branch_id in
        <foreach close=")" collection="ids" item="id" open="(" separator=","> #{id}</foreach>
      </where>
    </if>
  </delete>

  <update id="updateStatus">
    <if test="bankVO != null and bankVO.ids != null and bankVO.ids.size &gt; 0">
      update fss_base_bank_branch set status=#{bankVO.status},updater=#{userId},update_time=CURRENT_TIMESTAMP
      <where> branch_id in
        <foreach close=")" collection="bankVO.ids" item="id" open="(" separator=","> #{id}</foreach>
      </where>
    </if>
  </update>

  <select id="queryBankBranchByWholeName" resultMap="BaseResultMap">
    select b.*
    from fss_base_bank_branch b
    <where>
      <if test="wholeName != null and wholeName != ''">
        b.whole_name =#{wholeName}
      </if>
    </where>
    limit 1
  </select>
</mapper>