<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.base.FssBaseCurrencyMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.base.FssBaseCurrency" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="symbol" property="symbol" jdbcType="VARCHAR" />
    <result column="accuracy" property="accuracy" jdbcType="SMALLINT" />
    <result column="expendaccuracy" property="expendaccuracy" jdbcType="SMALLINT" />
    <result column="effectivedate" property="effectivedate" jdbcType="DATE" />
    <result column="expirationdate" property="expirationdate" jdbcType="DATE" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMapVO" extends="BaseResultMap" type="cn.com.personnel.ercp.pi.module.base.FssBaseCurrencyVo">
  </resultMap>
  <select id="queryCurrencysName" resultMap="BaseResultMap">
    select * from fss_base_currency  where name like concat('%', #{name}, '%')
  </select>
  <select id="queryCurrencys" resultMap="BaseResultMap">
    select * from fss_base_currency
    <where>
      code in ('CNY','USD','AUD')
      <if test="code != null and code != ''">
       and  code like concat('%', #{code}, '%')
      </if>
      <if test="name != null and name != ''">
         and name like concat('%', #{name}, '%')
      </if>
      <if test="state != null and state != ''">
         and state like concat('%', #{state}, '%')
      </if>
        <if test="ids != null and ids.size &gt; 0">
           and id in
           <foreach collection="ids" item="id" open="(" close=")" separator=","> #{id}</foreach>
        </if>
    </where>
    union all
    select * from (select * from fss_base_currency
    <where>
      code not in ('CNY','USD','AUD')
      <if test="code != null and code != ''">
        and  code like concat('%', #{code}, '%')
      </if>
      <if test="name != null and name != ''">
        and name like concat('%', #{name}, '%')
      </if>
      <if test="state != null and state != ''">
        and state like concat('%', #{state}, '%')
      </if>
      <if test="ids != null and ids.size &gt; 0">
        and id in
        <foreach collection="ids" item="id" open="(" close=")" separator=","> #{id}</foreach>
      </if>
    </where>
    order by code) as a
  </select>
  <delete id="deleteByIds">
    <if test="ids != null and ids.size &gt; 0">
      delete from fss_base_currency
      <where> id in
        <foreach collection="ids" item="id" open="(" close=")" separator=","> #{id}</foreach>
      </where>
    </if>
  </delete>
  <update id="updateCurrencyStatus">
    <if test="currencyVo != null and currencyVo.ids != null and currencyVo.ids.size &gt; 0">
      update fss_base_currency set state=#{currencyVo.state},updater=#{currencyVo.updater},update_time=CURRENT_TIMESTAMP,
      expirationdate=#{currencyVo.expirationdate}

      <where> id in
        <foreach close=")" collection="currencyVo.ids" item="id" open="(" separator=","> #{id}</foreach>
      </where>
    </if>
  </update>
</mapper>