<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.base.PortalTsappMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.base.PortalTsapp" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="key" property="key" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="secret" property="secret" jdbcType="VARCHAR" />
    <result column="open_secret" property="openSecret" jdbcType="VARCHAR" />
    <result column="mobile_url" property="mobileUrl" jdbcType="VARCHAR" />
    <result column="bps_flag" property="bpsFlag" jdbcType="VARCHAR" />
    <result column="app_url" property="appUrl" jdbcType="VARCHAR" />
    <result column="mobile_app_url" property="mobileAppUrl" jdbcType="VARCHAR" />
    <result column="done_url" property="doneUrl" jdbcType="VARCHAR" />
    <result column="show_header" property="showHeader" jdbcType="VARCHAR" />
    <result column="done_mobile_url" property="doneMobileUrl" jdbcType="VARCHAR" />
    <result column="show_name" property="showName" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getServiceInfo" resultType="java.util.Map">
    select key,show_name as showName,icon  from portal_tsapp where status='1' and key != #{appCod} order by key
  </select>
</mapper>