<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.base.VOrganMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.base.VOrgan" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="mandt" property="mandt" jdbcType="VARCHAR" />
    <result column="bukrs" property="bukrs" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="butxt" property="butxt" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="waers" property="waers" jdbcType="VARCHAR" />
    <result column="busi" property="busi" jdbcType="VARCHAR" />
    <result column="busitext" property="busitext" jdbcType="VARCHAR" />
    <result column="com_domain_tr" property="comDomainTr" jdbcType="VARCHAR" />
    <result column="domaintext" property="domaintext" jdbcType="VARCHAR" />
    <result column="zz_invalid" property="zzInvalid" jdbcType="VARCHAR" />
    <result column="zz_inclusion" property="zzInclusion" jdbcType="VARCHAR" />
  </resultMap>
</mapper>