<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.receivable.FssBillReceivableDepartMapper">
    <resultMap id="BaseResultMap"
               type="cn.com.personnel.ercp.pi.persistence.entity.receivable.FssBillReceivableDepartEntity">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="BaseResultMap" property="rdId" jdbcType="VARCHAR"/>
        <result column="rd_id" property="rdId" jdbcType="VARCHAR"/>
        <result column="rece_id" property="receId" jdbcType="VARCHAR"/>
        <result column="admin_depart" property="adminDepart" jdbcType="VARCHAR"/>
        <result column="safekeep_depart" property="safekeepDepart" jdbcType="VARCHAR"/>
        <result column="custodian" property="custodian" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="admin_depart_id" property="adminDepartId" jdbcType="VARCHAR"/>
        <result column="safekeep_depart_id" property="safekeepDepartId" jdbcType="VARCHAR"/>
        <result column="custodian_id" property="custodianId" jdbcType="VARCHAR"/>
        <result column="effective_date" property="effectiveDate" jdbcType="VARCHAR"/>
        <result column="fail_date" property="failDate" jdbcType="VARCHAR"/>


    </resultMap>
    <!--新增数据-->
    <insert id="addFssBillReceivableDepart"
            parameterType="cn.com.personnel.ercp.pi.persistence.entity.receivable.FssBillReceivableDepartEntity">
      insert into fss_bill_receivable_depart(rd_id,rece_id,admin_depart,safekeep_depart,custodian,phone,admin_depart_id,safekeep_depart_id,
      custodian_id,effective_date,fail_date) values
      (#{rdId},#{receId},#{adminDepart},#{safekeepDepart},#{custodian},#{phone},#{adminDepartId},#{safekeepDepartId},#{custodianId},#{effectiveDate},#{failDate})
  </insert>
    <!--修改数据-->
    <update id="updFssBillReceivableDepart" parameterType="cn.com.personnel.ercp.pi.persistence.entity.receivable.FssBillReceivableDepartEntity">
        update fss_bill_receivable_depart set rece_id = #{receId}
        <if test="adminDepart!=null">
            ,admin_depart = #{adminDepart}
        </if>
        <if test="safekeepDepart!=null">
            ,safekeep_depart = #{safekeepDepart}
        </if>
        <if test="custodian!=null">
            ,custodian = #{custodian}
        </if>
        <if test="phone!=null">
            ,phone = #{phone}
        </if>
        <if test="adminDepartId!=null">
            ,admin_depart_id = #{adminDepartId}
        </if>
        <if test="safekeepDepartId!=null">
            ,safekeep_depart_id = #{safekeepDepartId}
        </if>
        <if test="custodianId!=null">
            ,custodian_id = #{custodianId}
        </if>
        <if test="effectiveDate!=null">
            ,effective_date = #{effectiveDate}
        </if>
        <if test="failDate!=null">
            ,fail_date = #{failDate}
        </if>
        where rd_id = #{rdId}
    </update>
    <delete id="delFssBillReceivableDepart">
        delete from fss_bill_receivable_depart where rece_id = #{receId}
        <if test="rdId!=null">
            and rd_id = #{rdId}
        </if>
    </delete>
    <select id="selFssBillReceivableDeparts" resultType="cn.com.personnel.ercp.pi.persistence.entity.receivable.FssBillReceivableDepartEntity" parameterType="String">
        select
rd_id as rdId,
rece_id as receId,
admin_depart as adminDepart,
safekeep_depart as safekeepDepart,
custodian as custodian,
phone as phone,
admin_depart_id as adminDepartId,
safekeep_depart_id as safekeepDepartId,
custodian_id as custodianId,
effective_date as effectiveDate,
fail_date as failDate
        from fss_bill_receivable_depart where rece_id = #{receId} order by fail_date
    </select>
    <select id="selDepartInfo" resultMap="BaseResultMap" parameterType="String">
        select * from fss_bill_receivable_depart where rd_id = #{rdId}
    </select>
</mapper>