<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.receivable.FssBillReceBankMoudelMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.receivable.FssBillReceBankMoudelEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="BaseResultMap" property="rbmId" jdbcType="VARCHAR" />
    <result column="rbm_id" property="rbmId" jdbcType="VARCHAR" />
    <result column="rbm_company_name" property="rbmCompanyName" jdbcType="VARCHAR" />
    <result column="deal_date" property="dealDate" jdbcType="VARCHAR" />
    <result column="rbm_number" property="rbmNumber" jdbcType="VARCHAR" />
    <result column="income_money" property="incomeMoney" jdbcType="VARCHAR" />
    <result column="give_money" property="giveMoney" jdbcType="VARCHAR" />
    <result column="trader_name" property="traderName" jdbcType="VARCHAR" />
    <result column="rbm_c_date" property="rbmCDate" jdbcType="VARCHAR" />
    <result column="stop_date" property="stopDate" jdbcType="VARCHAR" />
    <result column="creator_date" property="creatorDate" jdbcType="VARCHAR" />
    <result column="check_state" property="checkState" jdbcType="VARCHAR" />

  </resultMap>
  <!--新增数据-->
  <insert id="addFssBillReceBankMoudel" parameterType="cn.com.personnel.ercp.pi.persistence.entity.receivable.FssBillReceBankMoudelEntity">
      insert  into fss_bill_rece_bank_moudel(rbm_id,rbm_company_name,deal_date,rbm_number,income_money,give_money,
      trader_name,rbm_c_date,stop_date,creator_date,check_state) values
      (#{rbmId},#{rbmCompanyName},#{dealDate},#{rbmNumber},#{incomeMoney},#{giveMoney},#{traderName},#{rbmCDate},
      #{stopDate},#{creatorDate},#{checkState})
  </insert>
  <select id="selFssBillReceBankMoudels" parameterType="cn.com.personnel.ercp.pi.module.receivable.BillBankMoudelVO" resultType="cn.com.personnel.ercp.pi.persistence.entity.receivable.FssBillReceBankMoudelEntity">
    SELECT
    rbm_id AS rbmId,
    rbm_company_name AS rbmCompanyName,
    deal_date AS dealDate,
    rbm_number AS rbmNumber,
    income_money AS incomeMoney,
    give_money AS giveMoney,
    trader_name AS traderName,
    rbm_c_date AS rbmCDate,
    stop_date AS stopDate,
    creator_date AS creatorDate,
    check_state AS checkState
    FROM
    fss_bill_rece_bank_moudel
    WHERE 1=1
    <if test="checkState!=null">
    and check_state = #{checkState}
    </if>
    <if test="dealDateEnd!=null">
    AND deal_date &lt;= #{dealDateEnd}
    </if>
    <if test="dealDateStart!=null">
    AND deal_date &gt;= #{dealDateStart}
    </if>
    <if test="rbmNumber!=null">
    AND rbm_number = #{rbmNumber}
    </if>
    <if test="traderName!=null">
    AND trader_name = #{traderName}
    </if>
    <if test="rbmCDateEnd!=null">
    AND rbm_c_date &lt;= #{rbmCDateEnd}
    </if>
    <if test="rbmCDateStart!=null">
    AND rbm_c_date &gt;= #{rbmCDateStart}
    </if>
    <if test="stopDateEnd!=null">
    AND stop_date &lt;= #{stopDateEnd}
    </if>
    <if test="stopDateStart!=null">
    AND stop_date &gt;= #{stopDateStart}
    </if>
    <if test="rbmCompanyName!=null">
    AND rbm_company_name = #{rbmCompanyName}
    </if>
    order by creator_date desc
  </select>

  <select id="selFssBillReceBankMoudel" resultType="cn.com.personnel.ercp.pi.persistence.entity.receivable.FssBillReceBankMoudelEntity">
     SELECT
    rbm_id AS rbmId,
    rbm_company_name AS rbmCompanyName,
    deal_date AS dealDate,
    rbm_number AS rbmNumber,
    income_money AS incomeMoney,
    give_money AS giveMoney,
    trader_name AS traderName,
    rbm_c_date AS rbmCDate,
    stop_date AS stopDate,
    creator_date AS creatorDate,
    check_state AS checkState
    FROM
    fss_bill_rece_bank_moudel
    WHERE rbm_id = #{rbmId}
  </select>
  <update id="updFssBillReceBankMoudel">
    update fss_bill_rece_bank_moudel set rbm_id = #{rbmId}
    <if test="dealDate!=null">
      , deal_date = #{dealDate}
    </if>
    <if test="rbmNumber!=null">
      , rbm_number = #{rbmNumber}
    </if>
    <if test="traderName!=null">
      , trader_name = #{traderName}
    </if>
    <if test="rbmCDate!=null">
      , rbm_c_date = #{rbmCDate}
    </if>
    <if test="stopDate!=null">
      , stop_date = #{stopDate}
    </if>
    <if test="rbmCompanyName!=null">
      , rbm_company_name = #{rbmCompanyName}
    </if>
    <if test="checkState!=null">
      , check_state = #{checkState}
    </if>
     where rbm_id = #{rbmId}
  </update>
<!--核查sql-->
  <select id="selCheckReceInfo" resultType="cn.com.personnel.ercp.pi.module.receivable.CheckInfoDTO" parameterType="cn.com.personnel.ercp.pi.module.receivable.CheckInfoDTO" >
        SELECT
        ri.rece_number as receNumber,
        ri.company_name as companyName,
        ri.c_date as CDate,
        ri.stop_date as stopDate,
        ri.rece_money as receMoney
        FROM fss_bill_receivable_info ri
        LEFT JOIN fss_bill_receivable_recite rr ON ri.rr_id = rr.rr_id
        LEFT JOIN fss_bill_receivable_drawer dra ON ri.rece_id = dra.rece_id
        WHERE ri.rece_number = #{receNumber}
         and ri.company_name = #{companyName}
         and ri.c_date = #{CDate}
         and ri.stop_date = #{stopDate}
         and ri.is_state = 0
    <if test="incomeMoney!=null and incomeMoney != 0 and incomeMoney != ''">
          and rr.up_customer_name = #{traderName}
          and ri.rece_money = #{incomeMoney}
    </if>
    <if test="giveMoney!=null and giveMoney != 0 and giveMoney != ''">
      and (rr.customer_b_name = #{traderName} or dra.drawer_bank = #{traderName})
      and ri.rece_money = #{giveMoney} and ri.rece_state != '收存'
    </if>
    </select>

  <delete id="delFssBillReceBankMoudel" parameterType="String">
    delete from fss_bill_rece_bank_moudel WHERE rbm_id = #{rbmId}
  </delete>
</mapper>