<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.receivable.FssBillReceivableTransferMapper">

    <resultMap id="BaseResultMap"
               type="cn.com.personnel.ercp.pi.persistence.entity.receivable.FssBillReceivableTransfer">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="transfer_id" jdbcType="VARCHAR" property="transferId"/>
        <result column="apply_number" jdbcType="VARCHAR" property="applyNumber"/>
        <result column="proposer" jdbcType="VARCHAR" property="proposer"/>
        <result column="proposer_id" jdbcType="VARCHAR" property="proposerId"/>
        <result column="apply_part" jdbcType="VARCHAR" property="applyPart"/>
        <result column="apply_part_id" jdbcType="VARCHAR" property="applyPartId"/>
        <result column="data_apply" jdbcType="VARCHAR" property="dataApply"/>
        <result column="pay_company" jdbcType="VARCHAR" property="payCompany"/>
        <result column="pay_company_id" jdbcType="VARCHAR" property="payCompanyId"/>
        <result column="pay_instance" jdbcType="VARCHAR" property="payInstance"/>
        <result column="drawer_bank" jdbcType="VARCHAR" property="drawerBank"/>
        <result column="drawer_bank_id" jdbcType="VARCHAR" property="drawerBankId"/>
        <result column="rr_type" jdbcType="VARCHAR" property="rrType"/>
        <result column="rr_date" jdbcType="VARCHAR" property="rrDate"/>
        <result column="rr_type_one" jdbcType="VARCHAR" property="rrTypeOne"/>
        <result column="rr_people_one" jdbcType="VARCHAR" property="rrPeopleOne"/>
        <result column="rr_people_one_id" jdbcType="VARCHAR" property="rrPeopleOneId"/>
        <result column="rr_type_two" jdbcType="VARCHAR" property="rrTypeTwo"/>
        <result column="rr_people_two" jdbcType="VARCHAR" property="rrPeopleTwo"/>
        <result column="rr_people_twp_id" jdbcType="VARCHAR" property="rrPeopleTwpId"/>
        <result column="rr_type_three" jdbcType="VARCHAR" property="rrTypeThree"/>
        <result column="rr_people_three" jdbcType="VARCHAR" property="rrPeopleThree"/>
        <result column="rr_people_three_id" jdbcType="VARCHAR" property="rrPeopleThreeId"/>
        <result column="money_big" jdbcType="VARCHAR" property="moneyBig"/>
        <result column="money_small" jdbcType="NUMERIC" property="moneySmall"/>
        <result column="use" jdbcType="VARCHAR" property="use"/>
        <result column="apply_staue" jdbcType="VARCHAR" property="applyStaue"/>
        <result column="approval_status" jdbcType="VARCHAR" property="approvalStatus"/>
        <result column="approval_time" jdbcType="VARCHAR" property="approvalTime"/>
        <result column="approval_id" jdbcType="VARCHAR" property="approvalId"/>

        <result column="drawer_bank_out" jdbcType="VARCHAR" property="drawerBankOut"/>
        <result column="drawer_bank_out_id" jdbcType="VARCHAR" property="drawerBankOutId"/>
        <result column="data_invoice" jdbcType="VARCHAR" property="dataInvoice"/>
        <result column="data_expire" jdbcType="VARCHAR" property="dataExpire"/>
        <result column="rr_people" jdbcType="VARCHAR" property="rrPeople"/>
        <result column="rr_people_id" jdbcType="VARCHAR" property="rrPeopleId"/>
        <result column="transfer_type" jdbcType="VARCHAR" property="transferType"/>
        <result column="s_date" jdbcType="VARCHAR" property="sDate"/>
        <result column="transfer_class" jdbcType="VARCHAR" property="transferClass"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updater" jdbcType="VARCHAR" property="updater"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="VARCHAR" property="deleted"/>
        <result column="payee_id" jdbcType="VARCHAR" property="payeeId"/>
        <result column="entry_number" jdbcType="VARCHAR" property="entryNumber" />
        <result column="group_no" jdbcType="VARCHAR" property="groupNo" />

        <result column="signature_one" jdbcType="VARCHAR" property="signatureOne" />
        <result column="signature_two" jdbcType="VARCHAR" property="signatureTwo" />
        <result column="signature_all" jdbcType="VARCHAR" property="signatureAll" />
        <result column="signature_no_all" jdbcType="VARCHAR" property="signatureNoAll" />
        <result column="group_no" jdbcType="VARCHAR" property="groupNo" />
        <result column="entry_number" jdbcType="VARCHAR" property="entryNumber" />
        <result column="entry_status" jdbcType="VARCHAR" property="entryStatus" />
        <result column="document_no" jdbcType="VARCHAR" property="documentNo" />
        <result column="error_message" jdbcType="VARCHAR" property="errorMessage" />

        <result column="rr_ltext" jdbcType="VARCHAR" property="rrLtext" />
        <result column="rr_prctr" jdbcType="VARCHAR" property="rrPrctr" />
        <result column="type" jdbcType="VARCHAR" property="type" />
    </resultMap>


    <resultMap extends="BaseResultMap" id="BaseResultMapVO"
               type="cn.com.personnel.ercp.pi.module.receivable.FssBillReceivableTransferVO">
        <result column="busi" jdbcType="VARCHAR" property="busi"/>
        <result column="buttonName" jdbcType="VARCHAR" property="buttonName"/>
    </resultMap>

    <update id="updFlNo">
    update fss_bill_receivable_transfer set transfer_id = #{transferId}
        <if test="groupNo != null">,group_no = #{groupNo}</if>
        <if test="entryNumber !=null">,entry_number= #{entryNumber}</if>
        <if test="entryStatus !=null">,entry_status= #{entryStatus}</if>
        <if test="documentNo !=null">,document_no= #{documentNo}</if>
        where transfer_id = #{transferId}
    </update>

    <select id="seltransferInfoById" parameterType="String" resultMap="BaseResultMap">
        select *
        from fss_bill_receivable_transfer
        where transfer_id = #{transferId}
    </select>
    <select id="getApplicationNumber" resultType="java.lang.String">
        SELECT #{prefix} || CASE WHEN res.str ISNULL THEN '0001' ELSE res.str END
        FROM (
            SELECT to_char(MAX(regexp_replace(apply_number, '(' || #{prefix} || ')(\d{4})', '\2', 'g') :: int + 1),
                                                            'FM0000') as str
            FROM fss_bill_receivable_transfer
            WHERE apply_number ~ ('^'|| #{prefix} ||'\d{4}$')
            ) res
    </select>

    <select id="getApplicationNumber1" resultType="java.lang.String">
        SELECT #{prefix} || CASE WHEN res.str ISNULL THEN '0001' ELSE res.str END
        FROM (
                 SELECT to_char(MAX(regexp_replace(rr_number, '(' || #{prefix} || ')(\d{4})', '\2', 'g') :: int + 1),
                                'FM0000') as str
                 FROM fss_bill_receivable_recite
                 WHERE rr_number ~ ('^'|| #{prefix} ||'\d{4}$')
             ) res
    </select>

    <!--这个是批量修改票据状态使数据不再显示-->
    <update id="deleteBillList">
        <if test="bill != null and bill.ids != null and bill.ids.size &gt; 0">
            update fss_bill_receivable_transfer set
            deleted=#{bill.deleted},updater=#{userId},update_time=CURRENT_TIMESTAMP
            <where>transfer_id in
                <foreach close=")" collection="bill.ids" item="id" open="(" separator=",">#{id}</foreach>
            </where>
        </if>
    </update>
    <!--这个是批量取消内部调拨单-->
    <update id="cancelBillList">
        <if test="bill != null and bill.ids != null and bill.ids.size &gt; 0">
            update fss_bill_receivable_transfer set
            deleted=#{bill.deleted},updater=#{userId},update_time=CURRENT_TIMESTAMP
            <where>transfer_id in
                <foreach close=")" collection="bill.ids" item="id" open="(" separator=",">#{id}</foreach>
            </where>
        </if>
    </update>
    <update id="updateFssBillReceivableInfoEntity">
    update fss_bill_receivable_info set upd_time=current_timestamp
    <if test="fssBillReceivableInfoEntity.signatureOne!=null">
        ,signature_one=#{fssBillReceivableInfoEntity.signatureOne}
    </if>
    <if test="fssBillReceivableInfoEntity.signatureTwo!=null">
        ,signature_two=#{fssBillReceivableInfoEntity.signatureTwo}
    </if>
    <if test="fssBillReceivableInfoEntity.signatureAll!=null">
        ,signature_all=#{fssBillReceivableInfoEntity.signatureAll}
    </if>
    where rece_id=#{fssBillReceivableInfoEntity.receId}
    </update>

    <select id="queryOrganList" resultMap="BaseResultMapVO">
        select *,vo.busi
        from fss_bill_receivable_transfer fbrt left join v_organ vo on fbrt.pay_company_id=vo.bukrs
        <where>and deleted ='1'
            <if test="bill.sDate != null and bill.sDate != ''">
                and fbrt.s_date = #{bill.sDate}
            </if>
            <if test="bill.applyNumber != null and bill.applyNumber != ''">
                and fbrt.apply_number like concat('%', #{bill.applyNumber}, '%')
            </if>
            <if test="bill.payInstance != null and bill.payInstance != ''">
                and fbrt.pay_instance like concat('%', #{bill.payInstance}, '%')
            </if>
            <if test="bill.payCompany != null and bill.payCompany != ''">
                and fbrt.pay_company like concat('%', #{bill.payCompany}, '%')
            </if>
            <if test="bill.drawerBank != null and bill.drawerBank != ''">
                and fbrt.drawer_bank like concat('%', #{bill.drawerBank}, '%')
            </if>
            <if test="bill.dataInvoice != null and bill.dataInvoice != ''">
                and fbrt.data_invoice like concat('%', #{bill.dataInvoice}, '%')
            </if>
            <if test="bill.dataExpire != null and bill.dataExpire != ''">
                and fbrt.data_expire like concat('%', #{bill.dataExpire}, '%')
            </if>
            <if test="bill.transferTypes != null  and bill.transferTypes.size &gt; 0">
                and fbrt.transfer_type in
                <foreach close=")" collection="bill.transferTypes" item="transferType" open="(" separator=",">#{transferType}</foreach>
            </if>
            <if test="bill.approvalStatuss != null  and bill.approvalStatuss.size &gt; 0">
                and fbrt.approval_status in
                <foreach close=")" collection="bill.approvalStatuss" item="approvalStatus" open="(" separator=",">#{approvalStatus}</foreach>
            </if>
            <if test="bill.rrPeoplePassivity != null and bill.rrPeoplePassivity != ''">
                and ( fbrt.rr_people_one like concat('%', #{bill.rrPeoplePassivity}, '%') or rr_people_two like concat('%',
                #{bill.rrPeoplePassivity}, '%')
                or fbrt.rr_people_three like concat('%', #{bill.rrPeoplePassivity}, '%') )
            </if>
            <if test="bill != null and bill.ids != null and bill.ids.size &gt; 0">
                and fbrt.transfer_id in
                <foreach close=")" collection="bill.ids" item="id" open="(" separator=",">#{id}</foreach>
            </if>
            <if test="userId != null and userId != '' ">
                and fbrt.pay_company_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
                and ur.user_id=#{userId} group by bu.bukrs)
            </if>
            <if test="bill.entryStatuss!=null and bill.entryStatuss.size() &gt; 0">
                and fbrt.entry_status in
                <foreach item="item" index="index" collection="bill.entryStatuss" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by create_time DESC
    </select>

    <select id="selectCreditByInstId" resultMap="BaseResultMap">
        SELECT *
        FROM fss_bill_receivable_transfer c
                 join fss_process_return_value v ON c.transfer_id = v.primary_key_id
        WHERE v.process_inst_id = #{processInstID}
        LIMIT 1
    </select>

    <!--查询数据已经背书的数据tan-->
    <select id="selFssBillReceivableInfos1" parameterType="cn.com.personnel.ercp.pi.module.receivable.BillReceivableSVO"
            resultType="cn.com.personnel.ercp.pi.module.receivable.BillReceivableSDTO">
        SELECT
        ri.rece_id as receId,
        ri.rece_number as receNumber,
        ri.s_date as sDate,
        ri.rece_money as receMoney,
        ri.c_date as cDate,
        ri.stop_date as stopDate,
        ri.rece_state as receState,
        ri.storage_state as storageState,
        ri.rece_form as receForm,
        ri.is_transfer as isTransfer,
        ri.is_state as isState,
        ri.currency as currency,
        ri.creator_id as creatorId,
        ri.creator as creator,
        ri.create_time as createTime,
        ri.upd_time as updTime,
        ri.currency_code as currencyCode,
        ri.company_id as companyId,
        ri.company_name as companyName,
        rd.rd_id as rdId,
        rd.admin_depart_id as adminDepartId,
        rd.admin_depart as adminDepart,
        rd.custodian_id as custodianId,
        rd.custodian,
        rd.phone,
        rd.safekeep_depart_id as safekeepDepartId,
        rd.safekeep_depart as safekeepDepart,
        rd.effective_date as effectiveDate,
        rd.fail_date as failDate,
        rder.drawer_id as drawerId,
        rder.drawer_name as drawerName,
        rder.drawer_number as drawerNumber,
        rder.drawer_bank_id as drawerBankId,
        rder.drawer_bank as drawerBank,
        rp.payee_id as payeeId,
        rp.payee_bank as payeeBank,
        rp.payee_name as payeeName,
        rp.payee_number as payeeNumber,
        rp.payee_bank_id as payeeBankId,
        rr.rr_id as rrId,
        rr.rr_type as rrType,
        rr.customer_a_id as customerAId,
        rr.customer_a_name as customerAName,
        rr.rr_sum_money as rrSumMoney,
        rr.rr_c_bank_name as rrCBankName,
        rr.rr_c_number as rrCNumber,
        rr.rr_c_bank_id as rrCBankId,
        rr.rr_date as rrDate,
        rr.rr_form as rrForm,
        rr.rr_form_number as rrFormNumber,
        rr.rr_number as rrNumber,
        rr.payment_in_number as paymentInNumber,
        rr.handover_person as handoverPerson,
        rr.handover_person_id as handoverPersoId,
        rr.remarks as remarks,
        rr.customer_b_id as customerBId,
        rr.customer_b_name as customerBName,
        rr.rr_cb_bank_name as rrCbBankName,
        rr.rr_cb_bank_id as rrCbBankId,
        rr.rr_cb_number as rrCbNumber,
        rr.up_rr_type as upRrType,
        rr.up_customer_id as upCustomerId,
        rr.up_customer_name as upCustomerName,
        tra.transfer_id as transferId,
        tra.apply_number as applyNumber,
        tra.transfer_type as transferType
        FROM
        fss_bill_receivable_info ri
        LEFT JOIN fss_bill_receivable_depart rd ON ri.rd_id = rd.rd_id
        LEFT JOIN fss_bill_receivable_drawer rder ON ri.rece_id = rder.rece_id
        LEFT JOIN fss_bill_receivable_payee rp ON ri.rece_id = rp.rece_id
        LEFT JOIN fss_bill_receivable_recite rr ON ri.rr_id = rr.rr_id
        LEFT JOIN fss_bill_receivable_transfer tra ON ri.transfer_id = tra.transfer_id
        WHERE
        <if test="bill.receNumberStart!=null">
            ri.rece_number = #{bill.receNumberStart}
        </if>
        and rr.rr_form_number in
        <foreach close=")" collection="ids" item="id" open="(" separator=",">#{id}</foreach>

        ORDER BY receNumber
    </select>
    <select id="getReceivableInfoByTId"
            resultType="cn.com.personnel.ercp.pi.module.receivable.BillReceivableInfoDTO">
        SELECT ri.rece_id            as receId,
               ri.rece_number        as receNumber,
               ri.transfer_id        as transferId,
               ri.enter_transfer_id        as enterTransferId,
               ri.signature_state    as signatureState,
               ri.rr_id as rrId
        FROM fss_bill_receivable_info ri
                 LEFT JOIN fss_bill_receivable_depart rd ON rd.rd_id = ri.rd_id
                 LEFT JOIN fss_bill_receivable_drawer rder ON ri.rece_id = rder.rece_id
                 LEFT JOIN fss_bill_receivable_payee rp ON ri.rece_id = rp.rece_id
                 LEFT JOIN fss_bill_receivable_recite rr ON ri.rece_id = rr.rece_id
                 LEFT JOIN fss_bill_receivable_collection col ON ri.rece_id = col.rece_id
                 LEFT JOIN fss_bill_receivable_pledge ple ON ri.rece_id = ple.rece_id
                 LEFT JOIN fss_bill_receivable_transfer tra ON ri.transfer_id = tra.transfer_id
        WHERE ri.transfer_id = #{transferId} or ri.enter_transfer_id = #{transferId}
        ORDER BY ri.rece_number</select>

    <!--查询数据-->
    <select id="selFssBillReceivableInfos" parameterType="cn.com.personnel.ercp.pi.module.receivable.BillReceivableSVO"
            resultType="cn.com.personnel.ercp.pi.module.receivable.BillReceivableSDTO">
        SELECT
        ri.rece_id as receId,
        ri.rece_number as receNumber
        FROM
        fss_bill_receivable_info ri
        LEFT JOIN fss_bill_receivable_depart rd ON ri.rd_id = rd.rd_id
        LEFT JOIN fss_bill_receivable_drawer rder ON ri.rece_id = rder.rece_id
        LEFT JOIN fss_bill_receivable_payee rp ON ri.rece_id = rp.rece_id
        LEFT JOIN fss_bill_receivable_recite rr ON ri.rr_id = rr.rr_id
        LEFT JOIN fss_bill_receivable_transfer tra ON ri.transfer_id = tra.transfer_id
        WHERE
        signature_state != '0'
        <if test="receNumberStart!=null">
            and ri.rece_number = #{receNumberStart}
        </if>
        ORDER BY receNumber
    </select>
    <!--查询数据1-->
    <select id="selFssBillReceivableInfos2" parameterType="cn.com.personnel.ercp.pi.module.receivable.BillReceivableSVO"
            resultType="cn.com.personnel.ercp.pi.module.receivable.BillReceivableSDTO">
        SELECT
        ri.rece_id as receId,
        ri.rece_number as receNumber
        FROM
        fss_bill_receivable_info ri
        LEFT JOIN fss_bill_receivable_depart rd ON ri.rd_id = rd.rd_id
        LEFT JOIN fss_bill_receivable_drawer rder ON ri.rece_id = rder.rece_id
        LEFT JOIN fss_bill_receivable_payee rp ON ri.rece_id = rp.rece_id
        LEFT JOIN fss_bill_receivable_recite rr ON ri.rr_id = rr.rr_id
        LEFT JOIN fss_bill_receivable_transfer tra ON ri.transfer_id = tra.transfer_id
        WHERE
        signature_state='0'
        <if test="receNumberStart!=null">
            and ri.rece_number = #{receNumberStart}
        </if>
        ORDER BY receNumber
    </select>
    <select id="selectBusi" resultType="java.lang.String">
        select busi from v_organ where bukrs=#{payCompanyId} limit 1
    </select>

</mapper>
