<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.credit.bond.FssBondAccrualInterestMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.credit.bond.FssBondAccrualInterest" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accrual_id" property="accrualId" jdbcType="VARCHAR" />
    <result column="bond_id" property="bondId" jdbcType="VARCHAR" />
    <result column="payment_date" property="paymentDate" jdbcType="VARCHAR" />
    <result column="bond_maturity_month" property="bondMaturityMonth" jdbcType="NUMERIC" />
    <result column="face_amount" property="faceAmount" jdbcType="NUMERIC" />
    <result column="issue_rate" property="issueRate" jdbcType="NUMERIC" />
    <result column="underwriting_expenses" property="underwritingExpenses" jdbcType="NUMERIC" />
    <result column="present_value" property="presentValue" jdbcType="NUMERIC" />
    <result column="face_interest" property="faceInterest" jdbcType="NUMERIC" />
    <result column="payable_due" property="payableDue" jdbcType="NUMERIC" />
    <result column="issuance_period" property="issuancePeriod" jdbcType="VARCHAR" />
    <result column="value_date" property="valueDate" jdbcType="VARCHAR" />
    <result column="monthly_effective_rate" property="monthlyEffectiveRate" jdbcType="NUMERIC" />
    <result column="cash_flow" property="cashFlow" jdbcType="NUMERIC" />
    <result column="interest" property="interest" jdbcType="NUMERIC" />
    <result column="actual_interest" property="actualInterest" jdbcType="NUMERIC" />
    <result column="amortized_amount" property="amortizedAmount" jdbcType="NUMERIC" />
    <result column="apportioned_amount" property="apportionedAmount" jdbcType="NUMERIC" />
    <result column="principal_repayment" property="principalRepayment" jdbcType="NUMERIC" />
    <result column="entry_status" property="entryStatus" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="entry_number" jdbcType="VARCHAR" property="entryNumber" />
    <result column="group_no" jdbcType="VARCHAR" property="groupNo" />
    <result column="error_message" jdbcType="VARCHAR" property="errorMessage" />
    <result column="sap_document_no" jdbcType="VARCHAR" property="sapDocumentNo" />
    <result column="reversal_status" jdbcType="VARCHAR" property="reversalStatus" />
    <result column="assigned_number" jdbcType="VARCHAR" property="assignedNumber" />
    <result column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="currency_code" jdbcType="VARCHAR" property="currencyCode" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
  </resultMap>
  
  <select id="queryEntryAccruals" resultMap="BaseResultMap">
    select * from fss_bond_accrual_interest i
    <where>
      i.entry_status in ('入账中', '已入账')
        <if test="bondId != null and bondId != ''">
          and i.bond_id=#{bondId}
        </if>
    </where>
    order by i.payment_date
  </select>

  <delete id="deleteNotEntry">
    delete from fss_bond_accrual_interest i where i.entry_status not in ('入账中', '已入账') and i.bond_id=#{bondId}
  </delete>

  <select id="getAssignedNumber" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
      #{ prefix } || CASE WHEN res.str ISNULL THEN '00000001' ELSE res.str END
    FROM (
           SELECT
             to_char(MAX(regexp_replace(assigned_number,'('|| #{ prefix } ||')(\d{8})','\2','g')::int + 1), 'FM00000000') as str
           FROM
             fss_bond_accrual_interest
           WHERE assigned_number ~ ('^'|| #{ prefix } ||'\d{8}$')
         ) res
  </select>

  <select id="queryNotEntryAccruals" resultMap="BaseResultMap">
    select * from fss_bond_accrual_interest i where i.entry_status not in ('入账中', '已入账')
    and i.accrual_id not in (select sub_id from fss_bond_accounting_documents group by sub_id)
    <if test="startDate !=null and startDate != ''">
      and payment_date &gt;=#{startDate}
    </if>
    <if test="endDate !=null and endDate != ''">
      and payment_date &lt;#{endDate}
    </if>
    order by bond_id,payment_date
  </select>
</mapper>