<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.credit.bond.FssBondDealWithIssueMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.credit.bond.FssBondDealWithIssue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="dw_id" jdbcType="VARCHAR" property="dwId" />
    <result column="bond_id" jdbcType="VARCHAR" property="bondId" />
    <result column="fbia_id" jdbcType="VARCHAR" property="fbiaId" />
    <result column="application_number" jdbcType="VARCHAR" property="applicationNumber" />
    <result column="bond_name" jdbcType="VARCHAR" property="bondName" />
    <result column="bond_abbreviation" jdbcType="VARCHAR" property="bondAbbreviation" />
    <result column="head_id" jdbcType="VARCHAR" property="headId" />
    <result column="head_code" jdbcType="VARCHAR" property="headCode" />
    <result column="head_name" jdbcType="VARCHAR" property="headName" />
    <result column="bond_code" jdbcType="VARCHAR" property="bondCode" />
    <result column="bond_level_id" jdbcType="VARCHAR" property="bondLevelId" />
    <result column="bond_level" jdbcType="VARCHAR" property="bondLevel" />
    <result column="actual_raised_funds" jdbcType="NUMERIC" property="actualRaisedFunds" />
    <result column="face_amount" jdbcType="NUMERIC" property="faceAmount" />
    <result column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="currency_code" jdbcType="VARCHAR" property="currencyCode" />
    <result column="currency_name" jdbcType="VARCHAR" property="currencyName" />
    <result column="issue_date" jdbcType="VARCHAR" property="issueDate" />
    <result column="issue_rate" jdbcType="NUMERIC" property="issueRate" />
    <result column="deadline_method" jdbcType="VARCHAR" property="deadlineMethod" />
    <result column="bond_maturity_id" jdbcType="VARCHAR" property="bondMaturityId" />
    <result column="bond_maturity" jdbcType="VARCHAR" property="bondMaturity" />
    <result column="value_date" jdbcType="VARCHAR" property="valueDate" />
    <result column="redemption_date" jdbcType="VARCHAR" property="redemptionDate" />
    <result column="interest_payment_periods" jdbcType="VARCHAR" property="interestPaymentPeriods" />
    <result column="interest_payment_interval" jdbcType="VARCHAR" property="interestPaymentInterval" />
    <result column="underwriting_expenses" jdbcType="NUMERIC" property="underwritingExpenses" />
    <result column="underwriting_expenses_description" jdbcType="VARCHAR" property="underwritingExpensesDescription" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="interest_payment_method" jdbcType="VARCHAR" property="interestPaymentMethod" />
  </resultMap>
  <resultMap id="BaseResultMapVO" extends="BaseResultMap" type="cn.com.personnel.ercp.pi.module.credit.FssBondDealWithIssueVO">
      <result column="approval_start_date" jdbcType="VARCHAR" property="approvalStartDate" />
      <result column="registration_quota" jdbcType="NUMERIC" property="registrationQuota" />
      <result column="organ_name" jdbcType="VARCHAR" property="organName" />
      <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
      <result column="bond_balance" jdbcType="VARCHAR" property="bondBalance" />
      <result column="interest_payable_balance" jdbcType="NUMERIC" property="interestPayableBalance" />
      <result column="interest_balance_one_year" jdbcType="NUMERIC" property="interestBalanceOneYear" />
  </resultMap>
  <resultMap id="BaseResultMap1" extends="BaseResultMap" type="cn.com.personnel.ercp.pi.module.credit.BondAccrualVO">

  </resultMap>
  <select id="queryBondDealWithIssueList" resultMap="BaseResultMap">
    select d.* from fss_bond_deal_with_issue d
    <where>
        <if test="bondId != null and bondId != ''">
             d.bond_id=#{bondId}
        </if>
        <if test="startDate != null and startDate != ''">
           and d.issue_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
           and d.issue_date &lt;= #{endDate}
        </if>
    </where>
    order by d.create_time desc
  </select>
<!-- 债券信息查询表-->
    <select id="queryBondInfoList" resultMap="BaseResultMapVO">
        select issue.dw_id,info.bond_id,issue.head_name,info.organ_name,info.contract_name,issue.actual_raised_funds,issue.face_amount,issue.currency_name,
        issue.issue_rate,issue.value_date,issue.redemption_date,issue.deadline_method,issue.bond_maturity,issue.underwriting_expenses,
        issue.underwriting_expenses_description,issue.interest_payment_interval,issue.interest_payment_periods
        from fss_bond_deal_with_issue issue join fss_bond_info info on issue.bond_id=info.bond_id
        <where>
            <if test="organName != null and organName != ''">
                and info.organ_name like concat('%', #{organName}, '%')
            </if>
            <if test="headName != null and headName != ''">
                and issue.head_name like concat('%', #{headName}, '%')
            </if>
            <if test="contractName != null and contractName != ''">
                and info.contract_name =  #{contractName}
            </if>
            <if test="currencyName != null and currencyName != ''">
                and issue.currency_name=#{currencyName}
            </if>
            <if test="startValueDate != null and startValueDate != ''">
                and issue.value_date &gt;= #{startValueDate}
            </if>
            <if test="endValueDate != null and endValueDate != ''">
                and issue.value_date &lt;= #{endValueDate}
            </if>
            <if test="startCashDate != null and startCashDate != ''">
                and issue.redemption_date &gt;= #{startCashDate}
            </if>
            <if test="endCashDate != null and endCashDate != ''">
                and issue.redemption_date &lt;= #{endCashDate}
            </if>
            <if test="creator != null and creator != ''">
                and info.organ_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
                and ur.user_id=#{creator} group by bu.bukrs)
            </if>
        </where>
        order by issue.create_time desc
    </select>

  <select id="selectExpireReminderList" resultType="cn.com.personnel.ercp.pi.persistence.entity.credit.bond.FssBondExpireReminder">
    SELECT
      commercian_unit as commercianUnit,
      organ_name as organName,
      bond_name as bondName,
      head_name as headName,
      plan_date as planDate,
	days,
	SUM ( plan_repayment_amount ) AS planRepaymentAmount,
	SUM ( plan_interest_pay_amount ) AS planInterestPayAmount
FROM
	(
	SELECT
		*
	FROM
		(
		SELECT
			info.commercian_unit AS commercian_unit,
			info.organ_name AS organ_name,
			issue.bond_name AS bond_name,
			issue.head_name AS head_name,
			repayment.plan_date AS plan_date,
            to_date(repayment.plan_date,'yyyy-MM-dd')  - CURRENT_DATE  AS days,
			repayment.plan_repayment_amount AS plan_repayment_amount,
			0 AS plan_interest_pay_amount
		FROM
          fss_bond_info info join fss_bond_deal_with_issue issue on info.bond_id = issue.bond_id
          join fss_bond_repayment_plan repayment on issue.dw_id = repayment.dw_id
          <where> to_date(repayment.plan_date,'yyyy-MM-dd') &gt;= CURRENT_DATE
              <if test="fssBondExpireReminder.creator != null and fssBondExpireReminder.creator !=''">
                  and info.organ_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
                  and ur.user_id=#{fssBondExpireReminder.creator} group by bu.bukrs)
              </if>
              <if test="fssBondExpireReminder.payExpireDate != null and fssBondExpireReminder.payExpireDate !=''">
                  and to_date(repayment.plan_date,'yyyy-MM-dd') &lt;= to_date(#{fssBondExpireReminder.payExpireDate},'yyyy-MM-dd')
              </if>
          </where>
		) A UNION
	SELECT
		*
	FROM
		(
		SELECT
			info.commercian_unit AS commercian_unit,
			info.organ_name AS organ_name,
			issue.bond_name AS bond_name,
			issue.head_name AS head_name,
			payment.plan_date AS plan_date,
            to_date(payment.plan_date,'yyyy-MM-dd') - CURRENT_DATE AS days,
			0 AS plan_repayment_amount,
			payment.plan_interest_pay_amount AS plan_interest_pay_amount
		FROM
          fss_bond_info info join	fss_bond_deal_with_issue issue on info.bond_id = issue.bond_id
          join fss_bond_interest_payment_plan payment on issue.dw_id=payment.dw_id
      <where> to_date(payment.plan_date,'yyyy-MM-dd') &gt;= CURRENT_DATE
          <if test="fssBondExpireReminder.creator != null and fssBondExpireReminder.creator !=''">
              and info.organ_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
              and ur.user_id=#{fssBondExpireReminder.creator} group by bu.bukrs)
          </if>
          <if test="fssBondExpireReminder.payExpireDate != null and fssBondExpireReminder.payExpireDate !=''">
              and to_date(payment.plan_date,'yyyy-MM-dd') &lt;= to_date(#{fssBondExpireReminder.payExpireDate},'yyyy-MM-dd')
          </if>
      </where>
		) b
	) C
    <where>
      <if test="fssBondExpireReminder.commercianUnit != null and fssBondExpireReminder.commercianUnit != ''">
          commercian_unit=#{fssBondExpireReminder.commercianUnit}
      </if>
      <if test="fssBondExpireReminder.organName != null and fssBondExpireReminder.organName != ''">
        and organ_name=#{fssBondExpireReminder.organName}
      </if>
      <if test="fssBondExpireReminder.bondName != null and fssBondExpireReminder.bondName != ''">
        and bond_name=#{fssBondExpireReminder.bondName}
      </if>
      <if test="fssBondExpireReminder.headName != null and fssBondExpireReminder.headName != ''">
        and head_name=#{fssBondExpireReminder.headName}
      </if>
    </where>
GROUP BY
      plan_date,
      commercian_unit,
      organ_name,
      head_name,
      bond_name,
	days

  </select>

  <select id="queryFaceAmount" resultMap="BaseResultMap1">
    select sum(face_amount) as face_amount,sum(underwriting_expenses) as underwriting_expenses from fss_bond_deal_with_issue where bond_id=#{bondId}
  </select>

  <select id="queryFaceAmountPriority" resultMap="BaseResultMap1">
    select sum(face_amount) as face_amount,sum(underwriting_expenses) as underwriting_expenses from fss_bond_deal_with_issue where bond_id=#{bondId}
    and bond_level='优先级'
  </select>

  <select id="queryIssueRate" resultMap="BaseResultMap1">
    select issue_rate from fss_bond_deal_with_issue where bond_id=#{bondId} group by issue_rate
  </select>

  <select id="queryDeadline" resultMap="BaseResultMap">
    select deadline_method,bond_maturity_id,bond_maturity from fss_bond_deal_with_issue where bond_id=#{bondId}
    group by deadline_method,bond_maturity_id,bond_maturity
  </select>

  <select id="queryValueDate" resultMap="BaseResultMap">
    select value_date from fss_bond_deal_with_issue where bond_id=#{bondId}
    group by value_date
  </select>

    <select id="queryBalance" resultMap="BaseResultMapVO">
        select i.face_amount-COALESCE(dr.this_repayment,0) as face_amount
        from fss_bond_deal_with_issue i left join
        (select r.dw_id,sum(r.this_repayment) as this_repayment from fss_bond_redeem r where r.dw_id=#{dwId} group by r.dw_id) as dr
        on dr.dw_id=i.dw_id where i.dw_id=#{dwId}
    </select>
    <!--债券余额查询表 -->
    <select id="queryBondBalanceList" resultMap="BaseResultMapVO">
        SELECT
        issue.dw_id,
        issue.head_name,
        issue.bond_name,
        issue.bond_abbreviation,
        info.organ_name,
        info.contract_name,
        issue.actual_raised_funds,
        issue.face_amount,
        issue.currency_name,
        issue.issue_rate,
        issue.value_date,
        issue.redemption_date,
        issue.deadline_method,
        issue.bond_maturity,
        issue.interest_payment_interval,
        issue.interest_payment_periods,
        (select coalesce ( sum(repayment.plan_repayment_amount),0 )
        from fss_bond_repayment_plan repayment  where to_date(repayment.plan_date,'yyyy-MM-dd') &gt;= #{fssBondDealWithIssueVO.queryDeadDate}
        AND repayment.dw_id = issue.dw_id) AS bond_balance,
        (select coalesce (sum(interest.plan_interest_pay_amount),0 ) from fss_bond_interest_payment_plan interest where interest.dw_id = issue.dw_id
        and to_date(interest.plan_date,'yyyy-MM-dd') &gt;= #{fssBondDealWithIssueVO.queryDeadDate})AS interest_payable_balance,
        (SELECT coalesce( sum(repayment.plan_repayment_amount),0 ) FROM fss_bond_repayment_plan repayment
        WHERE to_date(repayment.plan_date,'yyyy-MM-dd') &gt;= #{fssBondDealWithIssueVO.queryDeadDate}
        and repayment.plan_date &lt;= #{afeteOneYear}
        AND repayment.dw_id = issue.dw_id) AS interest_balance_one_year
        FROM fss_bond_deal_with_issue issue join fss_bond_info info on issue.bond_id = info.bond_id
        <where>
            <if test="fssBondDealWithIssueVO.creator != null and fssBondDealWithIssueVO.creator != ''">
                info.organ_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
                and ur.user_id=#{fssBondDealWithIssueVO.creator} group by bu.bukrs)
            </if>
        </where>
        group by issue.head_name,
        issue.bond_name,
        issue.bond_abbreviation,
        info.organ_name,
        info.contract_name,
        issue.actual_raised_funds,
        issue.face_amount,
        issue.currency_name,
        issue.issue_rate,
        issue.value_date,
        issue.redemption_date,
        issue.deadline_method,
        issue.bond_maturity,
        issue.dw_id
    </select>
<select id="calculateDifference" resultType="java.math.BigDecimal">
 select SUM( repayment.plan_repayment_amount ) - SUM ( redeem.this_repayment )
        FROM
        fss_bond_redeem redeem,
        fss_bond_repayment_plan repayment
        WHERE
        to_date(repayment.plan_date,'yyyy-MM-dd')<![CDATA[ <= ]]> #{queryDeadDate}
        AND redeem.dw_id = issue.dw_id
        AND redeem.dw_id = repayment.dw_id
        and  redeem.plan_id=repayment.plan_id)
</select>

    <select id="getBondDealWithIssueList" resultMap="BaseResultMap">
        select d.* from fss_bond_deal_with_issue d
        <where> d.dw_id in
            (select p.dw_id from fss_bond_repayment_plan p left join
            (select r.plan_id,sum(r.this_repayment) as this_repayment from fss_bond_redeem r where r.dw_id=d.dw_id group by r.plan_id) as dr
            on p.plan_id=dr.plan_id
            where p.dw_id=d.dw_id and p.plan_repayment_amount-COALESCE(dr.this_repayment,0) > 0)
            <if test="bondId != null and bondId != ''">
                and d.bond_id=#{bondId}
            </if>
            <if test="startDate != null and startDate != ''">
                and d.issue_date &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and d.issue_date &lt;= #{endDate}
            </if>
        </where>
        order by d.create_time desc
    </select>



</mapper>