<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.collectionAccount.FssCreditCollectionAccountInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.collectionAccount.FssCreditCollectionAccountInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cca_id" property="ccaId" jdbcType="VARCHAR" />
    <result column="applicant_id" property="applicantId" jdbcType="VARCHAR" />
    <result column="applicant_name" property="applicantName" jdbcType="VARCHAR" />
    <result column="applicant_date" property="applicantDate" jdbcType="VARCHAR" />
    <result column="financing_method_id" property="financingMethodId" jdbcType="VARCHAR" />
    <result column="financing_method" property="financingMethod" jdbcType="VARCHAR" />
    <result column="receiving_unit_id" property="receivingUnitId" jdbcType="VARCHAR" />
    <result column="receiving_unit" property="receivingUnit" jdbcType="VARCHAR" />
    <result column="financing_amount" property="financingAmount" jdbcType="NUMERIC" />
    <result column="financing_date" property="financingDate" jdbcType="VARCHAR" />
    <result column="financing_number" property="financingNumber" jdbcType="VARCHAR" />
    <result column="promise_payer_id" property="promisePayerId" jdbcType="VARCHAR" />
    <result column="promise_payer" property="promisePayer" jdbcType="VARCHAR" />
    <result column="funder_id" property="funderId" jdbcType="VARCHAR" />
    <result column="funder" property="funder" jdbcType="VARCHAR" />
    <result column="commitment_payment_date" property="commitmentPaymentDate" jdbcType="VARCHAR" />
    <result column="financing_status" property="financingStatus" jdbcType="VARCHAR" />
    <result column="business_owners_id" property="businessOwnersId" jdbcType="VARCHAR" />
    <result column="business_owners" property="businessOwners" jdbcType="VARCHAR" />
    <result column="loan_date" property="loanDate" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="reverse" property="reverse" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryCollectionAccountList" resultMap="BaseResultMap">
    select * from fss_credit_collection_account_info
    <where>
      <if test="financingMethod != null and financingMethod != ''">
        financing_method like concat('%', #{financingMethod}, '%')
      </if>
      <if test="receivingUnit != null and receivingUnit != ''">
        and receiving_unit like concat('%', #{receivingUnit}, '%')
      </if>
      <if test="financingAmount != null">
        and to_char(financing_amount, '99999999999999.99999') like concat('%', #{financingAmount}, '%')
      </if>
      <if test="financingNumber != null and financingNumber != ''">
        and financing_number like concat('%', #{financingNumber}, '%')
      </if>
      <if test="promisePayer != null and promisePayer != ''">
        and promise_payer like concat('%', #{promisePayer}, '%')
      </if>
      <if test="funder != null and funder != ''">
        and funder like concat('%', #{funder}, '%')
      </if>
      <if test="financingStatus != null and financingStatus != ''">
        and financing_status like concat('%', #{financingStatus}, '%')
      </if>
      <if test="businessOwnersId != null and businessOwnersId != ''">
        and business_owners_id like concat('%', #{businessOwnersId}, '%')
      </if>
      <if test="businessOwners != null and businessOwners != ''">
        and business_owners like concat('%', #{businessOwners}, '%')
      </if>
      <if test="applicantId != null and applicantId != ''">
        and applicant_id like concat('%', #{applicantId}, '%')
      </if>
      <if test="applicantName != null and applicantName != ''">
        and applicant_name like concat('%', #{applicantName}, '%')
      </if>
      <if test="financingDateStart != null and financingDateStart != ''">
        and financing_date &gt;= #{financingDateStart}
      </if>
      <if test="financingDateEnd != null and financingDateEnd != ''">
        and financing_date &lt;= #{financingDateEnd}
      </if>
      <if test="commitmentPaymentDateStart != null and commitmentPaymentDateStart != ''">
        and commitment_payment_date &gt;= #{commitmentPaymentDateStart}
      </if>
      <if test="commitmentPaymentDateEnd != null and commitmentPaymentDateEnd != ''">
        and commitment_payment_date &lt;= #{commitmentPaymentDateEnd}
      </if>
      <if test="loanDateStart != null and loanDateStart != ''">
        and loan_date &gt;= #{loanDateStart}
      </if>
      <if test="loanDateEnd != null and loanDateEnd != ''">
        and loan_date &lt;= #{loanDateEnd}
      </if>
    </where>
    order by create_time desc
  </select>

  <delete id="deleteCollectionAccount">
    <if test="ids != null and ids.size &gt; 0">
      delete from fss_credit_collection_account_info where cca_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")"> #{id} </foreach>
    </if>
  </delete>

  <update id="changeLoanDate">
    <if test="ids != null and ids.size &gt; 0 and loanDate != null and loanDate != ''">
      update fss_credit_collection_account_info set loan_date=#{loanDate},financing_status='已放款' where cca_id in
      <foreach collection="ids" item="id" separator="," open="(" close=")"> #{id} </foreach>
    </if>
  </update>

  <select id="selectCollectionAccountByNum" resultMap="BaseResultMap">
    select * from fss_credit_collection_account_info where financing_number = #{financingNumber} order by update_time desc limit 1
  </select>
</mapper>