<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.innerLoan.FssInnerLoanContractPayInterestMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.innerLoan.FssInnerLoanContractPayInterest" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="interest_id" property="interestId" jdbcType="VARCHAR" />
    <result column="business_date" property="businessDate" jdbcType="DATE" />
    <result column="currency_type" property="currencyType" jdbcType="VARCHAR" />
    <result column="exchange_rate" property="exchangeRate" jdbcType="NUMERIC" />
    <result column="pay_interest_amount" property="payInterestAmount" jdbcType="NUMERIC" />
    <result column="after_discount_amount" property="afterDiscountAmount" jdbcType="NUMERIC" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="credit_status" property="creditStatus" jdbcType="VARCHAR" />
    <result column="credit_date" property="creditDate" jdbcType="DATE" />
    <result column="calculation_status" property="calculationStatus" jdbcType="VARCHAR" />
    <result column="sap_document_no" property="sapDocumentNo" jdbcType="VARCHAR" />
    <result column="error_message" property="errorMessage" jdbcType="VARCHAR" />
    <result column="reversal_status" property="reversalStatus" jdbcType="VARCHAR" />
    <result column="revision" property="revision" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="lender_company_name" property="lenderCompanyName" jdbcType="VARCHAR" />
    <result column="lender_company_id" property="lenderCompanyId" jdbcType="VARCHAR" />
    <result column="manage_id" property="manageId" jdbcType="VARCHAR" />
    <result column="group_no" property="groupNo" jdbcType="VARCHAR"/>
    <result column="entry_number" property="entryNumber" jdbcType="VARCHAR"/>
    <result column="actual_payinterest_date" property="actualPayinterestDate" jdbcType="DATE"/>
    <result column="sap_reversal_document_no" jdbcType="VARCHAR" property="sapReversalDocumentNo" />
    <result column="reversal_error_message" jdbcType="VARCHAR" property="reversalErrorMessage" />
  </resultMap>
  <select id="queryList" resultMap="BaseResultMap">
    select * from fss_inner_loan_contract_pay_interest
    <where>
      <if test="payInterestVo.manageId !=null and payInterestVo.manageId !=''">
        and manage_id =#{payInterestVo.manageId}
      </if>
      <if test="payInterestVo.creditStatus !=null and payInterestVo.creditStatus !=''">
        and credit_status=#{payInterestVo.creditStatus}
      </if>
      <if test="payInterestVo.startDate !=null ">
        and business_date &gt;=#{payInterestVo.startDate}
      </if>
      <if test="payInterestVo.businessDate !=null ">
        and business_date =#{payInterestVo.businessDate}
      </if>
      <if test="payInterestVo.endDate !=null ">
        and business_date &lt;=#{payInterestVo.endDate}
      </if>
      <if test="payInterestVo.source !=null ">
        and source =#{payInterestVo.source}
      </if>
    </where>
order by business_date asc
  </select>

  <select id="selectExpireReminderList" resultType="cn.com.personnel.ercp.pi.module.innerLoan.FssInnerLoanContractPayInterestReminder">
    select manage.contract_num AS contractNum,
    manage.contract_name AS contractName,
    manage.company_name AS companyName,
    manage.lender_company_name AS lenderCompanyName,
    interest.business_date AS businessDate,
    interest.business_date - CURRENT_DATE AS days,
    interest.currency_type AS currencyType,
    interest.pay_interest_amount AS payInterestAmount
    FROM
    fss_inner_loan_contract_manage manage,
    fss_inner_loan_contract_pay_interest interest
    where manage.manage_id=interest.manage_id
    <if test="payInterestReminder.expireDate != null and payInterestReminder.expireDate != ''">
      and interest.business_date <![CDATA[ >= ]]>CURRENT_DATE and interest.business_date <![CDATA[ <= ]]> to_date(#{payInterestReminder.expireDate},'yyyy-MM-dd')
    </if>
    <if test="payInterestReminder.companyName != null and payInterestReminder.companyName != ''">
      and manage.company_name like concat('%', #{payInterestReminder.companyName}, '%')
    </if>
    <if test="payInterestReminder.lenderCompanyName != null and payInterestReminder.lenderCompanyName != ''">
      and manage.lender_company_name like concat('%', #{payInterestReminder.lenderCompanyName}, '%')
    </if>
    <if test="payInterestReminder.contractNum != null and payInterestReminder.contractNum != ''">
      and manage.contract_num like concat('%', #{payInterestReminder.contractNum}, '%')
    </if>
    <if test="payInterestReminder.contractName != null and payInterestReminder.contractName != ''">
      and manage.contract_name = #{payInterestReminder.contractName}
    </if>
    order by days asc
  </select>

  <select id="queryNotEntryAccruals" resultMap="BaseResultMap">
    select * from fss_inner_loan_contract_pay_interest i where i.credit_status not in ('入账中', '已入账') order by manage_id,credit_date
  </select>

  <select id="queryNotComputeList" resultMap="BaseResultMap">
    select * from  fss_inner_loan_contract_pay_interest
    <where> (source='手工' or credit_status!='未入账')
      <if test="payInterestVo.manageId !=null and payInterestVo.manageId !=''">
        and manage_id =#{payInterestVo.manageId}
      </if>
    </where>
  </select>
</mapper>