<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.innerLoan.FssInnerLoanPreRepaymentApplyMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.innerLoan.FssInnerLoanPreRepaymentApply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="repayment_apply_id" jdbcType="VARCHAR" property="repaymentApplyId" />
    <result column="manage_id" jdbcType="VARCHAR" property="manageId" />
    <result column="apply_no" jdbcType="VARCHAR" property="applyNo" />
    <result column="apply_user_id" jdbcType="VARCHAR" property="applyUserId" />
    <result column="apply_user" jdbcType="VARCHAR" property="applyUser" />
    <result column="apply_date" jdbcType="VARCHAR" property="applyDate" />
    <result column="apply_dept" jdbcType="VARCHAR" property="applyDept" />
    <result column="apply_dept_id" jdbcType="VARCHAR" property="applyDeptId" />
    <result column="process_summary" jdbcType="VARCHAR" property="processSummary" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="contract_num" jdbcType="VARCHAR" property="contractNum" />
    <result column="is_sign_contract" jdbcType="VARCHAR" property="isSignContract" />
    <result column="contract_signing_date" jdbcType="VARCHAR" property="contractSigningDate" />
    <result column="borrowing_method" jdbcType="VARCHAR" property="borrowingMethod" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="lender_company_name" jdbcType="VARCHAR" property="lenderCompanyName" />
    <result column="lender_company_id" jdbcType="VARCHAR" property="lenderCompanyId" />
    <result column="loan_term_month" jdbcType="NUMERIC" property="loanTermMonth" />
    <result column="loan_term_year" jdbcType="VARCHAR" property="loanTermYear" />
    <result column="loan_start_date" jdbcType="VARCHAR" property="loanStartDate" />
    <result column="loan_end_date" jdbcType="VARCHAR" property="loanEndDate" />
    <result column="currency_type" jdbcType="VARCHAR" property="currencyType" />
    <result column="currency_type_id" jdbcType="VARCHAR" property="currencyTypeId" />
    <result column="exchange_rate" jdbcType="NUMERIC" property="exchangeRate" />
    <result column="loan_amount" jdbcType="NUMERIC" property="loanAmount" />
    <result column="withdrawn_amount" jdbcType="NUMERIC" property="withdrawnAmount" />
    <result column="repayment_amount" jdbcType="NUMERIC" property="repaymentAmount" />
    <result column="interest_rate_type_id" jdbcType="VARCHAR" property="interestRateTypeId" />
    <result column="interest_rate_type" jdbcType="VARCHAR" property="interestRateType" />
    <result column="interest_rate_float_way" jdbcType="VARCHAR" property="interestRateFloatWay" />
    <result column="float_rate" jdbcType="NUMERIC" property="floatRate" />
    <result column="adjust_interest_way" jdbcType="VARCHAR" property="adjustInterestWay" />
    <result column="adjust_interest_date" jdbcType="VARCHAR" property="adjustInterestDate" />
    <result column="adjust_interest_specific_time" jdbcType="DATE" property="adjustInterestSpecificTime" />
    <result column="adjust_interest_interval" jdbcType="VARCHAR" property="adjustInterestInterval" />
    <result column="repayment_type" jdbcType="VARCHAR" property="repaymentType" />
    <result column="interest_settle_way" jdbcType="VARCHAR" property="interestSettleWay" />
    <result column="repayment_date" jdbcType="VARCHAR" property="repaymentDate" />
    <result column="apply_repayment_amount" jdbcType="NUMERIC" property="applyRepaymentAmount" />
    <result column="convert_into_rmb" jdbcType="NUMERIC" property="convertIntoRmb" />
    <result column="repayment_source" jdbcType="VARCHAR" property="repaymentSource" />
    <result column="prepayment_reason" jdbcType="VARCHAR" property="prepaymentReason" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="approval_status" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="business_unit_id" jdbcType="VARCHAR" property="businessUnitId" />
    <result column="approval_time" jdbcType="TIMESTAMP" property="approvalTime" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="project_stage" jdbcType="VARCHAR" property="projectStage" />
    <result column="is_prepayment" jdbcType="VARCHAR" property="isPrepayment" />
    <result column="hb_pay_way" jdbcType="VARCHAR" property="hbPayWay" />
    <result column="fx_is_way_interest" jdbcType="VARCHAR" property="fxIsWayInterest" />
    <result column="fx_repayment_date" jdbcType="TIMESTAMP" property="fxRepaymentDate" />
    <result column="fx_way_interest_money" jdbcType="NUMERIC" property="fxWayInterestMoney" />
    <result column="fx_discount_cny_money" jdbcType="NUMERIC" property="fxDiscountCnyMoney" />
    <result column="fx_pay_way" jdbcType="VARCHAR" property="fxPayWay" />
    <result column="fx_approval_status" jdbcType="VARCHAR" property="fxApprovalStatus" />
    <result column="zh_principal_money" jdbcType="NUMERIC" property="zhPrincipalMoney" />
    <result column="zh_repay_money" jdbcType="NUMERIC" property="zhRepayMoney" />
    <result column="zh_debtor_bank_id" jdbcType="VARCHAR" property="zhDebtorBankId" />
    <result column="zh_debtor_bank_account" jdbcType="VARCHAR" property="zhDebtorBankAccount" />
    <result column="zh_debtor_bank_name" jdbcType="VARCHAR" property="zhDebtorBankName" />
    <result column="zh_payee_bank_id" jdbcType="VARCHAR" property="zhPayeeBankId" />
    <result column="zh_payee_bank_name" jdbcType="VARCHAR" property="zhPayeeBankName" />
    <result column="zh_payee_bank_account" jdbcType="VARCHAR" property="zhPayeeBankAccount" />
    <result column="hb_discount_cny_money" jdbcType="VARCHAR" property="hbDiscountCnyMoney" />
    <result column="hb_is_way_principal" jdbcType="VARCHAR" property="hbIsWayPrincipal" />
    <result column="hb_is_prepayment" jdbcType="VARCHAR" property="hbIsPrepayment" />
  </resultMap>

  <resultMap id="BaseResultMapVO" extends="BaseResultMap" type="cn.com.personnel.ercp.pi.module.innerLoan.FssInnerLoanPreRepaymentApplyVO">
    <result column="balance" jdbcType="NUMERIC" property="balance" />
    <result column="withdrawBalance" jdbcType="NUMERIC" property="withdrawBalance" />
  </resultMap>

  <select id="queryList" resultMap="BaseResultMapVO">
    select apply.apply_repayment_amount- sum(COALESCE(item.this_repayment_amount,0)) as balance,
           sum(COALESCE(item.this_repayment_amount,0)) as repayment_amount,
           sum(COALESCE(iou.withdraw_amount,0)) as withdrawn_amount,
           sum(COALESCE(iou.withdraw_amount,0))-sum(COALESCE(item.this_repayment_amount,0)) as withdrawBalance,
           apply.*
    from fss_inner_loan_pre_repayment_apply apply
    left join fss_inner_loan_contract_repayment_item item on apply.manage_id= item.manage_id
    left join (select manage_id,sum(COALESCE(withdraw_amount,0)) as withdraw_amount from fss_inner_loan_contract_iou group by manage_id) iou on iou.manage_id=apply.manage_id
    <where>
    1=1
      <if test="applyVo.manageId!=null and applyVo.manageId!=''">
       and apply.manage_id=#{applyVo.manageId}
      </if>
      <if test="applyVo.applyNo!=null and applyVo.applyNo!=''">
       and apply.apply_no=#{applyVo.applyNo}
      </if>
      <if test="applyVo.contractNum!=null and applyVo.contractNum!=''">
        and apply.contract_num=#{applyVo.contractNum}
      </if>
      <if test="applyVo.contractName!=null and applyVo.contractName!=''">
        and apply.contract_name=#{applyVo.contractName}
      </if>
      <if test="applyVo.lenderCompanyName!=null and applyVo.lenderCompanyName!=''">
        and apply.lender_company_name=#{applyVo.lenderCompanyName}
      </if>
      <if test="applyVo.applyDate!=null and applyVo.applyDate!=''">
        and apply.apply_date=#{applyVo.applyDate}
      </if>
      <if test="applyVo.approvalStatus!=null and applyVo.approvalStatus!=''">
        and apply.approval_status=#{applyVo.approvalStatus}
      </if>
      <if test="applyVo.companyName!=null and applyVo.companyName!=''">
        and apply.company_name=#{applyVo.companyName}
      </if>
      <if test="applyVo.applyUserId!=null and applyVo.applyUserId!=''">
        and (apply.company_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
        and ur.user_id=#{applyVo.applyUserId} group by bu.bukrs)
        or apply.lender_company_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
        and ur.user_id=#{applyVo.applyUserId} group by bu.bukrs))
      </if>
    </where>
    group by apply.repayment_apply_id,apply.create_time order by apply.create_time desc
  </select>

  <select id="queryBalanceList" resultMap="BaseResultMapVO">
    select * from (select apply.apply_repayment_amount- sum(COALESCE(item.this_repayment_amount,0)) as balance,
           sum(COALESCE(item.this_repayment_amount,0)) as repayment_amount,
           sum(COALESCE(iou.withdraw_amount,0)) as withdrawn_amount,
           sum(COALESCE(iou.withdraw_amount,0))-sum(COALESCE(item.this_repayment_amount,0)) as withdrawBalance,
           apply.*
    from fss_inner_loan_pre_repayment_apply apply
    left join fss_inner_loan_contract_repayment_item item on apply.apply_no= item.apply_no
    left join (select manage_id,sum(COALESCE(withdraw_amount,0)) as withdraw_amount from fss_inner_loan_contract_iou group by manage_id) iou on iou.manage_id=apply.manage_id
    <where>
      apply.approval_status='审批通过'
      <if test="applyVo.manageId!=null and applyVo.manageId!=''">
       and apply.manage_id=#{applyVo.manageId}
      </if>
      <if test="applyVo.applyNo!=null and applyVo.applyNo!=''">
       and apply.apply_no=#{applyVo.applyNo}
      </if>
      <if test="applyVo.contractNum!=null and applyVo.contractNum!=''">
        and apply.contract_num=#{applyVo.contractNum}
      </if>
      <if test="applyVo.contractName!=null and applyVo.contractName!=''">
        and apply.contract_name=#{applyVo.contractName}
      </if>
      <if test="applyVo.lenderCompanyName!=null and applyVo.lenderCompanyName!=''">
        and apply.lender_company_name=#{applyVo.lenderCompanyName}
      </if>
      <if test="applyVo.applyDate!=null and applyVo.applyDate!=''">
        and apply.apply_date=#{applyVo.applyDate}
      </if>
      <if test="applyVo.approvalStatus!=null and applyVo.approvalStatus!=''">
        and apply.approval_status=#{applyVo.approvalStatus}
      </if>
      <if test="applyVo.companyName!=null and applyVo.companyName!=''">
        and apply.company_name=#{applyVo.companyName}
      </if>
      <if test="applyVo.applyUserId!=null and applyVo.applyUserId!=''">
        and (apply.company_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
        and ur.user_id=#{applyVo.applyUserId} group by bu.bukrs)
        or apply.lender_company_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
        and ur.user_id=#{applyVo.applyUserId} group by bu.bukrs))
      </if>
    </where>
    group by apply.repayment_apply_id,apply.create_time order by apply.create_time desc) as dd
    where dd.balance>0
  </select>

  <select id="getRepaymentApplyNumber" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
    #{ prefix } || CASE WHEN res.str ISNULL THEN '0001' ELSE res.str END
    FROM (
    SELECT
    to_char(MAX(regexp_replace(apply_no,'('|| #{ prefix } ||')(\d{4})','\2','g')::int + 1), 'FM0000') as str
    FROM
    fss_inner_loan_pre_repayment_apply
    WHERE apply_no ~ ('^'|| #{ prefix } ||'\d{4}$')
    ) res
  </select>
  <select id="getTotalRepeymentAmount" resultType="map">
    select sum(this_repayment_amount) as applyrepayment from fss_inner_loan_contract_repayment_item where apply_no=#{applyNo}
  </select>
</mapper>