<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.credit.guarantee.FssGuaranteeManagerMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.credit.guarantee.FssGuaranteeManager">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="apply_no" jdbcType="VARCHAR" property="applyNo" />
    <result column="apply_user" jdbcType="VARCHAR" property="applyUser" />
    <result column="business_unit" jdbcType="VARCHAR" property="businessUnit" />
    <result column="apply_dept" jdbcType="VARCHAR" property="applyDept" />
    <result column="guarantee_num" jdbcType="VARCHAR" property="guaranteeNum" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="archives_no" jdbcType="VARCHAR" property="archivesNo" />
    <result column="guarantee_nature" jdbcType="VARCHAR" property="guaranteeNature" />
    <result column="open_bank" jdbcType="VARCHAR" property="openBank" />
    <result column="turn_bank" jdbcType="VARCHAR" property="turnBank" />
    <result column="number_of_guarantee" jdbcType="VARCHAR" property="numberOfGuarantee" />
    <result column="whether_delegate_open" jdbcType="VARCHAR" property="whetherDelegateOpen" />
    <result column="amount_of_guarantee" jdbcType="VARCHAR" property="amountOfGuarantee" />
    <result column="currency_type" jdbcType="VARCHAR" property="currencyType" />
    <result column="exchange_rate" jdbcType="NUMERIC" property="exchangeRate" />
    <result column="convert_into_rmb" jdbcType="NUMERIC" property="convertIntoRmb" />
    <result column="effective_date" jdbcType="DATE" property="effectiveDate" />
    <result column="estimated_end_date" jdbcType="DATE" property="estimatedEndDate" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="warrantee" jdbcType="VARCHAR" property="warrantee" />
    <result column="beneficiary" jdbcType="VARCHAR" property="beneficiary" />
    <result column="use_of_credit_contract" jdbcType="VARCHAR" property="useOfCreditContract" />
    <result column="use_of_financing_varieties" jdbcType="VARCHAR" property="useOfFinancingVarieties" />
    <result column="usage_limit" jdbcType="VARCHAR" property="usageLimit" />
    <result column="remaining_credit_line" jdbcType="NUMERIC" property="remainingCreditLine" />
    <result column="credit_occupied" jdbcType="NUMERIC" property="creditOccupied" />
    <result column="express_no" jdbcType="VARCHAR" property="expressNo" />
    <result column="des_credit_occupation" jdbcType="VARCHAR" property="desCreditOccupation" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="subject_of_contract" jdbcType="VARCHAR" property="subjectOfContract" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="is_receipt_received" jdbcType="VARCHAR" property="isReceiptReceived" />
    <result column="revoke_situation" jdbcType="VARCHAR" property="revokeSituation" />
    <result column="revoke_time" jdbcType="DATE" property="revokeTime" />
    <result column="not_revoke_cause" jdbcType="VARCHAR" property="notRevokeCause" />
    <result column="approval_status" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="notification_status" jdbcType="VARCHAR" property="notificationStatus" />
    <result column="approval_status_of_reason_not_revoked" jdbcType="VARCHAR" property="approvalStatusOfReasonNotRevoked" />
    <result column="mailing_information" jdbcType="VARCHAR" property="mailingInformation" />
    <result column="responsible_person_name" jdbcType="VARCHAR" property="responsiblePersonName" />
    <result column="responsible_person_dept" jdbcType="VARCHAR" property="responsiblePersonDept" />
    <result column="apply_user_id" jdbcType="VARCHAR" property="applyUserId" />
    <result column="receipt_received_time" jdbcType="VARCHAR" property="receiptReceivedTime" />
    <result column="is_original_retrieve" jdbcType="VARCHAR" property="isOriginalRetrieve" />
    <result column="predict_retrieve_month" jdbcType="VARCHAR" property="predictRetrieveMonth" />
    <result column="no_cancel_cause_remarks" jdbcType="VARCHAR" property="noCancelCauseRemarks" />
    <result column="recall_not_revoked" jdbcType="VARCHAR" property="recallNotRevoked" />
    <result column="approval_of_reason_not_revoked_time" jdbcType="VARCHAR" property="approvalOfReasonNotRevokedTime" />
    <result column="guarantee_id" jdbcType="VARCHAR" property="guaranteeId" />
    <result column="business_unit_id" jdbcType="VARCHAR" property="businessUnitId" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="guarantee_nature_code" jdbcType="VARCHAR" property="guaranteeNatureCode" />
    <result column="head_id" jdbcType="VARCHAR" property="headId" />
    <result column="company_name_id" jdbcType="VARCHAR" property="companyNameId" />
    <result column="revoke_stage" jdbcType="VARCHAR" property="revokeStage" />
    <result column="responsible_person_id" jdbcType="VARCHAR" property="responsiblePersonId" />
    <result column="responsible_person_dept_id" jdbcType="VARCHAR" property="responsiblePersonDeptId" />
    <result column="currency_code" jdbcType="VARCHAR" property="currencyCode" />
    <result column="rate" jdbcType="NUMERIC" property="rate" />
    <result column="estimated_cost" jdbcType="NUMERIC" property="estimatedCost" />
    <result column="head_code" jdbcType="VARCHAR" property="headCode" />
    <result column="subject_of_contract_id" jdbcType="VARCHAR" property="subjectOfContractId" />
    <result column="warrantee_id" jdbcType="VARCHAR" property="warranteeId" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="BaseResultMapVO" type="cn.com.personnel.ercp.pi.module.credit.FssGuaranteeManagerVO">
        <result column="organ_id" jdbcType="VARCHAR" property="organId" />
        <result column="organ_name" jdbcType="VARCHAR" property="organName" />
        <result column="frev_id" jdbcType="VARCHAR" property="frevId" />
        <result column="process_inst_id" jdbcType="VARCHAR" property="processInstId" />
        <result column="process_inst_name" jdbcType="VARCHAR" property="processInstName" />
        <result column="process_def_id" jdbcType="VARCHAR" property="processDefId" />
        <result column="process_def_name" jdbcType="VARCHAR" property="processDefName" />
        <result column="work_item_id" jdbcType="VARCHAR" property="workItemId" />
        <result column="work_item_name" jdbcType="VARCHAR" property="workItemName" />
        <result column="action_url" jdbcType="VARCHAR" property="actionUrl" />
        <result column="activity_inst_id" jdbcType="VARCHAR" property="activityInstId" />
        <result column="activity_inst_name" jdbcType="VARCHAR" property="activityInstName" />
        <result column="activity_def_id" jdbcType="VARCHAR" property="activityDefId" />
        <result column="process_status" jdbcType="VARCHAR" property="processStatus" />
        <result column="responsible_person_dept_id" jdbcType="VARCHAR" property="responsiblePersonDeptId" />
        <result column="responsible_person_id" jdbcType="VARCHAR" property="responsiblePersonId" />
        <result column="applicant_date" jdbcType="VARCHAR" property="applicantDate" />
  </resultMap>
<!--    这个是 获取维护未撤销原因 列表-->
    <select id="getFssGuaranteeManagerList" resultMap="BaseResultMapVO">
        select m.*,i.organ_id,i.organ_name,v.frev_id,v.process_inst_id,v.process_inst_name,v.process_def_id,v.process_def_name,v.work_item_id,
        v.work_item_name,v.action_url,v.activity_inst_id,v.activity_inst_name,v.activity_def_id,v.process_status
         from fss_guarantee_manager m left join fss_guarantee_info i on m.guarantee_id=i.guarantee_id
        left join (select v1.* from fss_process_return_value v1 join
        (select vv.primary_key_id,max(vv.process_inst_id) as process_inst_id from fss_process_return_value vv where vv.process_def_name='sfs_xd.not_revoking_reason' group by vv.primary_key_id) as rt
        on v1.primary_key_id=rt.primary_key_id and v1.process_inst_id=rt.process_inst_id) as v on m.s_id=v.primary_key_id
        <where>
            <if test="bill.openBank != null and bill.openBank != ''">
                m.open_bank like concat('%', #{bill.openBank}, '%')
            </if>
            <if test="bill.guaranteeNum != null and bill.guaranteeNum != ''">
                and m.guarantee_num like concat('%', #{bill.guaranteeNum}, '%')
            </if>
            <if test="bill.beneficiary != null and bill.beneficiary != ''">
                and m.beneficiary like concat('%', #{bill.beneficiary}, '%')
            </if>
            <if test="bill.projectName != null and bill.projectName != ''">
                and upper(m.project_name) like concat('%', upper(#{bill.projectName}), '%')
            </if>
            <if test="bill.amountOfGuarantee != null and bill.amountOfGuarantee != ''">
                and m.amount_of_guarantee like concat('%', #{bill.amountOfGuarantee}, '%')
            </if>
            <if test="bill.guaranteeNature != null and bill.guaranteeNature != ''">
                and m.guarantee_nature=#{bill.guaranteeNature}
            </if>
            <if test="bill.revokeSituation != null and bill.revokeSituation != ''">
                and m.revoke_situation=#{bill.revokeSituation}
            </if>
            <if test="bill.businessUnit != null and bill.businessUnit != ''">
                and m.business_unit=#{businessUnit}
            </if>
            <if test="bill.applyUserId != null and bill.applyUserId != ''">
                and m.apply_user_id=#{bill.applyUserId}
            </if>
            <if test="bill.isView != null and bill.isView and bill.responsiblePersonId != null and bill.responsiblePersonId != &quot;&quot;">
                and m.company_name_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
                and ur.user_id=#{bill.responsiblePersonId} group by bu.bukrs)
            </if>
            <if test="(bill.isView == null or !bill.isView) and bill.responsiblePersonId != null and bill.responsiblePersonId != &quot;&quot;">
                and m.responsible_person_id = #{bill.responsiblePersonId}
            </if>
        </where>
        order by m.create_time desc
    </select>

    <select id="getFssGuaranteeManagerBatchList" resultMap="BaseResultMapVO">
        select m.*,i.organ_id,i.organ_name,v.frev_id,v.process_inst_id,v.process_inst_name,v.process_def_id,v.process_def_name,v.work_item_id,
        v.work_item_name,v.action_url,v.activity_inst_id,v.activity_inst_name,v.activity_def_id,v.process_status
         from fss_guarantee_manager m left join fss_guarantee_info i on m.guarantee_id=i.guarantee_id
        left join (select v1.* from fss_process_return_value v1 join
        (select vv.primary_key_id,max(vv.process_inst_id) as process_inst_id from fss_process_return_value vv where vv.process_def_name='sfs_xd.not_revoking_reason' group by vv.primary_key_id) as rt
        on v1.primary_key_id=rt.primary_key_id and v1.process_inst_id=rt.process_inst_id) as v on m.s_id=v.primary_key_id
        <where>
            <if test="bill.openBank != null and bill.openBank != ''">
                m.open_bank like concat('%', #{bill.openBank}, '%')
            </if>
            <if test="bill.guaranteeNum != null and bill.guaranteeNum != ''">
                and m.guarantee_num like concat('%', #{bill.guaranteeNum}, '%')
            </if>
            <if test="bill.beneficiary != null and bill.beneficiary != ''">
                and m.beneficiary like concat('%', #{bill.beneficiary}, '%')
            </if>
            <if test="bill.projectName != null and bill.projectName != ''">
                and m.project_name like concat('%', #{bill.projectName}, '%')
            </if>
            <if test="bill.amountOfGuarantee != null and bill.amountOfGuarantee != ''">
                and m.amount_of_guarantee like concat('%', #{bill.amountOfGuarantee}, '%')
            </if>
            <if test="bill.guaranteeNature != null and bill.guaranteeNature != ''">
                and m.guarantee_nature=#{bill.guaranteeNature}
            </if>
            <if test="bill.revokeSituation != null and bill.revokeSituation != ''">
                and m.revoke_situation=#{bill.revokeSituation}
            </if>
            <if test="bill.businessUnit != null and bill.businessUnit != ''">
                and m.business_unit=#{businessUnit}
            </if>
            <if test="bill.applyUserId != null and bill.applyUserId != ''">
                and m.apply_user_id=#{bill.applyUserId}
            </if>
            <if test="bill.responsiblePersonId != null and bill.responsiblePersonId != ''">
                and m.company_name_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
                and ur.user_id=#{bill.responsiblePersonId} group by bu.bukrs)
            </if>
        </where>
        order by m.create_time desc
    </select>

    <select id="selectManagerByInstId" resultMap="BaseResultMap">
        select c.* from fss_guarantee_manager c join fss_process_return_value v on c.s_id=v.primary_key_id
        where v.process_inst_id=#{processInstID} limit 1
    </select>

    <select id="selectManagerByGuaranteeNum" resultMap="BaseResultMap">
        select m.* from fss_guarantee_manager m
        where m.guarantee_nature=#{guaranteeNature} and m.guarantee_num=#{guaranteeNum} order by m.create_time desc limit 1
    </select>

    <select id="selectGuaranteeExpireReminderList" resultType="cn.com.personnel.ercp.pi.persistence.entity.credit.guarantee.FssGuaranteeExpireReminder">
        SELECT
        s_id as managerId,
        business_unit_id as commercianUnitId,
        business_unit as commercianUnit,
      guarantee_num as guaranteeNum,
      open_bank as openBank,
      project_name as projectName,
      beneficiary as beneficiary,
      subject_of_contract as subjectOfContract,
      subject_of_contract_id as subjectOfContractId,
	estimated_end_date-current_date  as days,
	not_revoke_cause as notRevokeCause,
	amount_of_guarantee as amountOfGuarantee,
	currency_type as currencyType,
	effective_date as effectiveDate,
	estimated_end_date as estimatedEndDate,
        company_name as organName,
        company_name_id as organId,
	responsible_person_name as responsiblePersonName,
    responsible_person_id as responsiblePersonId,
	responsible_person_dept as responsiblePersonDept,
    responsible_person_dept_id as responsiblePersonDeptId
	from
	fss_guarantee_manager manager
	where manager.revoke_stage='否' and manager.is_receipt_received='否'
        <if test="fssGuaranteeExpireReminder.expireDate != null and fssGuaranteeExpireReminder.expireDate != ''">
            and manager.estimated_end_date <![CDATA[ <= ]]> to_date(#{fssGuaranteeExpireReminder.expireDate},'yyyy-MM-dd')
        </if>
        <if test="fssGuaranteeExpireReminder.organName != null and fssGuaranteeExpireReminder.organName != ''">
            and manager.company_name like concat('%', #{fssGuaranteeExpireReminder.organName}, '%')
        </if>
        <if test="fssGuaranteeExpireReminder.openBank != null and fssGuaranteeExpireReminder.openBank != ''">
            and manager.open_bank like concat('%', #{fssGuaranteeExpireReminder.openBank}, '%')
        </if>
        <if test="fssGuaranteeExpireReminder.guaranteeNum != null and fssGuaranteeExpireReminder.guaranteeNum != ''">
            and manager.guarantee_num like concat('%', #{fssGuaranteeExpireReminder.guaranteeNum}, '%')
        </if>
        <if test="fssGuaranteeExpireReminder.commercianUnitId != null and fssGuaranteeExpireReminder.commercianUnitId != ''">
            and manager.business_unit_id = #{fssGuaranteeExpireReminder.commercianUnitId}
        </if>
        <if test="fssGuaranteeExpireReminder.responsiblePersonId != null and fssGuaranteeExpireReminder.responsiblePersonId != ''">
            and manager.responsible_person_id = #{fssGuaranteeExpireReminder.responsiblePersonId}
        </if>
        <if test="parmStr!=null and parmStr!=''">
            and ${parmStr}
        </if>
    </select>

    <select id="queryGuaranteeManagerList" resultMap="BaseResultMap">
        select m.* from fss_guarantee_manager m
        <where>
            <if test="userId != null and userId != ''">
                m.company_name_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
                and ur.user_id=#{userId} group by bu.bukrs)
            </if>
            <if test="openBank != null and openBank != ''">
                and m.open_bank like concat('%', #{openBank}, '%')
            </if>
            <if test="guaranteeNum != null and guaranteeNum != ''">
                and m.guarantee_num like concat('%', #{guaranteeNum}, '%')
            </if>
            <if test="guaranteeNature != null and guaranteeNature != ''">
                and m.guarantee_nature like concat('%', #{guaranteeNature}, '%')
            </if>
            <if test="beneficiary != null and beneficiary != ''">
                and m.beneficiary like concat('%', #{beneficiary}, '%')
            </if>
            <if test="projectName != null and projectName != ''">
                and m.project_name like concat('%', #{projectName}, '%')
            </if>
            <if test="amountOfGuarantee != null and amountOfGuarantee != ''">
                and m.amount_of_guarantee like concat('%', #{amountOfGuarantee}, '%')
            </if>
            <if test="revokeSituation != null and revokeSituation != ''">
                and m.revoke_situation like concat('%', #{revokeSituation}, '%')
            </if>
            <if test="businessUnit != null and businessUnit != ''">
                and m.business_unit like concat('%', #{businessUnit}, '%')
            </if>
            <if test="archivesNo != null and archivesNo != ''">
                and m.archives_no =#{archivesNo}
            </if>
        </where>
        order by m.archives_no desc
    </select>

    <select id="queryGuaranteesWeb" resultMap="BaseResultMap">
        select m.* from fss_guarantee_manager m
        where subject_of_contract_id in ('1003', '1009')
          <if test="startTime != null">
              and m.update_time &gt;= #{startTime}
          </if>
          <if test="endTime != null">
              and m.update_time &lt;= #{endTime}
          </if>
        <if test="sId != null and sId !=''">
            and m.s_id like concat('%', #{sId}, '%')
        </if>
        <if test="archivesNo != null and archivesNo !=''">
            and m.archives_no like concat('%', #{archivesNo}, '%')
        </if>
        <if test="guaranteeNum != null and guaranteeNum !=''">
            and m.guarantee_num like concat('%', #{guaranteeNum}, '%')
        </if>
        <if test="guaranteeNature != null and guaranteeNature !=''">
            and m.guarantee_nature like concat('%', #{guaranteeNature}, '%')
        </if>
        <if test="projectName != null and projectName !=''">
            and m.project_name like concat('%', #{projectName}, '%')
        </if>
        <if test="amountOfGuarantee != null and amountOfGuarantee != ''">
            and m.amount_of_guarantee like concat('%', #{amountOfGuarantee}, '%')
        </if>
        <if test="effectiveDate != null">
            and m.effective_date = #{effectiveDate}
        </if>
        <if test="estimatedEndDate != null">
            and m.estimated_end_date = #{estimatedEndDate}
        </if>
        <if test="applyUserId != null and applyUserId != ''">
            and m.apply_user_id like concat('%', #{applyUserId}, '%')
        </if>
        <if test="applyUser != null and applyUser != ''">
            and m.apply_user like concat('%', #{applyUser}, '%')
        </if>
        <if test="createTime != null">
            and m.create_time = #{createTime}
        </if>
        <if test="contractNo != null and contractNo != ''">
            and m.contract_no like concat('%', #{contractNo}, '%')
        </if>
        <if test="beneficiary != null and beneficiary != ''">
            and m.beneficiary like concat('%', #{beneficiary}, '%')
        </if>
        <if test="companyNameId != null and companyNameId != ''">
            and m.company_name_id like concat('%', #{companyNameId}, '%')
        </if>
        <if test="companyName != null and companyName != ''">
            and m.company_name like concat('%', #{companyName}, '%')
        </if>
        <if test="warranteeId != null and warranteeId != ''">
            and m.warrantee_id like concat('%', #{warranteeId}, '%')
        </if>
        <if test="warrantee != null and warrantee != ''">
            and m.warrantee like concat('%', #{warrantee}, '%')
        </if>
        <if test="subjectOfContractId != null and subjectOfContractId != ''">
            and m.subject_of_contract_id like concat('%', #{subjectOfContractId}, '%')
        </if>
        <if test="subjectOfContract != null and subjectOfContract != ''">
            and m.subject_of_contract like concat('%', #{subjectOfContract}, '%')
        </if>
        <if test="rate != null">
            and m.rate = #{rate}
        </if>
        <if test="estimatedCost != null">
            and m.estimated_cost = #{estimatedCost}
        </if>
        <if test="openBank != null and openBank != ''">
            and m.open_bank like concat('%', #{openBank}, '%')
        </if>
        <if test="turnBank != null and turnBank != ''">
            and m.turn_bank like concat('%', #{turnBank}, '%')
        </if>
        <if test="responsiblePersonId != null and responsiblePersonId != ''">
            and m.responsible_person_id like concat('%', #{responsiblePersonId}, '%')
        </if>
        <if test="responsiblePersonName != null and responsiblePersonName != ''">
            and m.responsible_person_name like concat('%', #{responsiblePersonName}, '%')
        </if>
        <if test="isReceiptReceived != null and isReceiptReceived != ''">
            and m.is_receipt_received like concat('%', #{isReceiptReceived}, '%')
        </if>
        <if test="revokeStage != null and revokeStage != ''">
            and m.revoke_stage like concat('%', #{revokeStage}, '%')
        </if>
        <if test="isOriginalRetrieve != null and isOriginalRetrieve != ''">
            and m.is_original_retrieve like concat('%', #{isOriginalRetrieve}, '%')
        </if>
        <if test="revokeTime != null">
            and m.revoke_time = #{revokeTime}
        </if>
        order by update_time desc
    </select>


    <select id="queryGuaranteesWebForLTC" resultMap="BaseResultMapVO">
        select m.guarantee_id,m.apply_no,m.guarantee_num,m.guarantee_nature,m.project_name,m.amount_of_guarantee,m.effective_date,m.estimated_end_date,
        m.apply_user,i.applicant_date ,m.contract_no,m.beneficiary,m.company_name,m.warrantee,m.subject_of_contract,m.exchange_rate,m.estimated_cost,
        m.open_bank,m.turn_bank,m.responsible_person_name,m.is_receipt_received,m.revoke_stage,m.is_original_retrieve,m.revoke_time
        from fss_guarantee_manager m
        left join fss_guarantee_info i on m.guarantee_id=i.guarantee_id
        where 1=1
        <if test="contractNo != null">
            and m.contract_no = #{contractNo}
        </if>
    </select>
</mapper>