<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.credit.guarantee.FssGuaranteeResponsibleChangeMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.credit.guarantee.FssGuaranteeResponsibleChange">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rc_id" jdbcType="VARCHAR" property="rcId" />
    <result column="guarantee_id" jdbcType="VARCHAR" property="guaranteeId" />
    <result column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="responsible_person_id" jdbcType="VARCHAR" property="responsiblePersonId" />
    <result column="responsible_person_name" jdbcType="VARCHAR" property="responsiblePersonName" />
    <result column="responsible_person_dept" jdbcType="VARCHAR" property="responsiblePersonDept" />
    <result column="responsible_person_dept_id" jdbcType="VARCHAR" property="responsiblePersonDeptId" />
    <result column="old_responsible_person_id" jdbcType="VARCHAR" property="oldResponsiblePersonId" />
    <result column="old_responsible_person_name" jdbcType="VARCHAR" property="oldResponsiblePersonName" />
    <result column="old_responsible_person_dept" jdbcType="VARCHAR" property="oldResponsiblePersonDept" />
    <result column="old_responsible_person_dept_id" jdbcType="VARCHAR" property="oldResponsiblePersonDeptId" />
    <result column="approve_status" jdbcType="VARCHAR" property="approveStatus" />
    <result column="approve_time" jdbcType="VARCHAR" property="approveTime" />
    <result column="reserve" jdbcType="VARCHAR" property="reserve" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="effective_date" jdbcType="VARCHAR" property="effectiveDate" />
    <result column="deadline" jdbcType="VARCHAR" property="deadline" />
    <result column="change_person" jdbcType="VARCHAR" property="changePerson" />
  </resultMap>
</mapper>