<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.common.persistence.mapper.FileInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.common.persistence.entity.FileInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="file_key" property="fileKey" jdbcType="VARCHAR" />
    <result column="appcode" property="appcode" jdbcType="VARCHAR" />
    <result column="file_cat" property="fileCat" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="BIGINT" />
    <result column="file_loc" property="fileLoc" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="uploader" property="uploader" jdbcType="VARCHAR" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="file_flag" property="fileFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    file_key, appcode, file_cat, file_name, file_type, file_size, file_loc,file_path, uploader, upload_time,status,file_flag
  </sql>
  
  <select id="selectFileInFoListByNoticeId"  parameterType="string"  resultMap="BaseResultMap">
      SELECT
					 sf.file_key, sf.appcode, sf.file_cat,
					 sf.file_name, sf.file_type,
					 sf.file_size, sf.file_loc,
					 sf.file_path, sf.uploader,
					 sf.upload_time,sf.status
				FROM
					isp_notice ne,
					isp_notice_attachment ac,
					sec_file_info sf
				WHERE
					ne.id = ac.notice_id
					AND sf.file_key = ac.file_id
				AND ne.id =#{noticeId}

  </select>


    <select id="getFileInFoByIds" resultMap="BaseResultMap">
        select * from sec_file_info
        WHERE file_key IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="queryFilesByCatByFlag" resultMap="BaseResultMap">
        select * from sec_file_info
        <where>
            <if test="fileCat != null and fileCat != ''">
                file_cat = #{fileCat}
            </if>
            <if test="fileFlag != null and fileFlag != ''">
                 and file_flag = #{fileFlag}
            </if>
        </where>
        order by file_cat
    </select>
    <insert id="insertBatch">
        INSERT INTO sec_file_info (file_key, appcode, file_cat,file_name,file_type,file_size,file_loc,file_path,uploader,upload_time,status,file_flag)
        VALUES
        <foreach collection ="fileInfoList" item="fileInfo" separator =",">
        (#{fileInfo.fileKey}, #{fileInfo.appcode}, #{fileInfo.fileCat}, #{fileInfo.fileName}, #{fileInfo.fileType}, #{fileInfo.fileSize}, #{fileInfo.fileLoc}
            #{fileInfo.filePath},#{fileInfo.uploader},#{fileInfo.uploadTime},#{fileInfo.status},#{fileInfo.fileFlag})
        </foreach >
    </insert>

    <update id="updateFileFlag">
        update sec_file_info set file_flag=#{bondId} where file_cat=#{fileCat} and file_flag=#{fileFlag}
    </update>

    <select id="queryOneFilesByCatByFlag" resultMap="BaseResultMap">
        select * from sec_file_info
        where file_cat = #{fileCat} and file_flag = #{fileFlag}
        order by upload_time desc limit 1
    </select>
</mapper>