<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.auth.persistence.mapper.SecEnumMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.auth.persistence.entity.SecEnum">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sorder" jdbcType="INTEGER" property="sorder" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>

  <select id="queryRoleUser" resultMap="BaseResultMap">
  select *
    from sec_enum
    where type_id = #{typeId}
    AND deleted='0'

  </select>

  <select id="selectName" resultMap="BaseResultMap">
    select  * from sec_enum where deleted='0'
    <if test="typeId != null">
      AND type_id = #{typeId}
    </if>
    <if test="code !='' and  code!=null">
      AND code like CONCAT('%',#{code},'%' )
    </if>
    <if test="name !='' and  name!=null">
      AND name like CONCAT(CONCAT('%',#{name},'%' ))
    </if>
    <if test="englishName!='' and englishName != null">
      AND english_name like CONCAT(CONCAT('%',#{englishName},'%' ))
    </if>
    order by create_time desc
  </select>


  <update id="deleteEnum">
    update sec_enum SET deleted = '1'
    where id IN
    <foreach close=")" collection="ids" item="id" open="(" separator=","> #{id} </foreach>
  </update>


  <select id="selectEnumByKey" resultMap="BaseResultMap">
        select  * from sec_enum  where deleted='0'
        and sec_enum.type_id =(
        select type_id from sec_enum_type where key=#{key} and system = #{system})
        order by sorder, create_time
    </select>
  <select id="selectEnumByKeyAll" resultMap="BaseResultMap">
        select  * from sec_enum where
         sec_enum.type_id =(
        select type_id from sec_enum_type where key=#{key} and system = #{system})
        order by sorder
    </select>

  <select id="selectEnumByKeyByEnlName" resultMap="BaseResultMap">
        select e.* from sec_enum e join sec_enum_type t on e.type_id=t.type_id
        where t.deleted='0' and t.system=#{secEnumType.system} and t.key=#{secEnumType.key}
          <if test="secEnumType.name != null and secEnumType.name != ''">
            and e.name=#{secEnumType.name}
          </if>
          <if test="secEnumType.code != null and secEnumType.code != ''">
            and e.code=#{secEnumType.code}
          </if>
          <if test="secEnumType.typeId != null and secEnumType.typeId != ''">
            and e.type_id=#{secEnumType.typeId}
          </if>
        order by e.create_time desc limit 1
    </select>

    <select id="selectEnumByKeyByEnglistName" resultMap="BaseResultMap">
        select se.* from sec_enum se where se.english_name =(select e.english_name from sec_enum e join sec_enum_type t on e.type_id=t.type_id
        where t.deleted='0' and t.system=#{secEnumType.system} and e.id=#{secEnumType.id})
          <if test="secEnumType.name != null and secEnumType.name != ''">
            and se.name=#{secEnumType.name}
          </if>
          <if test="secEnumType.code != null and secEnumType.code != ''">
            and se.code=#{secEnumType.code}
          </if>
          <if test="secEnumType.typeId != null and secEnumType.typeId != ''">
            and se.type_id=#{secEnumType.typeId}
          </if>
        order by se.create_time desc limit 1
    </select>

  <select id="selectNameByKeyByEnlName" resultType="string" >
    select e.name from sec_enum e join sec_enum_type t on e.type_id=t.type_id
    where t.isdelete='0'  and t.key=#{secEnumType.key}
    <if test="secEnumType.name != null and secEnumType.name != ''">
      and e.name=#{secEnumType.name}
    </if>
    <if test="secEnumType.typeId != null and secEnumType.typeId != ''">
      and e.type_id=#{secEnumType.typeId}
    </if>
    order by e.create_time desc
  </select>
</mapper>