<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.sap.FclmBamAmdMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.sap.FclmBamAmd" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="acc_id" property="accId" jdbcType="VARCHAR" />
    <id column="mandt" property="mandt" jdbcType="VARCHAR" />
    <id column="revision" property="revision" jdbcType="VARCHAR" />
    <result column="banks" property="banks" jdbcType="VARCHAR" />
    <result column="bankl" property="bankl" jdbcType="VARCHAR" />
    <result column="acc_num" property="accNum" jdbcType="VARCHAR" />
    <result column="acc_type_id" property="accTypeId" jdbcType="VARCHAR" />
    <result column="valid_from" property="validFrom" jdbcType="VARCHAR" />
    <result column="valid_to" property="validTo" jdbcType="VARCHAR" />
    <result column="iban" property="iban" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="cash_pool" property="cashPool" jdbcType="VARCHAR" />
    <result column="cash_pool_id" property="cashPoolId" jdbcType="VARCHAR" />
    <result column="bukrs" property="bukrs" jdbcType="VARCHAR" />
    <result column="prctr" property="prctr" jdbcType="VARCHAR" />
    <result column="gsber" property="gsber" jdbcType="VARCHAR" />
    <result column="segment" property="segment" jdbcType="VARCHAR" />
    <result column="beneficial" property="beneficial" jdbcType="VARCHAR" />
    <result column="bank_contact" property="bankContact" jdbcType="VARCHAR" />
    <result column="rel_manager" property="relManager" jdbcType="VARCHAR" />
    <result column="company_contact" property="companyContact" jdbcType="VARCHAR" />
    <result column="account_supervisor" property="accountSupervisor" jdbcType="VARCHAR" />
    <result column="edbsum" property="edbsum" jdbcType="VARCHAR" />
    <result column="idbsum" property="idbsum" jdbcType="VARCHAR" />
    <result column="bs_upload_time" property="bsUploadTime" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="NUMERIC" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="opened_at" property="openedAt" jdbcType="NUMERIC" />
    <result column="opened_by" property="openedBy" jdbcType="VARCHAR" />
    <result column="changed_at" property="changedAt" jdbcType="NUMERIC" />
    <result column="changed_by" property="changedBy" jdbcType="VARCHAR" />
    <result column="reviewed_at" property="reviewedAt" jdbcType="NUMERIC" />
    <result column="reviewed_by" property="reviewedBy" jdbcType="VARCHAR" />
    <result column="closed_at" property="closedAt" jdbcType="NUMERIC" />
    <result column="closed_by" property="closedBy" jdbcType="VARCHAR" />
    <result column="deleted_flag" property="deletedFlag" jdbcType="VARCHAR" />
    <result column="importing_channel" property="importingChannel" jdbcType="VARCHAR" />
    <result column="cutoff_time_d" property="cutoffTimeD" jdbcType="VARCHAR" />
    <result column="cutoff_time_c" property="cutoffTimeC" jdbcType="VARCHAR" />
    <result column="planned_closing_date" property="plannedClosingDate" jdbcType="VARCHAR" />
    <result column="upload_bs_flag" property="uploadBsFlag" jdbcType="VARCHAR" />
    <result column="created_at_dat" property="createdAtDat" jdbcType="VARCHAR" />
    <result column="created_at_tim" property="createdAtTim" jdbcType="VARCHAR" />
    <result column="opened_at_dat" property="openedAtDat" jdbcType="VARCHAR" />
    <result column="opened_at_tim" property="openedAtTim" jdbcType="VARCHAR" />
    <result column="changed_at_dat" property="changedAtDat" jdbcType="VARCHAR" />
    <result column="changed_at_tim" property="changedAtTim" jdbcType="VARCHAR" />
    <result column="closed_at_dat" property="closedAtDat" jdbcType="VARCHAR" />
    <result column="closed_at_tim" property="closedAtTim" jdbcType="VARCHAR" />
    <result column="control_key" property="controlKey" jdbcType="VARCHAR" />
    <result column="iban_valid_from" property="ibanValidFrom" jdbcType="VARCHAR" />
    <result column="objnr" property="objnr" jdbcType="VARCHAR" />
    <result column="vgtyp" property="vgtyp" jdbcType="VARCHAR" />
    <result column="procstat_act" property="procstatAct" jdbcType="VARCHAR" />
    <result column="balstat_act" property="balstatAct" jdbcType="VARCHAR" />
    <result column="serstat_act" property="serstatAct" jdbcType="VARCHAR" />
    <result column="reconstat_act" property="reconstatAct" jdbcType="VARCHAR" />
    <result column="exp_number" property="expNumber" jdbcType="VARCHAR" />
    <result column="exp_rhyth" property="expRhyth" jdbcType="VARCHAR" />
    <result column="calendar" property="calendar" jdbcType="VARCHAR" />
    <result column="sort_idx" property="sortIdx" jdbcType="VARCHAR" />
    <result column="amt_diff" property="amtDiff" jdbcType="NUMERIC" />
    <result column="dummy_fclm_bam_amd_incl_eew_ps" property="dummyFclmBamAmdInclEewPs" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="queryBankList" resultMap="BaseResultMap">
    select * from fclm_bam_amd a 
    <where>
      <if test="accNum != null and accNum != ''">
        a.acc_num = #{accNum}
      </if>
    </where>
    order by a.acc_id desc
  </select>
</mapper>