<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.sap.Kna1Mapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.sap.Kna1">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="kunnr" jdbcType="VARCHAR" property="kunnr" />
    <id column="mandt" jdbcType="VARCHAR" property="mandt" />
    <result column="land1" jdbcType="VARCHAR" property="land1" />
    <result column="name1" jdbcType="VARCHAR" property="name1" />
    <result column="name2" jdbcType="VARCHAR" property="name2" />
    <result column="ort01" jdbcType="VARCHAR" property="ort01" />
    <result column="pstlz" jdbcType="VARCHAR" property="pstlz" />
    <result column="regio" jdbcType="VARCHAR" property="regio" />
    <result column="sortl" jdbcType="VARCHAR" property="sortl" />
    <result column="stras" jdbcType="VARCHAR" property="stras" />
    <result column="telf1" jdbcType="VARCHAR" property="telf1" />
    <result column="telfx" jdbcType="VARCHAR" property="telfx" />
    <result column="xcpdk" jdbcType="VARCHAR" property="xcpdk" />
    <result column="adrnr" jdbcType="VARCHAR" property="adrnr" />
    <result column="mcod1" jdbcType="VARCHAR" property="mcod1" />
    <result column="mcod2" jdbcType="VARCHAR" property="mcod2" />
    <result column="mcod3" jdbcType="VARCHAR" property="mcod3" />
    <result column="anred" jdbcType="VARCHAR" property="anred" />
    <result column="aufsd" jdbcType="VARCHAR" property="aufsd" />
    <result column="bahne" jdbcType="VARCHAR" property="bahne" />
    <result column="bahns" jdbcType="VARCHAR" property="bahns" />
    <result column="bbbnr" jdbcType="VARCHAR" property="bbbnr" />
    <result column="bbsnr" jdbcType="VARCHAR" property="bbsnr" />
    <result column="begru" jdbcType="VARCHAR" property="begru" />
    <result column="brsch" jdbcType="VARCHAR" property="brsch" />
    <result column="bubkz" jdbcType="VARCHAR" property="bubkz" />
    <result column="datlt" jdbcType="VARCHAR" property="datlt" />
    <result column="erdat" jdbcType="VARCHAR" property="erdat" />
    <result column="ernam" jdbcType="VARCHAR" property="ernam" />
    <result column="exabl" jdbcType="VARCHAR" property="exabl" />
    <result column="faksd" jdbcType="VARCHAR" property="faksd" />
    <result column="fiskn" jdbcType="VARCHAR" property="fiskn" />
    <result column="knazk" jdbcType="VARCHAR" property="knazk" />
    <result column="knrza" jdbcType="VARCHAR" property="knrza" />
    <result column="konzs" jdbcType="VARCHAR" property="konzs" />
    <result column="ktokd" jdbcType="VARCHAR" property="ktokd" />
    <result column="kukla" jdbcType="VARCHAR" property="kukla" />
    <result column="lifnr" jdbcType="VARCHAR" property="lifnr" />
    <result column="lifsd" jdbcType="VARCHAR" property="lifsd" />
    <result column="locco" jdbcType="VARCHAR" property="locco" />
    <result column="loevm" jdbcType="VARCHAR" property="loevm" />
    <result column="name3" jdbcType="VARCHAR" property="name3" />
    <result column="name4" jdbcType="VARCHAR" property="name4" />
    <result column="niels" jdbcType="VARCHAR" property="niels" />
    <result column="ort02" jdbcType="VARCHAR" property="ort02" />
    <result column="pfach" jdbcType="VARCHAR" property="pfach" />
    <result column="pstl2" jdbcType="VARCHAR" property="pstl2" />
    <result column="counc" jdbcType="VARCHAR" property="counc" />
    <result column="cityc" jdbcType="VARCHAR" property="cityc" />
    <result column="rpmkr" jdbcType="VARCHAR" property="rpmkr" />
    <result column="sperr" jdbcType="VARCHAR" property="sperr" />
    <result column="spras" jdbcType="VARCHAR" property="spras" />
    <result column="stcd1" jdbcType="VARCHAR" property="stcd1" />
    <result column="stcd2" jdbcType="VARCHAR" property="stcd2" />
    <result column="stkza" jdbcType="VARCHAR" property="stkza" />
    <result column="stkzu" jdbcType="VARCHAR" property="stkzu" />
    <result column="telbx" jdbcType="VARCHAR" property="telbx" />
    <result column="telf2" jdbcType="VARCHAR" property="telf2" />
    <result column="teltx" jdbcType="VARCHAR" property="teltx" />
    <result column="telx1" jdbcType="VARCHAR" property="telx1" />
    <result column="lzone" jdbcType="VARCHAR" property="lzone" />
    <result column="xzemp" jdbcType="VARCHAR" property="xzemp" />
    <result column="vbund" jdbcType="VARCHAR" property="vbund" />
    <result column="stceg" jdbcType="VARCHAR" property="stceg" />
    <result column="dear1" jdbcType="VARCHAR" property="dear1" />
    <result column="dear2" jdbcType="VARCHAR" property="dear2" />
    <result column="dear3" jdbcType="VARCHAR" property="dear3" />
    <result column="dear4" jdbcType="VARCHAR" property="dear4" />
    <result column="dear5" jdbcType="VARCHAR" property="dear5" />
    <result column="gform" jdbcType="VARCHAR" property="gform" />
    <result column="bran1" jdbcType="VARCHAR" property="bran1" />
    <result column="bran2" jdbcType="VARCHAR" property="bran2" />
    <result column="bran3" jdbcType="VARCHAR" property="bran3" />
    <result column="bran4" jdbcType="VARCHAR" property="bran4" />
    <result column="bran5" jdbcType="VARCHAR" property="bran5" />
    <result column="ekont" jdbcType="VARCHAR" property="ekont" />
    <result column="umsat" jdbcType="NUMERIC" property="umsat" />
    <result column="umjah" jdbcType="VARCHAR" property="umjah" />
    <result column="uwaer" jdbcType="VARCHAR" property="uwaer" />
    <result column="jmzah" jdbcType="VARCHAR" property="jmzah" />
    <result column="jmjah" jdbcType="VARCHAR" property="jmjah" />
    <result column="katr1" jdbcType="VARCHAR" property="katr1" />
    <result column="katr2" jdbcType="VARCHAR" property="katr2" />
    <result column="katr3" jdbcType="VARCHAR" property="katr3" />
    <result column="katr4" jdbcType="VARCHAR" property="katr4" />
    <result column="katr5" jdbcType="VARCHAR" property="katr5" />
    <result column="katr6" jdbcType="VARCHAR" property="katr6" />
    <result column="katr7" jdbcType="VARCHAR" property="katr7" />
    <result column="katr8" jdbcType="VARCHAR" property="katr8" />
    <result column="katr9" jdbcType="VARCHAR" property="katr9" />
    <result column="katr10" jdbcType="VARCHAR" property="katr10" />
    <result column="stkzn" jdbcType="VARCHAR" property="stkzn" />
    <result column="umsa1" jdbcType="NUMERIC" property="umsa1" />
    <result column="txjcd" jdbcType="VARCHAR" property="txjcd" />
    <result column="periv" jdbcType="VARCHAR" property="periv" />
    <result column="abrvw" jdbcType="VARCHAR" property="abrvw" />
    <result column="inspbydebi" jdbcType="VARCHAR" property="inspbydebi" />
    <result column="inspatdebi" jdbcType="VARCHAR" property="inspatdebi" />
    <result column="ktocd" jdbcType="VARCHAR" property="ktocd" />
    <result column="pfort" jdbcType="VARCHAR" property="pfort" />
    <result column="werks" jdbcType="VARCHAR" property="werks" />
    <result column="dtams" jdbcType="VARCHAR" property="dtams" />
    <result column="dtaws" jdbcType="VARCHAR" property="dtaws" />
    <result column="duefl" jdbcType="VARCHAR" property="duefl" />
    <result column="hzuor" jdbcType="VARCHAR" property="hzuor" />
    <result column="sperz" jdbcType="VARCHAR" property="sperz" />
    <result column="etikg" jdbcType="VARCHAR" property="etikg" />
    <result column="civve" jdbcType="VARCHAR" property="civve" />
    <result column="milve" jdbcType="VARCHAR" property="milve" />
    <result column="kdkg1" jdbcType="VARCHAR" property="kdkg1" />
    <result column="kdkg2" jdbcType="VARCHAR" property="kdkg2" />
    <result column="kdkg3" jdbcType="VARCHAR" property="kdkg3" />
    <result column="kdkg4" jdbcType="VARCHAR" property="kdkg4" />
    <result column="kdkg5" jdbcType="VARCHAR" property="kdkg5" />
    <result column="xknza" jdbcType="VARCHAR" property="xknza" />
    <result column="fityp" jdbcType="VARCHAR" property="fityp" />
    <result column="stcdt" jdbcType="VARCHAR" property="stcdt" />
    <result column="stcd3" jdbcType="VARCHAR" property="stcd3" />
    <result column="stcd4" jdbcType="VARCHAR" property="stcd4" />
    <result column="stcd5" jdbcType="VARCHAR" property="stcd5" />
    <result column="xicms" jdbcType="VARCHAR" property="xicms" />
    <result column="xxipi" jdbcType="VARCHAR" property="xxipi" />
    <result column="xsubt" jdbcType="VARCHAR" property="xsubt" />
    <result column="cfopc" jdbcType="VARCHAR" property="cfopc" />
    <result column="txlw1" jdbcType="VARCHAR" property="txlw1" />
    <result column="txlw2" jdbcType="VARCHAR" property="txlw2" />
    <result column="ccc01" jdbcType="VARCHAR" property="ccc01" />
    <result column="ccc02" jdbcType="VARCHAR" property="ccc02" />
    <result column="ccc03" jdbcType="VARCHAR" property="ccc03" />
    <result column="ccc04" jdbcType="VARCHAR" property="ccc04" />
    <result column="cassd" jdbcType="VARCHAR" property="cassd" />
    <result column="knurl" jdbcType="VARCHAR" property="knurl" />
    <result column="j_1kfrepre" jdbcType="VARCHAR" property="j1kfrepre" />
    <result column="j_1kftbus" jdbcType="VARCHAR" property="j1kftbus" />
    <result column="j_1kftind" jdbcType="VARCHAR" property="j1kftind" />
    <result column="confs" jdbcType="VARCHAR" property="confs" />
    <result column="updat" jdbcType="VARCHAR" property="updat" />
    <result column="uptim" jdbcType="VARCHAR" property="uptim" />
    <result column="nodel" jdbcType="VARCHAR" property="nodel" />
    <result column="dear6" jdbcType="VARCHAR" property="dear6" />
    <result column="cvp_xblck" jdbcType="VARCHAR" property="cvpXblck" />
    <result column="suframa" jdbcType="VARCHAR" property="suframa" />
    <result column="rg" jdbcType="VARCHAR" property="rg" />
    <result column="exp" jdbcType="VARCHAR" property="exp" />
    <result column="uf" jdbcType="VARCHAR" property="uf" />
    <result column="rgdate" jdbcType="VARCHAR" property="rgdate" />
    <result column="ric" jdbcType="VARCHAR" property="ric" />
    <result column="rne" jdbcType="VARCHAR" property="rne" />
    <result column="rnedate" jdbcType="VARCHAR" property="rnedate" />
    <result column="cnae" jdbcType="VARCHAR" property="cnae" />
    <result column="legalnat" jdbcType="VARCHAR" property="legalnat" />
    <result column="crtn" jdbcType="VARCHAR" property="crtn" />
    <result column="icmstaxpay" jdbcType="VARCHAR" property="icmstaxpay" />
    <result column="indtyp" jdbcType="VARCHAR" property="indtyp" />
    <result column="tdt" jdbcType="VARCHAR" property="tdt" />
    <result column="comsize" jdbcType="VARCHAR" property="comsize" />
    <result column="decregpc" jdbcType="VARCHAR" property="decregpc" />
    <result column="kna1_eew_cust" jdbcType="VARCHAR" property="kna1EewCust" />
    <result column="/vso/r_palhgt" jdbcType="NUMERIC" property="vsoRPalhgt" />
    <result column="/vso/r_pal_ul" jdbcType="VARCHAR" property="vsoRPalUl" />
    <result column="/vso/r_pk_mat" jdbcType="VARCHAR" property="vsoRPkMat" />
    <result column="/vso/r_matpal" jdbcType="VARCHAR" property="vsoRMatpal" />
    <result column="/vso/r_i_no_lyr" jdbcType="VARCHAR" property="vsoRINoLyr" />
    <result column="/vso/r_one_mat" jdbcType="VARCHAR" property="vsoROneMat" />
    <result column="/vso/r_one_sort" jdbcType="VARCHAR" property="vsoROneSort" />
    <result column="/vso/r_uld_side" jdbcType="VARCHAR" property="vsoRUldSide" />
    <result column="/vso/r_load_pref" jdbcType="VARCHAR" property="vsoRLoadPref" />
    <result column="/vso/r_dpoint" jdbcType="VARCHAR" property="vsoRDpoint" />
    <result column="alc" jdbcType="VARCHAR" property="alc" />
    <result column="pmt_office" jdbcType="VARCHAR" property="pmtOffice" />
    <result column="fee_schedule" jdbcType="VARCHAR" property="feeSchedule" />
    <result column="duns" jdbcType="VARCHAR" property="duns" />
    <result column="duns4" jdbcType="VARCHAR" property="duns4" />
    <result column="psofg" jdbcType="VARCHAR" property="psofg" />
    <result column="psois" jdbcType="VARCHAR" property="psois" />
    <result column="pson1" jdbcType="VARCHAR" property="pson1" />
    <result column="pson2" jdbcType="VARCHAR" property="pson2" />
    <result column="pson3" jdbcType="VARCHAR" property="pson3" />
    <result column="psovn" jdbcType="VARCHAR" property="psovn" />
    <result column="psotl" jdbcType="VARCHAR" property="psotl" />
    <result column="psohs" jdbcType="VARCHAR" property="psohs" />
    <result column="psost" jdbcType="VARCHAR" property="psost" />
    <result column="psoo1" jdbcType="VARCHAR" property="psoo1" />
    <result column="psoo2" jdbcType="VARCHAR" property="psoo2" />
    <result column="psoo3" jdbcType="VARCHAR" property="psoo3" />
    <result column="psoo4" jdbcType="VARCHAR" property="psoo4" />
    <result column="psoo5" jdbcType="VARCHAR" property="psoo5" />
    <result column="j_1iexcd" jdbcType="VARCHAR" property="j1iexcd" />
    <result column="j_1iexrn" jdbcType="VARCHAR" property="j1iexrn" />
    <result column="j_1iexrg" jdbcType="VARCHAR" property="j1iexrg" />
    <result column="j_1iexdi" jdbcType="VARCHAR" property="j1iexdi" />
    <result column="j_1iexco" jdbcType="VARCHAR" property="j1iexco" />
    <result column="j_1icstno" jdbcType="VARCHAR" property="j1icstno" />
    <result column="j_1ilstno" jdbcType="VARCHAR" property="j1ilstno" />
    <result column="j_1ipanno" jdbcType="VARCHAR" property="j1ipanno" />
    <result column="j_1iexcicu" jdbcType="VARCHAR" property="j1iexcicu" />
    <result column="aedat" jdbcType="VARCHAR" property="aedat" />
    <result column="usnam" jdbcType="VARCHAR" property="usnam" />
    <result column="j_1isern" jdbcType="VARCHAR" property="j1isern" />
    <result column="j_1ipanref" jdbcType="VARCHAR" property="j1ipanref" />
    <result column="j_3getyp" jdbcType="VARCHAR" property="j3getyp" />
    <result column="j_3greftyp" jdbcType="VARCHAR" property="j3greftyp" />
    <result column="pspnr" jdbcType="VARCHAR" property="pspnr" />
    <result column="coaufnr" jdbcType="VARCHAR" property="coaufnr" />
    <result column="j_3gagext" jdbcType="VARCHAR" property="j3gagext" />
    <result column="j_3gagint" jdbcType="VARCHAR" property="j3gagint" />
    <result column="j_3gagdumi" jdbcType="VARCHAR" property="j3gagdumi" />
    <result column="j_3gagstdi" jdbcType="VARCHAR" property="j3gagstdi" />
    <result column="lgort" jdbcType="VARCHAR" property="lgort" />
    <result column="kokrs" jdbcType="VARCHAR" property="kokrs" />
    <result column="kostl" jdbcType="VARCHAR" property="kostl" />
    <result column="j_3gabglg" jdbcType="VARCHAR" property="j3gabglg" />
    <result column="j_3gabgvg" jdbcType="VARCHAR" property="j3gabgvg" />
    <result column="j_3gabrart" jdbcType="VARCHAR" property="j3gabrart" />
    <result column="j_3gstdmon" jdbcType="NUMERIC" property="j3gstdmon" />
    <result column="j_3gstdtag" jdbcType="NUMERIC" property="j3gstdtag" />
    <result column="j_3gtagmon" jdbcType="NUMERIC" property="j3gtagmon" />
    <result column="j_3gzugtag" jdbcType="VARCHAR" property="j3gzugtag" />
    <result column="j_3gmaschb" jdbcType="VARCHAR" property="j3gmaschb" />
    <result column="j_3gmeinsa" jdbcType="VARCHAR" property="j3gmeinsa" />
    <result column="j_3gkeinsa" jdbcType="VARCHAR" property="j3gkeinsa" />
    <result column="j_3gblsper" jdbcType="VARCHAR" property="j3gblsper" />
    <result column="j_3gkleivo" jdbcType="VARCHAR" property="j3gkleivo" />
    <result column="j_3gcalid" jdbcType="VARCHAR" property="j3gcalid" />
    <result column="j_3gvmonat" jdbcType="VARCHAR" property="j3gvmonat" />
    <result column="j_3gabrken" jdbcType="VARCHAR" property="j3gabrken" />
    <result column="j_3glabrech" jdbcType="VARCHAR" property="j3glabrech" />
    <result column="j_3gaabrech" jdbcType="VARCHAR" property="j3gaabrech" />
    <result column="j_3gzutvhlg" jdbcType="VARCHAR" property="j3gzutvhlg" />
    <result column="j_3gnegmen" jdbcType="VARCHAR" property="j3gnegmen" />
    <result column="j_3gfristlo" jdbcType="VARCHAR" property="j3gfristlo" />
    <result column="j_3geminbe" jdbcType="VARCHAR" property="j3geminbe" />
    <result column="j_3gfmgue" jdbcType="VARCHAR" property="j3gfmgue" />
    <result column="j_3gzuschue" jdbcType="VARCHAR" property="j3gzuschue" />
    <result column="j_3gschprs" jdbcType="VARCHAR" property="j3gschprs" />
    <result column="j_3ginvsta" jdbcType="VARCHAR" property="j3ginvsta" />
    <result column="/sapcem/dber" jdbcType="VARCHAR" property="sapcemDber" />
    <result column="/sapcem/kvmeq" jdbcType="VARCHAR" property="sapcemKvmeq" />
    <result column="bonded_area_confirm" jdbcType="VARCHAR" property="bondedAreaConfirm" />
    <result column="donate_mark" jdbcType="VARCHAR" property="donateMark" />
  </resultMap>
  <select id="clientList" resultMap="BaseResultMap">
    select ka.* from kna1 ka
    inner join (
    select kb.kunnr from knb1 kb
    <if test="sp.bukrs != null and sp.bukrs != ''">
      <where>
        kb.bukrs = #{sp.bukrs}
      </where>
    </if>
    )kb on kb.kunnr = ka.kunnr
    <where>
    1=1
      <if test="sp.clientName != null and sp.clientName != ''">
        and ka.name1 like CONCAT('%',#{sp.clientName},'%' )
      </if>
      <if test="sp.clientKunnr != null and sp.clientKunnr != ''">
        and ka.kunnr like CONCAT('%',#{sp.clientKunnr},'%' )
      </if>
    </where>
    GROUP BY ka.mandt,ka.kunnr,kb.kunnr
  </select>
</mapper>