<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.reportwork.FssReportWorkAdditionalProjectsMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.reportwork.FssReportWorkAdditionalProjects" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="project_no" property="projectNo" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="BaseResultMap1" extends="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.reportwork.FssReportProjectVO">
    <result column="project_start_time" property="projectStartTime" jdbcType="VARCHAR" />
    <result column="project_end_time" property="projectEndTime" jdbcType="VARCHAR" />
    <result column="month_last_day" property="monthLastDay" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getExistProjectList" resultMap="BaseResultMap">
    select * from fss_report_work_additional_projects
    <where>
      1=1
      <if test="projectNo != null and projectNo != ''">
        and  project_no=#{projectNo}
      </if>
      <if test="projectName != null and projectName != ''">
        and project_name=#{projectName}
      </if>
    </where>
    order by project_no
  </select>
  <select id="getProjectList" resultMap="BaseResultMap">
    select * from fss_report_work_additional_projects
    <where>
      1=1
      <if test="projectNo != null and projectNo != ''">
        and  project_no like concat('%',#{projectNo},'%')
      </if>
      <if test="projectName != null and projectName != ''">
        and project_name like concat('%',#{projectName},'%')
      </if>
    </where>
    order by project_no
  </select>
  <select id="queryThisMonthAdditionalProjects" resultMap="BaseResultMap1">
    select propertion.*,expand.project_start_time,expand.project_end_time from fss_report_work_additional_projects project,
    fss_report_work_tax_project_expand expand,fss_report_work_tax_project_proportion propertion
    where project.project_no=expand.project_no and expand.project_no=propertion.project_no
    <if test="cpId != null and cpId != ''">
      and  propertion.cp_id =#{cpId}
    </if>

  </select>
</mapper>