<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.reportwork.FssReportWorkAttendanceMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.reportwork.FssReportWorkAttendance">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="attendance_id" jdbcType="VARCHAR" property="attendanceId" />
    <result column="obj_id" jdbcType="VARCHAR" property="objId" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="month" jdbcType="VARCHAR" property="month" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="busi" jdbcType="VARCHAR" property="busi" />
    <result column="center" jdbcType="VARCHAR" property="center" />
    <result column="bukrs" jdbcType="VARCHAR" property="bukrs" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="department_office" jdbcType="VARCHAR" property="departmentOffice" />
    <result column="groups" jdbcType="VARCHAR" property="groups" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="staff_group" jdbcType="VARCHAR" property="staffGroup" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="btext" jdbcType="VARCHAR" property="btext" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="attendance_days" jdbcType="VARCHAR" property="attendanceDays" />
    <result column="overtime_hours_weekdays" jdbcType="VARCHAR" property="overtimeHoursWeekdays" />
    <result column="weekend_overtime_hours" jdbcType="VARCHAR" property="weekendOvertimeHours" />
    <result column="overtime_hours_holidays" jdbcType="VARCHAR" property="overtimeHoursHolidays" />
    <result column="total_overtime_hours" jdbcType="VARCHAR" property="totalOvertimeHours" />
    <result column="leave_days" jdbcType="VARCHAR" property="leaveDays" />
    <result column="days_unpaid_sick_leave" jdbcType="VARCHAR" property="daysUnpaidSickLeave" />
    <result column="paid_sick_days" jdbcType="VARCHAR" property="paidSickDays" />
    <result column="days_maternity_leave" jdbcType="VARCHAR" property="daysMaternityLeave" />
    <result column="days_abortion_leave" jdbcType="VARCHAR" property="daysAbortionLeave" />
    <result column="nursing_leave_days" jdbcType="VARCHAR" property="nursingLeaveDays" />
    <result column="days_maternity_inspection_leave" jdbcType="VARCHAR" property="daysMaternityInspectionLeave" />
    <result column="breastfeeding_leave_hours" jdbcType="VARCHAR" property="breastfeedingLeaveHours" />
    <result column="days_marriage_leave" jdbcType="VARCHAR" property="daysMarriageLeave" />
    <result column="annual_leave_days" jdbcType="VARCHAR" property="annualLeaveDays" />
    <result column="overtime_transfer_leave_days" jdbcType="VARCHAR" property="overtimeTransferLeaveDays" />
    <result column="vacation_days" jdbcType="VARCHAR" property="vacationDays" />
    <result column="absenteeism_days" jdbcType="VARCHAR" property="absenteeismDays" />
    <result column="late_early_leave" jdbcType="VARCHAR" property="lateEarlyLeave" />
    <result column="days_non_project_trip" jdbcType="VARCHAR" property="daysNonProjectTrip" />
    <result column="days_project_trip" jdbcType="VARCHAR" property="daysProjectTrip" />
    <result column="days_out" jdbcType="VARCHAR" property="daysOut" />
    <result column="days_funeral_leave" jdbcType="VARCHAR" property="daysFuneralLeave" />
    <result column="days_work_injury_leave" jdbcType="VARCHAR" property="daysWorkInjuryLeave" />
    <result column="number_special_holidays" jdbcType="VARCHAR" property="numberSpecialHolidays" />
    <result column="religious_leave_days" jdbcType="VARCHAR" property="religiousLeaveDays" />
    <result column="sick_leave_days_medical_period" jdbcType="VARCHAR" property="sickLeaveDaysMedicalPeriod" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>