<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.bill.FssTransferOrderMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.bill.FssTransferOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="transfer_id" jdbcType="VARCHAR" property="transferId" />
    <result column="apply_number" jdbcType="VARCHAR" property="applyNumber" />
    <result column="proposer" jdbcType="VARCHAR" property="proposer" />
    <result column="proposer_id" jdbcType="VARCHAR" property="proposerId" />
    <result column="apply_part" jdbcType="VARCHAR" property="applyPart" />
    <result column="apply_part_id" jdbcType="VARCHAR" property="applyPartId" />
    <result column="data_apply" jdbcType="VARCHAR" property="dataApply" />
    <result column="pay_company" jdbcType="VARCHAR" property="payCompany" />
    <result column="pay_company_id" jdbcType="VARCHAR" property="payCompanyId" />
    <result column="get_company" jdbcType="VARCHAR" property="getCompany" />
    <result column="get_company_id" jdbcType="VARCHAR" property="getCompanyId" />
    <result column="drawer_bank" jdbcType="VARCHAR" property="drawerBank" />
    <result column="drawer_bank_id" jdbcType="VARCHAR" property="drawerBankId" />
    <result column="data_invoice" jdbcType="VARCHAR" property="dataInvoice" />
    <result column="data_expire" jdbcType="VARCHAR" property="dataExpire" />
    <result column="data_collect" jdbcType="VARCHAR" property="dataCollect" />
    <result column="money_big" jdbcType="VARCHAR" property="moneyBig" />
    <result column="money_small" jdbcType="NUMERIC" property="moneySmall" />
    <result column="use" jdbcType="VARCHAR" property="use" />
    <result column="apply_staue" jdbcType="VARCHAR" property="applyStaue" />
    <result column="bill_number" jdbcType="VARCHAR" property="billNumber" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_name_id" jdbcType="VARCHAR" property="companyNameId" />
    <result column="bill_class" jdbcType="VARCHAR" property="billClass" />
    <result column="drawer" jdbcType="VARCHAR" property="drawer" />
    <result column="drawer_id" jdbcType="VARCHAR" property="drawerId" />
    <result column="drawer_bank_out" jdbcType="VARCHAR" property="drawerBankOut" />
    <result column="drawer_bank_out_id" jdbcType="VARCHAR" property="drawerBankOutId" />
    <result column="payer_account" jdbcType="VARCHAR" property="payerAccount" />
    <result column="payee" jdbcType="VARCHAR" property="payee" />
    <result column="payee_account" jdbcType="VARCHAR" property="payeeAccount" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="money_start" jdbcType="NUMERIC" property="moneyStart" />
    <result column="data_out_bill" jdbcType="VARCHAR" property="dataOutBill" />
    <result column="moneyorder_stop" jdbcType="VARCHAR" property="moneyorderStop" />
    <result column="is_cancel" jdbcType="VARCHAR" property="isCancel" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
    <result column="approval_status" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="approval_time" jdbcType="VARCHAR" property="approvalTime" />
    <result column="approval_id" jdbcType="VARCHAR" property="approvalId" />
    <result column="payee_id" jdbcType="VARCHAR" property="payeeId" />
    <result column="transfer_id_old" jdbcType="VARCHAR" property="transferIdOld" />
    <result column="transfer_id_old_old" jdbcType="VARCHAR" property="transferIdOldOld" />
    <result column="currency_id" jdbcType="VARCHAR" property="currencyId" />

    <result column="group_no" jdbcType="VARCHAR" property="groupNo" />
    <result column="entry_number" jdbcType="VARCHAR" property="entryNumber" />
    <result column="entry_status" jdbcType="VARCHAR" property="entryStatus" />
    <result column="sap_document_no" jdbcType="VARCHAR" property="sapDocumentNo" />
    <result column="reversal_status" jdbcType="VARCHAR" property="reversalStatus" />
    <result column="error_message" jdbcType="VARCHAR" property="errorMessage" />
    <result column="money_residue" jdbcType="NUMERIC" property="moneyResidue" />
  </resultMap>

  <resultMap id="BaseResultMapVO" extends="BaseResultMap" type="cn.com.personnel.ercp.pi.module.bill.FssTransferOrderVO">

  </resultMap>


  <!--这个是批量修改票据状态使数据不再显示-->
  <update id="deleteBillList">
    <if test="bill != null and bill.ids != null and bill.ids.size &gt; 0">
      update fss_bill_transfer_order set deleted=#{bill.deleted},updater=#{userId},update_time=CURRENT_TIMESTAMP
      <where> transfer_id in
        <foreach close=")" collection="bill.ids" item="id" open="(" separator=","> #{id}</foreach>
      </where>
    </if>
  </update>

  <delete id="cancelList">
    <if test="bill != null and bill.ids != null and bill.ids.size &gt; 0">
      update fss_bill_transfer_order set bill_class=#{bill.billlass},updater=#{userId},update_time=CURRENT_TIMESTAMP
      <where> transfer_id in
        <foreach close=")" collection="bill.ids" item="id" open="(" separator=","> #{id}</foreach>
      </where>
    </if>
  </delete>

    <select id="getApplicationNumber" resultType="java.lang.String">
    SELECT
    #{prefix} || CASE WHEN res.str ISNULL THEN '0001' ELSE res.str END
    FROM (
    SELECT
    to_char(MAX(regexp_replace(apply_number,'('|| #{prefix} ||')(\d{4})','\2','g')::int +1), 'FM0000') as str
    FROM
      fss_bill_transfer_order
    WHERE apply_number ~ ('^'|| #{prefix} ||'\d{4}$')
    ) res
  </select>

  <!--付款人是公司的信息
  收款人要从公司中做一个名字的校验-->
  <select id="queryOrganList" resultMap="BaseResultMapVO">
    select *
    from fss_bill_transfer_order
    <where>  and deleted ='1'

      <if test="userId != null and userId != '' ">
        and (trim(pay_company_id)  in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
        and (bu.mandt=#{mandt} or bu.mandt is null or bu.mandt ='') and ur.user_id=#{userId} group by bu.bukrs) or
        trim(get_company_id)  in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
        and (bu.mandt=#{mandt} or bu.mandt is null or bu.mandt ='') and ur.user_id=#{userId} group by bu.bukrs))
      </if>

      <if test="bill.applyNumber != null and bill.applyNumber != ''">
        and apply_number like concat('%', #{bill.applyNumber}, '%')
      </if>
      <if test="bill.payCompany != null and bill.payCompany != ''">
        and pay_company like concat('%', #{bill.payCompany}, '%')
      </if>
      <if test="bill.getCompany != null and bill.getCompany != ''">
        and get_company like concat('%', #{bill.getCompany}, '%')
      </if>
      <if test="bill.drawerBank != null and bill.drawerBank != ''">
        and drawer_bank like concat('%', #{bill.drawerBank}, '%')
      </if>
      <if test="bill.dataInvoice != null and bill.dataInvoice != ''">
        and data_invoice like concat('%', #{bill.dataInvoice}, '%')
      </if>
      <if test="bill.dataExpire != null and bill.dataExpire != ''">
        and data_expire like concat('%', #{bill.dataExpire}, '%')
      </if>
      <if test="bill.approvalStatus != null and bill.approvalStatus != ''">
        and approval_status like concat('%', #{bill.approvalStatus}, '%')
      </if>

      <if test="bill.companyName != null and bill.companyName != ''">
        and company_name like concat('%', #{bill.companyName}, '%')
      </if>
      <if test="bill.billNumber != null and bill.billNumber != ''">
        and bill_number like concat('%', #{bill.billNumber}, '%')
      </if>
      <if test="bill.drawer != null and bill.drawer != ''">
        and drawer like concat('%', #{bill.drawer}, '%')
      </if>
      <if test="bill.moneyStart != null and bill.moneyStart != ''">
        and money_start &gt;= #{bill.moneyStart}
      </if>

      <if test="bill.payerAccount != null and bill.payerAccount != ''">
        and payer_account like concat('%', #{bill.payerAccount}, '%')
      </if>
      <if test="bill.payeeAccount != null and bill.payeeAccount != ''">
        and payee_account like concat('%', #{bill.payeeAccount}, '%')
      </if>
      <if test="bill.payee != null and bill.payee != ''">
        and payee like concat('%', #{bill.payee}, '%')
      </if>
      <if test="bill.proposerId != null and bill.proposerId != ''">
        and proposer_id = #{bill.proposerId}
      </if>
      <if test="bill.approvalStatus != null and bill.approvalStatus != ''">
        and approval_status = #{bill.approvalStatus}
      </if>
      <if test="bill.transferIdOldOld != null and bill.transferIdOldOld != ''">
        and transfer_id_old_old = #{bill.transferIdOldOld}
      </if>
      <if test="bill != null and bill.ids != null and bill.ids.size &gt; 0">
        and transfer_id in
        <foreach close=")" collection="bill.ids" item="id" open="(" separator=","> #{id}</foreach>
      </if>
    </where>
    order by apply_number DESC
  </select>

  <select id="selectCreditByInstId" resultMap="BaseResultMap">
    select c.* from fss_bill_transfer_order c join fss_process_return_value v on c.transfer_id=v.primary_key_id
    where v.process_inst_id=#{processInstID} limit 1
  </select>
  <select id="selectByVoName" resultType="java.lang.String">
    select  bukrs from v_organ where name=#{payee};
  </select>
  <select id="selectSumById" resultType="java.math.BigDecimal">
    select sum(drawer_amount) from fss_bill_info where transfer_id=#{transferId} and is_cacel_trasfer='否';
  </select>

</mapper>
