<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.financialBill.FssFinancialBillInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.financialBill.FssFinancialBillInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="fina_id" property="finaId" jdbcType="VARCHAR" />
    <result column="apply_number" property="applyNumber" jdbcType="VARCHAR" />
    <result column="applicant_id" property="applicantId" jdbcType="VARCHAR" />
    <result column="applicant_name" property="applicantName" jdbcType="VARCHAR" />
    <result column="applicant_dept_id" property="applicantDeptId" jdbcType="VARCHAR" />
    <result column="applicant_dept" property="applicantDept" jdbcType="VARCHAR" />
    <result column="applicant_date" property="applicantDate" jdbcType="VARCHAR" />
    <result column="trans_type" property="transType" jdbcType="VARCHAR" />
    <result column="counterparty" property="counterparty" jdbcType="VARCHAR" />
    <result column="total_face_value" property="totalFaceValue" jdbcType="NUMERIC" />
    <result column="rediscount_rate" property="rediscountRate" jdbcType="NUMERIC" />
    <result column="rediscount_value_date" property="rediscountValueDate" jdbcType="VARCHAR" />
    <result column="rediscount_maturity_date" property="rediscountMaturityDate" jdbcType="VARCHAR" />
    <result column="rediscounted_interest" property="rediscountedInterest" jdbcType="NUMERIC" />
    <result column="rediscount_first_transaction_amount" property="rediscountFirstTransactionAmount" jdbcType="NUMERIC" />
    <result column="rediscount_maturity_transaction_amount" property="rediscountMaturityTransactionAmount" jdbcType="NUMERIC" />
    <result column="repurchase_rate" property="repurchaseRate" jdbcType="NUMERIC" />
    <result column="first_settlement_date" property="firstSettlementDate" jdbcType="VARCHAR" />
    <result column="maturity_settlement_date" property="maturitySettlementDate" jdbcType="VARCHAR" />
    <result column="interest_payable" property="interestPayable" jdbcType="NUMERIC" />
    <result column="initial_settlement_amount" property="initialSettlementAmount" jdbcType="NUMERIC" />
    <result column="settlement_amount_due" property="settlementAmountDue" jdbcType="NUMERIC" />
    <result column="first_transaction_interest_rate" property="firstTransactionInterestRate" jdbcType="NUMERIC" />
    <result column="maturity_transaction_interest_rate" property="maturityTransactionInterestRate" jdbcType="NUMERIC" />
    <result column="initial_interest_payable" property="initialInterestPayable" jdbcType="NUMERIC" />
    <result column="interest_payable_maturity" property="interestPayableMaturity" jdbcType="NUMERIC" />
    <result column="interest_payable_repurchase_business" property="interestPayableRepurchaseBusiness" jdbcType="NUMERIC" />
    <result column="approval_status" property="approvalStatus" jdbcType="VARCHAR" />
    <result column="approval_time" property="approvalTime" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="reverse" property="reverse" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryFinancialBillList" resultMap="BaseResultMap">
    select case when trans_type='再贴现' then rediscounted_interest when trans_type='质押式正回购' then interest_payable
        when trans_type='买断式正回购' then interest_payable_repurchase_business end as reverse,
           case when trans_type='再贴现' then rediscount_value_date else first_settlement_date end as first_settlement_date,
           case when trans_type='再贴现' then rediscount_maturity_date else maturity_settlement_date end as maturity_settlement_date,
           * from fss_financial_bill_info
    <where>
      <if test="applyNumber != null and applyNumber != ''">
        and apply_number like concat('%', #{applyNumber}, '%')
      </if>
      <if test="transType != null and transType != ''">
        and trans_type like concat('%', #{transType}, '%')
      </if>
      <if test="counterparty != null and counterparty != ''">
        and counterparty like concat('%', #{counterparty}, '%')
      </if>
      <if test="approvalStatus != null and approvalStatus != ''">
        and approval_status = #{approvalStatus}
      </if>
    </where>
    order by create_time desc
  </select>

  <delete id="deleteByFinaId">
      delete from fss_financial_bill_info where fina_id =#{finaId}
  </delete>
</mapper>