<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.child.PiChildrenBaseInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.child.PiChildrenBaseInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="child_id" jdbcType="VARCHAR" property="childId" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="child_name" jdbcType="VARCHAR" property="childName" />
    <result column="child_id_no" jdbcType="VARCHAR" property="childIdNo" />
    <result column="child_tel_no" jdbcType="VARCHAR" property="childTelNo" />
    <result column="child_nationality" jdbcType="VARCHAR" property="childNationality" />
    <result column="child_male" jdbcType="VARCHAR" property="childMale" />
    <result column="child_account_province" jdbcType="VARCHAR" property="childAccountProvince" />
    <result column="child_account_city" jdbcType="VARCHAR" property="childAccountCity" />
    <result column="child_account_county" jdbcType="VARCHAR" property="childAccountCounty" />
    <result column="child_account_town" jdbcType="VARCHAR" property="childAccountTown" />
    <result column="child_account_address" jdbcType="VARCHAR" property="childAccountAddress" />
    <result column="child_current_province" jdbcType="VARCHAR" property="childCurrentProvince" />
    <result column="child_current_city" jdbcType="VARCHAR" property="childCurrentCity" />
    <result column="child_current_county" jdbcType="VARCHAR" property="childCurrentCounty" />
    <result column="child_current_town" jdbcType="VARCHAR" property="childCurrentTown" />
    <result column="child_current_address" jdbcType="VARCHAR" property="childCurrentAddress" />
    <result column="child_health_status" jdbcType="VARCHAR" property="childHealthStatus" />
    <result column="child_escalation_type" jdbcType="VARCHAR" property="childEscalationType" />
    <result column="child_disability_type" jdbcType="VARCHAR" property="childDisabilityType" />
    <result column="child_disability_level" jdbcType="VARCHAR" property="childDisabilityLevel" />
    <result column="child_disease_type" jdbcType="VARCHAR" property="childDiseaseType" />
    <result column="child_school_attendance" jdbcType="VARCHAR" property="childSchoolAttendance" />
    <result column="child_other_cases" jdbcType="VARCHAR" property="childOtherCases" />
    <result column="child_poverty_alleviation_implementation" jdbcType="VARCHAR" property="childPovertyAlleviationImplementation" />
    <result column="child_violation_guardian" jdbcType="VARCHAR" property="childViolationGuardian" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="organization_principal" jdbcType="VARCHAR" property="organizationPrincipal" />
    <result column="organization_tel_no" jdbcType="VARCHAR" property="organizationTelNo" />
    <result column="organization_nature" jdbcType="VARCHAR" property="organizationNature" />
    <result column="organization_residential_province" jdbcType="VARCHAR" property="organizationResidentialProvince" />
    <result column="organization_residential_city" jdbcType="VARCHAR" property="organizationResidentialCity" />
    <result column="organization_residential_county" jdbcType="VARCHAR" property="organizationResidentialCounty" />
    <result column="organization_residential_town" jdbcType="VARCHAR" property="organizationResidentialTown" />
    <result column="organization_residential_address" jdbcType="VARCHAR" property="organizationResidentialAddress" />
    <result column="help_suggestions" jdbcType="VARCHAR" property="helpSuggestions" />
    <result column="security_fee_collection_method" jdbcType="VARCHAR" property="securityFeeCollectionMethod" />
    <result column="security_fee_collector" jdbcType="VARCHAR" property="securityFeeCollector" />
    <result column="security_fee_recipient_relationship" jdbcType="VARCHAR" property="securityFeeRecipientRelationship" />
    <result column="security_fee_guarantee_standard" jdbcType="VARCHAR" property="securityFeeGuaranteeStandard" />
    <result column="isdelete" jdbcType="VARCHAR" property="isdelete" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="guardian" jdbcType="VARCHAR" property="guardian" />
    <result column="child_age" jdbcType="VARCHAR" property="childAge" />
    <result column="approve_opinion" jdbcType="VARCHAR" property="approveOpinion" />
  </resultMap>

  <resultMap id="BaseResultMapVO" extends="BaseResultMap" type="cn.com.personnel.ercp.pi.module.child.PiChildrenBaseInfoVO">

  </resultMap>

  <resultMap id="BaseResultMapVO1" type="cn.com.personnel.ercp.pi.module.child.ChildrenStatisticsInfoVO">
    <result column="child_account_province" jdbcType="VARCHAR" property="childAccountProvince" />
    <result column="child_account_city" jdbcType="VARCHAR" property="childAccountCity" />
    <result column="child_account_county" jdbcType="VARCHAR" property="childAccountCounty" />
    <result column="child_account_town" jdbcType="VARCHAR" property="childAccountTown" />
    <result column="child_account_address" jdbcType="VARCHAR" property="childAccountAddress" />
    <result column="caseCount" jdbcType="VARCHAR" property="caseCount" />
    <result column="stayCount" jdbcType="VARCHAR" property="stayCount" />
    <result column="dilemmaCount" jdbcType="VARCHAR" property="dilemmaCount" />
    <result column="dibaoCount" jdbcType="VARCHAR" property="dibaoCount" />
    <result column="disableCount" jdbcType="VARCHAR" property="disableCount" />
    <result column="unsupportedCount" jdbcType="VARCHAR" property="unsupportedCount" />
    <result column="orphanCount" jdbcType="VARCHAR" property="orphanCount" />
  </resultMap>

  <select id="queryPiChildrenBaseInfoList" resultMap="BaseResultMap">
    select * from pi_children_base_info i
    <where>
      <if test="info.childAccountAddress != null and info.childAccountAddress != ''">
        i.child_account_address like concat('%', #{info.childAccountAddress}, '%')
      </if>
      <if test="info.childCurrentAddress != null and info.childCurrentAddress != ''">
         and i.child_current_address like concat('%', #{info.childCurrentAddress}, '%')
      </if>
      <if test="info.childName != null and info.childName != ''">
         and i.child_name like concat('%', #{info.childName}, '%')
      </if>
      <if test="info.childIdNo != null and info.childIdNo != ''">
         and i.child_id_no like concat('%', #{info.childIdNo}, '%')
      </if>
      <if test="info.childTelNo != null and info.childTelNo != ''">
         and i.child_tel_no like concat('%', #{info.childTelNo}, '%')
      </if>
      <if test="info.childNationality != null and info.childNationality != ''">
         and i.child_nationality like concat('%', #{info.childNationality}, '%')
      </if>
      <if test="info.childMale != null and info.childMale != ''">
         and i.child_male like concat('%', #{info.childMale}, '%')
      </if>
      <if test="info.childHealthStatus != null and info.childHealthStatus != ''">
         and i.child_health_status like concat('%', #{info.childHealthStatus}, '%')
      </if>
      <if test="info.childEscalationType != null and info.childEscalationType != ''">
         and i.child_escalation_type like concat('%', #{info.childEscalationType}, '%')
      </if>
      <if test="info.childDisabilityType != null and info.childDisabilityType != ''">
         and i.child_disability_type like concat('%', #{info.childDisabilityType}, '%')
      </if>
      <if test="info.childViolationGuardian != null and info.childViolationGuardian != ''">
         and i.child_violation_guardian like concat('%', #{info.childViolationGuardian}, '%')
      </if>
      <if test="info.status != null and info.status != ''">
         and i.status = #{info.status}
      </if>
    </where>
    order by i.create_time desc
  </select>

  <select id="queryPiChildrenBaseInfo" resultMap="BaseResultMapVO">
    select * from pi_children_base_info i where i.child_id=#{childId}
  </select>

  <update id="submitPiChildrenBaseInfoList">
    <if test="userId != null and userId != ''">
      update pi_children_base_info set status='2',update_time=current_timestamp,updator=#{userId} where creator = #{userId} and status='1'
    </if>
  </update>

  <select id="queryChildrenStatisticsList" resultMap="BaseResultMapVO1">
      select p.child_account_province ,p.child_account_city ,p.child_account_county ,p.child_account_town ,p.child_account_address,p.caseCount,s1.stayCount,s2.dilemmaCount,s3.dibaoCount,s4.disableCount,s5.unsupportedCount,s6.orphanCount from
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,count(0) as caseCount from pi_children_base_info i
  where i.area =#{area}
    <if test="childAccountProvince != null and childAccountProvince !=''">
        and i.child_account_province like concat('%',#{childAccountProvince},'%')
    </if>
      <if test="childAccountCity != null and childAccountCity !=''">
        and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
        and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
        and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
        and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address) as p
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as stayCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='留守'
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s1
      on p.child_account_province=s1.child_account_province and p.child_account_city=s1.child_account_city and p.child_account_county=s1.child_account_county and p.child_account_town=s1.child_account_town and p.child_account_address=s1.child_account_address
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as dilemmaCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='困境'
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s2
      on p.child_account_province=s2.child_account_province and p.child_account_city=s2.child_account_city and p.child_account_county=s2.child_account_county and p.child_account_town=s2.child_account_town and p.child_account_address=s2.child_account_address
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as dibaoCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='困境' and i.child_poverty_alleviation_implementation ='最低生活保障'
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s3
      on p.child_account_province=s3.child_account_province and p.child_account_city=s3.child_account_city and p.child_account_county=s3.child_account_county and p.child_account_town=s3.child_account_town and p.child_account_address=s3.child_account_address
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as disableCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='困境' and i.child_poverty_alleviation_implementation in ('困难残疾人生活补贴','重度残疾人生活补贴')
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s4
      on p.child_account_province=s4.child_account_province and p.child_account_city=s4.child_account_city and p.child_account_county=s4.child_account_county and p.child_account_town=s4.child_account_town and p.child_account_address=s4.child_account_address
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as unsupportedCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='困境' and i.child_poverty_alleviation_implementation in ('事实无人抚养津贴')
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s5
      on p.child_account_province=s5.child_account_province and p.child_account_city=s5.child_account_city and p.child_account_county=s5.child_account_county and p.child_account_town=s5.child_account_town and p.child_account_address=s5.child_account_address
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as orphanCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='困境' and i.child_poverty_alleviation_implementation in ('孤儿津贴')
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s6
      on p.child_account_province=s6.child_account_province and p.child_account_city=s6.child_account_city and p.child_account_county=s6.child_account_county and p.child_account_town=s6.child_account_town and p.child_account_address=s6.child_account_address

  </select>
</mapper>