<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.child.PiChildrenBaseInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.child.PiChildrenBaseInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="child_id" jdbcType="VARCHAR" property="childId" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="child_name" jdbcType="VARCHAR" property="childName" />
    <result column="child_id_no" jdbcType="VARCHAR" property="childIdNo" />
    <result column="child_tel_no" jdbcType="VARCHAR" property="childTelNo" />
    <result column="child_nationality" jdbcType="VARCHAR" property="childNationality" />
    <result column="child_male" jdbcType="VARCHAR" property="childMale" />
    <result column="child_account_province" jdbcType="VARCHAR" property="childAccountProvince" />
    <result column="child_account_city" jdbcType="VARCHAR" property="childAccountCity" />
    <result column="child_account_county" jdbcType="VARCHAR" property="childAccountCounty" />
    <result column="child_account_town" jdbcType="VARCHAR" property="childAccountTown" />
    <result column="child_account_address" jdbcType="VARCHAR" property="childAccountAddress" />
    <result column="child_current_province" jdbcType="VARCHAR" property="childCurrentProvince" />
    <result column="child_current_city" jdbcType="VARCHAR" property="childCurrentCity" />
    <result column="child_current_county" jdbcType="VARCHAR" property="childCurrentCounty" />
    <result column="child_current_town" jdbcType="VARCHAR" property="childCurrentTown" />
    <result column="child_current_address" jdbcType="VARCHAR" property="childCurrentAddress" />
    <result column="child_health_status" jdbcType="VARCHAR" property="childHealthStatus" />
    <result column="child_escalation_type" jdbcType="VARCHAR" property="childEscalationType" />
    <result column="child_disability_type" jdbcType="VARCHAR" property="childDisabilityType" />
    <result column="child_disability_level" jdbcType="VARCHAR" property="childDisabilityLevel" />
    <result column="child_disease_type" jdbcType="VARCHAR" property="childDiseaseType" />
    <result column="child_school_attendance" jdbcType="VARCHAR" property="childSchoolAttendance" />
    <result column="child_other_cases" jdbcType="VARCHAR" property="childOtherCases" />
    <result column="child_poverty_alleviation_implementation" jdbcType="VARCHAR" property="childPovertyAlleviationImplementation" />
    <result column="child_violation_guardian" jdbcType="VARCHAR" property="childViolationGuardian" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="organization_principal" jdbcType="VARCHAR" property="organizationPrincipal" />
    <result column="organization_tel_no" jdbcType="VARCHAR" property="organizationTelNo" />
    <result column="organization_nature" jdbcType="VARCHAR" property="organizationNature" />
    <result column="organization_residential_province" jdbcType="VARCHAR" property="organizationResidentialProvince" />
    <result column="organization_residential_city" jdbcType="VARCHAR" property="organizationResidentialCity" />
    <result column="organization_residential_county" jdbcType="VARCHAR" property="organizationResidentialCounty" />
    <result column="organization_residential_town" jdbcType="VARCHAR" property="organizationResidentialTown" />
    <result column="organization_residential_address" jdbcType="VARCHAR" property="organizationResidentialAddress" />
    <result column="help_suggestions" jdbcType="VARCHAR" property="helpSuggestions" />
    <result column="security_fee_collection_method" jdbcType="VARCHAR" property="securityFeeCollectionMethod" />
    <result column="security_fee_collector" jdbcType="VARCHAR" property="securityFeeCollector" />
    <result column="security_fee_recipient_relationship" jdbcType="VARCHAR" property="securityFeeRecipientRelationship" />
    <result column="security_fee_guarantee_standard" jdbcType="VARCHAR" property="securityFeeGuaranteeStandard" />
    <result column="isdelete" jdbcType="VARCHAR" property="isdelete" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="guardian" jdbcType="VARCHAR" property="guardian" />
    <result column="child_age" jdbcType="VARCHAR" property="childAge" />
    <result column="approve_opinion" jdbcType="VARCHAR" property="approveOpinion" />
    <result column="home_situation" jdbcType="VARCHAR" property="homeSituation" />
  </resultMap>

  <resultMap id="BaseResultMapVO" extends="BaseResultMap" type="cn.com.personnel.ercp.pi.module.child.PiChildrenBaseInfoVO">
      <result column="problems_and_needs_faced" property="problemsAndNeedsFaced" jdbcType="VARCHAR" />
      <result column="expected_goal" property="expectedGoal" jdbcType="VARCHAR" />
      <result column="expected_execution" property="expectedExecution" jdbcType="VARCHAR" />
      <result column="implementation_status" property="implementationStatus" jdbcType="VARCHAR" />
      <result column="case_date" property="caseDate" jdbcType="VARCHAR" />
      <collection property="piChildrenGuardianInfoList" ofType="cn.com.personnel.ercp.pi.persistence.entity.child.PiChildrenGuardianInfo"
                  select="cn.com.personnel.ercp.pi.persistence.mapper.child.PiChildrenGuardianInfoMapper.queryGuardianList" column="{childId=child_id}" />
  </resultMap>

    <resultMap id="ChildrenExcelVO" extends="BaseResultMap" type="cn.com.personnel.ercp.pi.module.child.ChildrenExcelVO">
        <id column="child_id" jdbcType="VARCHAR" property="childId" />
        <result column="area" jdbcType="VARCHAR" property="area" />
        <result column="child_name" jdbcType="VARCHAR" property="childName" />
        <result column="child_id_no" jdbcType="VARCHAR" property="childIdNo" />
        <result column="child_tel_no" jdbcType="VARCHAR" property="childTelNo" />
        <result column="child_nationality" jdbcType="VARCHAR" property="childNationality" />
        <result column="child_male" jdbcType="VARCHAR" property="childMale" />
        <result column="child_account_province" jdbcType="VARCHAR" property="childAccountProvince" />
        <result column="child_account_city" jdbcType="VARCHAR" property="childAccountCity" />
        <result column="child_account_county" jdbcType="VARCHAR" property="childAccountCounty" />
        <result column="child_account_town" jdbcType="VARCHAR" property="childAccountTown" />
        <result column="child_account_address" jdbcType="VARCHAR" property="childAccountAddress" />
        <result column="child_current_province" jdbcType="VARCHAR" property="childCurrentProvince" />
        <result column="child_current_city" jdbcType="VARCHAR" property="childCurrentCity" />
        <result column="child_current_county" jdbcType="VARCHAR" property="childCurrentCounty" />
        <result column="child_current_town" jdbcType="VARCHAR" property="childCurrentTown" />
        <result column="child_current_address" jdbcType="VARCHAR" property="childCurrentAddress" />
        <result column="child_health_status" jdbcType="VARCHAR" property="childHealthStatus" />
        <result column="child_escalation_type" jdbcType="VARCHAR" property="childEscalationType" />
        <result column="child_disability_type" jdbcType="VARCHAR" property="childDisabilityType" />
        <result column="child_disability_level" jdbcType="VARCHAR" property="childDisabilityLevel" />
        <result column="child_disease_type" jdbcType="VARCHAR" property="childDiseaseType" />
        <result column="child_school_attendance" jdbcType="VARCHAR" property="childSchoolAttendance" />
        <result column="child_other_cases" jdbcType="VARCHAR" property="childOtherCases" />
        <result column="child_poverty_alleviation_implementation" jdbcType="VARCHAR" property="childPovertyAlleviationImplementation" />
        <result column="child_violation_guardian" jdbcType="VARCHAR" property="childViolationGuardian" />
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
        <result column="organization_principal" jdbcType="VARCHAR" property="organizationPrincipal" />
        <result column="organization_tel_no" jdbcType="VARCHAR" property="organizationTelNo" />
        <result column="organization_nature" jdbcType="VARCHAR" property="organizationNature" />
        <result column="organization_residential_province" jdbcType="VARCHAR" property="organizationResidentialProvince" />
        <result column="organization_residential_city" jdbcType="VARCHAR" property="organizationResidentialCity" />
        <result column="organization_residential_county" jdbcType="VARCHAR" property="organizationResidentialCounty" />
        <result column="organization_residential_town" jdbcType="VARCHAR" property="organizationResidentialTown" />
        <result column="organization_residential_address" jdbcType="VARCHAR" property="organizationResidentialAddress" />
        <result column="help_suggestions" jdbcType="VARCHAR" property="helpSuggestions" />
        <result column="security_fee_collection_method" jdbcType="VARCHAR" property="securityFeeCollectionMethod" />
        <result column="security_fee_collector" jdbcType="VARCHAR" property="securityFeeCollector" />
        <result column="security_fee_recipient_relationship" jdbcType="VARCHAR" property="securityFeeRecipientRelationship" />
        <result column="security_fee_guarantee_standard" jdbcType="VARCHAR" property="securityFeeGuaranteeStandard" />
        <result column="isdelete" jdbcType="VARCHAR" property="isdelete" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="updator" jdbcType="VARCHAR" property="updator" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="guardian" jdbcType="VARCHAR" property="guardian" />
        <result column="child_age" jdbcType="VARCHAR" property="childAge" />
        <result column="approve_opinion" jdbcType="VARCHAR" property="approveOpinion" />
        <result column="home_situation" jdbcType="VARCHAR" property="homeSituation" />
      <collection property="piChildrenGuardianInfoList" ofType="cn.com.personnel.ercp.pi.persistence.entity.child.PiChildrenGuardianInfo"
                  select="cn.com.personnel.ercp.pi.persistence.mapper.child.PiChildrenGuardianInfoMapper.queryGuardianList" column="{childId=child_id}" />
  </resultMap>

  <resultMap id="BaseResultMapVO1" type="cn.com.personnel.ercp.pi.module.child.ChildrenStatisticsInfoVO">
    <result column="child_account_province" jdbcType="VARCHAR" property="childAccountProvince" />
    <result column="child_account_city" jdbcType="VARCHAR" property="childAccountCity" />
    <result column="child_account_county" jdbcType="VARCHAR" property="childAccountCounty" />
    <result column="child_account_town" jdbcType="VARCHAR" property="childAccountTown" />
    <result column="child_account_address" jdbcType="VARCHAR" property="childAccountAddress" />
    <result column="caseCount" jdbcType="VARCHAR" property="caseCount" />
    <result column="stayCount" jdbcType="VARCHAR" property="stayCount" />
    <result column="dilemmaCount" jdbcType="VARCHAR" property="dilemmaCount" />
    <result column="dibaoCount" jdbcType="VARCHAR" property="dibaoCount" />
    <result column="disableCount" jdbcType="VARCHAR" property="disableCount" />
    <result column="unsupportedCount" jdbcType="VARCHAR" property="unsupportedCount" />
    <result column="orphanCount" jdbcType="VARCHAR" property="orphanCount" />
  </resultMap>

    <resultMap id="FileResultMap" type="cn.com.personnel.ercp.pi.module.child.ChildrenFileInfoVO" >
        <!--
          WARNING - @mbg.generated
        -->
        <result column="file_key" property="fileKey" jdbcType="VARCHAR" />
        <result column="appcode" property="appcode" jdbcType="VARCHAR" />
        <result column="file_cat" property="fileCat" jdbcType="VARCHAR" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="file_type" property="fileType" jdbcType="VARCHAR" />
        <result column="file_size" property="fileSize" jdbcType="BIGINT" />
        <result column="file_loc" property="fileLoc" jdbcType="VARCHAR" />
        <result column="file_path" property="filePath" jdbcType="VARCHAR" />
        <result column="uploader" property="uploader" jdbcType="VARCHAR" />
        <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="file_flag" property="fileFlag" jdbcType="VARCHAR" />
        <result column="child_name" jdbcType="VARCHAR" property="childName" />
        <result column="child_id_no" jdbcType="VARCHAR" property="childIdNo" />
    </resultMap>

  <select id="queryPiChildrenBaseInfoList" resultMap="BaseResultMapVO">
    select coalesce ((select count(*) from pi_children_guardian_info g where i.child_id=g.child_id),0)+1 as guardian,i.* from pi_children_base_info i
    left join sec_user s on i.creator = s.user_id
    <where>
      <if test="info.childAccountAddress != null and info.childAccountAddress != ''">
          (i.child_account_address like concat('%', #{info.childAccountAddress}, '%') or
          i.child_account_province like concat('%', #{info.childAccountAddress}, '%') or
          i.child_account_city like concat('%', #{info.childAccountAddress}, '%') or
          i.child_current_county like concat('%', #{info.childAccountAddress}, '%') or
          i.child_account_town like concat('%', #{info.childAccountAddress}, '%'))
      </if>
      <if test="info.childCurrentAddress != null and info.childCurrentAddress != ''">
         and i.child_current_address like concat('%', #{info.childCurrentAddress}, '%')
      </if>
      <if test="info.childName != null and info.childName != ''">
         and (i.child_name like concat('%', #{info.childName}, '%') or s.user_name like concat('%', #{info.childName}, '%'))
      </if>
      <if test="info.childIdNo != null and info.childIdNo != ''">
         and i.child_id_no like concat('%', #{info.childIdNo}, '%')
      </if>
      <if test="info.childTelNo != null and info.childTelNo != ''">
         and i.child_tel_no like concat('%', #{info.childTelNo}, '%')
      </if>
      <if test="info.childNationality != null and info.childNationality != ''">
         and i.child_nationality like concat('%', #{info.childNationality}, '%')
      </if>
      <if test="info.childMale != null and info.childMale != ''">
         and i.child_male like concat('%', #{info.childMale}, '%')
      </if>
      <if test="info.childHealthStatus != null and info.childHealthStatus != ''">
         and i.child_health_status like concat('%', #{info.childHealthStatus}, '%')
      </if>
      <if test="info.childEscalationType != null and info.childEscalationType != ''">
         and i.child_escalation_type like concat('%', #{info.childEscalationType}, '%')
      </if>
      <if test="info.childDisabilityType != null and info.childDisabilityType != ''">
         and i.child_disability_type like concat('%', #{info.childDisabilityType}, '%')
      </if>
      <if test="info.childViolationGuardian != null and info.childViolationGuardian != ''">
         and i.child_violation_guardian like concat('%', #{info.childViolationGuardian}, '%')
      </if>
      <if test="info.status != null and info.status != '' and info.status != '-1'">
         and i.status = #{info.status}
      </if>
        <if test="info.creator != null and info.creator != ''">
         and i.creator = #{info.creator}
      </if>
      <if test="info.status != null and info.status != '' and info.status == '-1'">
         and i.status != '0'
      </if>
      <if test='info.type != null and info.type == "2"'>
        and i.child_id not in (select child_id from server_take_case_info group by child_id)
      </if>
    </where>
    order by i.create_time desc
  </select>

  <select id="selectExcelByIds" resultMap="BaseResultMapVO">
    select i.* from pi_children_base_info i
    <where>
      <if test="info.childAccountAddress != null and info.childAccountAddress != ''">
        (i.child_account_address like concat('%', #{info.childAccountAddress}, '%') or
        i.child_account_province like concat('%', #{info.childAccountAddress}, '%') or
        i.child_account_city like concat('%', #{info.childAccountAddress}, '%') or
        i.child_current_county like concat('%', #{info.childAccountAddress}, '%') or
        i.child_account_town like concat('%', #{info.childAccountAddress}, '%'))
      </if>
      <if test="info.childCurrentAddress != null and info.childCurrentAddress != ''">
         and i.child_current_address like concat('%', #{info.childCurrentAddress}, '%')
      </if>
      <if test="info.childName != null and info.childName != ''">
         and i.child_name like concat('%', #{info.childName}, '%')
      </if>
      <if test="info.childIdNo != null and info.childIdNo != ''">
         and i.child_id_no like concat('%', #{info.childIdNo}, '%')
      </if>
      <if test="info.childTelNo != null and info.childTelNo != ''">
         and i.child_tel_no like concat('%', #{info.childTelNo}, '%')
      </if>
      <if test="info.childNationality != null and info.childNationality != ''">
         and i.child_nationality like concat('%', #{info.childNationality}, '%')
      </if>
      <if test="info.childMale != null and info.childMale != ''">
         and i.child_male like concat('%', #{info.childMale}, '%')
      </if>
      <if test="info.childHealthStatus != null and info.childHealthStatus != ''">
         and i.child_health_status like concat('%', #{info.childHealthStatus}, '%')
      </if>
      <if test="info.childEscalationType != null and info.childEscalationType != ''">
         and i.child_escalation_type like concat('%', #{info.childEscalationType}, '%')
      </if>
      <if test="info.childDisabilityType != null and info.childDisabilityType != ''">
         and i.child_disability_type like concat('%', #{info.childDisabilityType}, '%')
      </if>
      <if test="info.childViolationGuardian != null and info.childViolationGuardian != ''">
         and i.child_violation_guardian like concat('%', #{info.childViolationGuardian}, '%')
      </if>
      <if test="info.status != null and info.status != '' and info.status != '-1'">
         and i.status = #{info.status}
      </if>
        <if test="info.creator != null and info.creator != ''">
         and i.creator = #{info.creator}
      </if>
      <if test="info.status != null and info.status != '' and info.status == '-1'">
         and i.status != '0'
      </if>
      <if test='info.type != null and info.type == "2"'>
        and i.child_id not in (select child_id from server_take_case_info group by child_id)
      </if>
      <if test="ids != null and ids.size &gt; 0">
        and i.child_id in
          <foreach collection="ids" item="id" open="(" close=")" separator=","> #{id} </foreach>
      </if>
    </where>
    order by i.create_time desc
  </select>

  <select id="queryPiChildrenBaseInfo" resultMap="BaseResultMapVO">
    select * from pi_children_base_info i where i.child_id=#{childId}
  </select>

  <update id="submitPiChildrenBaseInfoList">
    <if test="userId != null and userId != ''">
      update pi_children_base_info set status='2',update_time=current_timestamp,updator=#{userId} where creator = #{userId} and status='1'
    </if>
  </update>

  <select id="queryChildrenStatisticsList" resultMap="BaseResultMapVO1">
      select p.child_account_province ,p.child_account_city ,p.child_account_county ,p.child_account_town ,p.child_account_address,p.caseCount,s1.stayCount,s2.dilemmaCount,s3.dibaoCount,s4.disableCount,s5.unsupportedCount,s6.orphanCount from
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,count(0) as caseCount from pi_children_base_info i
  where i.area =#{area}
    <if test="childAccountProvince != null and childAccountProvince !=''">
        and i.child_account_province like concat('%',#{childAccountProvince},'%')
    </if>
      <if test="childAccountCity != null and childAccountCity !=''">
        and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
        and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
        and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
        and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address) as p
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as stayCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='留守'
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s1
      on p.child_account_province=s1.child_account_province and p.child_account_city=s1.child_account_city and p.child_account_county=s1.child_account_county and p.child_account_town=s1.child_account_town and p.child_account_address=s1.child_account_address
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as dilemmaCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='困境'
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s2
      on p.child_account_province=s2.child_account_province and p.child_account_city=s2.child_account_city and p.child_account_county=s2.child_account_county and p.child_account_town=s2.child_account_town and p.child_account_address=s2.child_account_address
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as dibaoCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='困境' and i.child_poverty_alleviation_implementation ='最低生活保障'
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s3
      on p.child_account_province=s3.child_account_province and p.child_account_city=s3.child_account_city and p.child_account_county=s3.child_account_county and p.child_account_town=s3.child_account_town and p.child_account_address=s3.child_account_address
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as disableCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='困境' and i.child_poverty_alleviation_implementation in ('困难残疾人生活补贴','重度残疾人生活补贴')
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s4
      on p.child_account_province=s4.child_account_province and p.child_account_city=s4.child_account_city and p.child_account_county=s4.child_account_county and p.child_account_town=s4.child_account_town and p.child_account_address=s4.child_account_address
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as unsupportedCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='困境' and i.child_poverty_alleviation_implementation in ('事实无人抚养津贴')
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s5
      on p.child_account_province=s5.child_account_province and p.child_account_city=s5.child_account_city and p.child_account_county=s5.child_account_county and p.child_account_town=s5.child_account_town and p.child_account_address=s5.child_account_address
  left join
  (select i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type,count(0) as orphanCount from pi_children_base_info i
      where i.area =#{area} and i.child_escalation_type ='困境' and i.child_poverty_alleviation_implementation in ('孤儿津贴')
      <if test="childAccountProvince != null and childAccountProvince !=''">
          and i.child_account_province like concat('%',#{childAccountProvince},'%')
      </if>
      <if test="childAccountCity != null and childAccountCity !=''">
          and i.child_account_city like concat('%',#{childAccountCity},'%')
      </if>
      <if test="childAccountCounty != null and childAccountCounty !=''">
          and i.child_account_county like concat('%',#{childAccountCounty},'%')
      </if>
      <if test="childAccountTown != null and childAccountTown !=''">
          and i.child_account_town like concat('%',#{childAccountTown},'%')
      </if>
      <if test="childAccountAddress != null and childAccountAddress !=''">
          and i.child_account_address like concat('%',#{childAccountAddress},'%')
      </if>
      group by i.child_account_province ,i.child_account_city ,i.child_account_county ,i.child_account_town ,i.child_account_address,i.child_escalation_type) as s6
      on p.child_account_province=s6.child_account_province and p.child_account_city=s6.child_account_city and p.child_account_county=s6.child_account_county and p.child_account_town=s6.child_account_town and p.child_account_address=s6.child_account_address

  </select>

    <select id="queryTakeCaseList" resultMap="BaseResultMapVO">
        select b.*,i.problems_and_needs_faced from server_take_case_info i left join pi_children_base_info b on i.child_id =b.child_id join server_child_status_info s on s.sta_id=i.sta_id
        <where>
            <if test="childName != null and childName != '' ">
                (i.child_name like concat('%', #{childName}, '%') or b.child_id_no like concat('%', #{childName}, '%'))
            </if>
            <if test="childId != null and childId != '' ">
                and i.child_id = #{childId}
            </if>
            <if test="area != null and area != '' ">
                and b.area like concat('%', #{area}, '%')
            </if>
            <if test="caseStatus != null and caseStatus != ''">
                and s.case_status = #{caseStatus}
            </if>
            <if test='type != null and type == "3"'>
                and i.child_id not in (select child_id from server_estimate_info group by child_id)
            </if>
            <if test="creator != null and creator != ''">
                and i.creator = #{creator}
            </if>
        </where>
        order by i.case_date desc
    </select>

    <select id="queryEstimateList" resultMap="BaseResultMapVO">
        select b.* from server_estimate_info i left join pi_children_base_info b on i.child_id =b.child_id join server_child_status_info s on s.sta_id=i.sta_id
        <where>
            <if test="childName != null and childName != '' ">
                (i.child_name like concat('%', #{childName}, '%') or b.child_id_no like concat('%', #{childName}, '%'))
            </if>
            <if test="childId != null and childId != '' ">
                and i.child_id = #{childId}
            </if>
            <if test="area != null and area != '' ">
                and b.area like concat('%', #{area}, '%')
            </if>
            <if test="caseStatus != null and caseStatus != ''">
                and s.case_status = #{caseStatus}
            </if>
            <if test="estimateStatus != null and estimateStatus != ''">
                and s.estimate_status = #{estimateStatus}
            </if>
            <if test='type != null and type == "4"'>
                and i.child_id not in (select child_id from server_plan_info group by child_id)
            </if>
            <if test="creator != null and creator != ''">
                and i.creator = #{creator}
            </if>
        </where>
        order by i.estimate_date desc
    </select>

    <select id="queryPlanList" resultMap="BaseResultMapVO">
        select b.* from server_plan_info i left join pi_children_base_info b on i.child_id =b.child_id join server_child_status_info s on s.sta_id=i.sta_id
        <where>
            <if test="childName != null and childName != '' ">
                (i.child_name like concat('%', #{childName}, '%') or b.child_id_no like concat('%', #{childName}, '%'))
            </if>
            <if test="childId != null and childId != '' ">
                and i.child_id = #{childId}
            </if>
            <if test="area != null and area != '' ">
                and b.area like concat('%', #{area}, '%')
            </if>
            <if test="planStatus != null and planStatus != ''">
                and s.plan_status = #{planStatus}
            </if>
            <if test='type != null and type == "5"'>
                and i.child_id not in (select child_id from server_interview_intervention_info group by child_id)
                and i.child_id not in (select child_id from server_available_resources_info group by child_id)
            </if>
            <if test="creator != null and creator != ''">
                and i.creator = #{creator}
            </if>
        </where>
        order by i.plan_date desc
    </select>

    <select id="queryInterventionList" resultMap="BaseResultMapVO">
        select b.*,c.problems_and_needs_faced from server_interview_intervention_info i left join pi_children_base_info b on i.child_id =b.child_id join server_child_status_info s on s.sta_id=i.sta_id
        left join server_take_case_info c on c.child_id =b.child_id
        <where>
            <if test="childName != null and childName != '' ">
                (i.child_name like concat('%', #{childName}, '%') or b.child_id_no like concat('%', #{childName}, '%'))
            </if>
            <if test="childId != null and childId != '' ">
                and i.child_id = #{childId}
            </if>
            <if test="area != null and area != '' ">
                and b.area like concat('%', #{area}, '%')
            </if>
            <if test="interventionStatus != null and interventionStatus != ''">
                and s.intervention_status = #{interventionStatus}
            </if>
            <if test='type != null and type == "6"'>
                and i.child_id not in (select child_id from server_evaluate_info group by child_id)
            </if>
            <if test="creator != null and creator != ''">
                and i.creator = #{creator}
            </if>
        </where>
        union
        select b.*,c.problems_and_needs_faced from server_available_resources_info i left join pi_children_base_info b on i.child_id =b.child_id join server_child_status_info s on s.sta_id=i.sta_id
        left join server_take_case_info c on c.child_id =b.child_id
        <where>
            <if test="childName != null and childName != '' ">
                (i.child_name like concat('%', #{childName}, '%') or b.child_id_no like concat('%', #{childName}, '%'))
            </if>
            <if test="childId != null and childId != '' ">
                and i.child_id = #{childId}
            </if>
            <if test="area != null and area != '' ">
                and b.area like concat('%', #{area}, '%')
            </if>
            <if test="interventionStatus != null and interventionStatus != ''">
                and s.intervention_status = #{interventionStatus}
            </if>
            <if test='type != null and type == "6"'>
                and i.child_id not in (select child_id from server_evaluate_info group by child_id)
            </if>
            <if test="creator != null and creator != ''">
                and i.creator = #{creator}
            </if>
        </where>

    </select>

    <select id="queryEvaluateList" resultMap="BaseResultMapVO">
        select b.*,c.problems_and_needs_faced,c.case_date,ss.expected_goal,
        case when ss.expected_execution is null and ss.expected_execution = '' then ss.implementation_status
        else concat(ss.expected_execution , ';' , ss.implementation_status) end as expected_execution
        from server_evaluate_info i left join pi_children_base_info b on i.child_id =b.child_id join server_child_status_info s on s.sta_id=i.sta_id
        left join server_take_case_info c on c.child_id =b.child_id
        left join (select i.* from server_plan_info i join
        (select spi.child_id,max(spi.create_time) as create_time from server_plan_info spi group by spi.child_id) as sp on i.child_id =sp.child_id and i.create_time =sp.create_time) as ss
        on ss.child_id =b.child_id
        <where>
            <if test="childName != null and childName != '' ">
                (i.child_name like concat('%', #{childName}, '%') or b.child_id_no like concat('%', #{childName}, '%'))
            </if>
            <if test="childId != null and childId != '' ">
                and i.child_id = #{childId}
            </if>
            <if test="area != null and area != '' ">
                and b.area like concat('%', #{area}, '%')
            </if>
            <if test="evaluateStatus != null and evaluateStatus != ''">
                and s.evaluate_status = #{evaluateStatus}
            </if>
            <if test='type != null and type == "7"'>
                and i.child_id not in (select child_id from server_case_closed_info group by child_id)
            </if>
            <if test="creator != null and creator != ''">
                and i.creator = #{creator}
            </if>
        </where>
        order by i.evaluate_date desc
    </select>

    <select id="queryFilesByFlags" resultMap="FileResultMap">
        select f.*,i.child_name,i.child_id_no from sec_file_info f join pi_children_base_info i on f.file_flag=i.child_id
        <where> file_cat not in ('houseNo', '申请人签字')
            <if test="ids != null and ids.size > 0"> and file_flag in
                <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
            </if>
            <if test="info.childAccountAddress != null and info.childAccountAddress != ''">
                and (i.child_account_address like concat('%', #{info.childAccountAddress}, '%') or
                i.child_account_province like concat('%', #{info.childAccountAddress}, '%') or
                i.child_account_city like concat('%', #{info.childAccountAddress}, '%') or
                i.child_current_county like concat('%', #{info.childAccountAddress}, '%') or
                i.child_account_town like concat('%', #{info.childAccountAddress}, '%'))
            </if>
            <if test="info.childCurrentAddress != null and info.childCurrentAddress != ''">
                and i.child_current_address like concat('%', #{info.childCurrentAddress}, '%')
            </if>
            <if test="info.childName != null and info.childName != ''">
                and i.child_name like concat('%', #{info.childName}, '%')
            </if>
            <if test="info.childIdNo != null and info.childIdNo != ''">
                and i.child_id_no like concat('%', #{info.childIdNo}, '%')
            </if>
            <if test="info.childTelNo != null and info.childTelNo != ''">
                and i.child_tel_no like concat('%', #{info.childTelNo}, '%')
            </if>
            <if test="info.childNationality != null and info.childNationality != ''">
                and i.child_nationality like concat('%', #{info.childNationality}, '%')
            </if>
            <if test="info.childMale != null and info.childMale != ''">
                and i.child_male like concat('%', #{info.childMale}, '%')
            </if>
            <if test="info.childHealthStatus != null and info.childHealthStatus != ''">
                and i.child_health_status like concat('%', #{info.childHealthStatus}, '%')
            </if>
            <if test="info.childEscalationType != null and info.childEscalationType != ''">
                and i.child_escalation_type like concat('%', #{info.childEscalationType}, '%')
            </if>
            <if test="info.childDisabilityType != null and info.childDisabilityType != ''">
                and i.child_disability_type like concat('%', #{info.childDisabilityType}, '%')
            </if>
            <if test="info.childViolationGuardian != null and info.childViolationGuardian != ''">
                and i.child_violation_guardian like concat('%', #{info.childViolationGuardian}, '%')
            </if>
            <if test="info.status != null and info.status != '' and info.status != '-1'">
                and i.status = #{info.status}
            </if>
            <if test="info.creator != null and info.creator != ''">
                and i.creator = #{info.creator}
            </if>
        </where>
        order by file_flag
    </select>
</mapper>