<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.credit.factoring.FssFactoringPrewithdrawInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.credit.factoring.FssFactoringPrewithdrawInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="fpi_id" property="fpiId" jdbcType="VARCHAR" />
    <result column="factoring_bank" property="factoringBank" jdbcType="VARCHAR" />
    <result column="factoring_bank_id" property="factoringBankId" jdbcType="VARCHAR" />
    <result column="interest_bearer" property="interestBearer" jdbcType="VARCHAR" />
    <result column="currency_name" property="currencyName" jdbcType="VARCHAR" />
    <result column="withdraw_amount" property="withdrawAmount" jdbcType="NUMERIC" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="credit_date" property="creditDate" jdbcType="DATE" />
    <result column="calculation_status" property="calculationStatus" jdbcType="VARCHAR" />
    <result column="credit_status" property="creditStatus" jdbcType="VARCHAR" />
    <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR" />
    <result column="error_message" property="errorMessage" jdbcType="VARCHAR" />
    <result column="sap_document_no" property="sapDocumentNo" jdbcType="VARCHAR" />
    <result column="reversal_status" property="reversalStatus" jdbcType="VARCHAR" />
    <result column="fc_id" property="fcId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="active" property="active" jdbcType="VARCHAR" />
    <result column="fw_id" property="fwId" jdbcType="VARCHAR" />
    <result column="currency_code" property="currencyCode" jdbcType="VARCHAR" />
    <result column="currency_id" property="currencyId" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getSumWithAmount" resultType="java.math.BigDecimal">
    select sum(withdraw_amount) from fss_factoring_prewithdraw_info
    <where>
    1=1
    <if test="fpwi.fcId!=null and fpwi.fcId!=''">
       and fc_id = #{fpwi.fcId}
    </if>
    <if test="fpwi.type != null and fpwi.type != ''">
      and type = #{fpwi.type}
    </if>
    </where>
  </select>
  <select id="getWithAmountOnPre" resultType="java.math.BigDecimal">
    select (sum(this_withdraw_amount)+sum(make_withdraw_amount)) as withdrawAmount
    from fss_factoring_prewithdraw
    <where>
      1=1
      <if test="fpwi.fpiId!=null and fpwi.fpiId!=''">
        and fpi_id = #{fpwi.fpiId}
      </if>

    </where>
  </select>
  <select id="selectPrewithdraw" resultMap="BaseResultMap">
    select * from fss_factoring_prewithdraw_info
    <where>
      active = '1'
      <if test="fpwi.fcId!=null and fpwi.fcId!=''">
        and fc_id = #{fpwi.fcId}
      </if>
      <if test="fpwi.creditDate!=null">
        and credit_date = #{fpwi.creditDate}
      </if>
      <if test="fpwi.type!=null and fpwi.type!=''">
        and type = #{fpwi.type}
      </if>
      <if test="(fpwi.source != null and fpwi.source != '') or (fpwi.creditStatus != null and fpwi.creditStatus != '')">
        and (
        <if test="fpwi.source != null and fpwi.source != ''">
            source = #{fpwi.source}
        </if>
        <if test="fpwi.creditStatus != null and fpwi.creditStatus != ''">
           or credit_status = #{fpwi.creditStatus}
        </if>
        )
      </if>
    </where>
  </select>

  <select id="queryNotEntryAccruals" resultMap="BaseResultMap">
    select * from fss_factoring_prewithdraw_info i where i.type=#{type}
    and i.credit_status not in ('入账中', '已入账')
    and i.fpi_id not in (select sub_id from fss_factoring_accounting_documents where entry_type=#{type} group by sub_id)
    <if test="startDate !=null and startDate != ''">
      and credit_date &gt;=#{startDate}
    </if>
    <if test="endDate !=null and endDate != ''">
      and credit_date &lt;#{endDate}
    </if>
    order by fc_id,credit_date
  </select>
</mapper>