<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.credit.factoring.FssFactoringRepaymentMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.credit.factoring.FssFactoringRepayment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="fr_id" property="frId" jdbcType="VARCHAR" />
    <result column="repayment_date" property="repaymentDate" jdbcType="DATE" />
    <result column="debit_information" property="debitInformation" jdbcType="VARCHAR" />
    <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
    <result column="organ_name" property="organName" jdbcType="VARCHAR" />
    <result column="organ_id" property="organId" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="repayment_amount" property="repaymentAmount" jdbcType="NUMERIC" />
    <result column="credit_date" property="creditDate" jdbcType="DATE" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="fri_id" property="friId" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="active" property="active" jdbcType="VARCHAR" />
    <result column="fw_id" property="fwId" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getSumRepaymentAmountOnWithdraw" resultType="java.math.BigDecimal">
    select ffw .withdraw_amount - sum(coalesce(repayment_amount,0)) from fss_factoring_withdraw ffw left join fss_factoring_repayment ffr
    on ffr.fw_id =ffw.fw_id
    <if test="fpi.fwId!=null and fpi.fwId!=''">
      <where>
        ffw.fw_id = #{fpi.fwId}
      </where>
    </if>
    group by ffw .withdraw_amount
  </select>
  <select id="listRepayment" resultMap="BaseResultMap">
    select repayment_date,sum(coalesce(repayment_amount,0)) as repayment_amount
    from fss_factoring_repayment
    <where>
      active = '1'
    <if test="fwId!=null and fwId!=''">
        and fw_id = #{fwId}
    </if>
      <if test="fwId!=null and fwId!=''">
        and repayment_date &gt;= #{withdrawDate}
      </if>
      <if test="fwId!=null and fwId!=''">
        and repayment_date &lt;= #{endMonthDate}
      </if>
    </where>
    group by repayment_date
  </select>

  <select id="queryRepaymentList" resultMap="BaseResultMap">
    select * from fss_factoring_repayment i
    <where>
      <if test="fwIds != null and fwIds.size &gt;= 0">
        and i.fw_id in
        <foreach collection="fwIds" item="id" separator="," open="(" close=")">#{id}</foreach>
      </if>
    </where>
    order by i.repayment_date
  </select>
</mapper>