<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.credit.factoring.FssFactoringPrewithdrawMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.credit.factoring.FssFactoringPrewithdraw" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="fp_id" property="fpId" jdbcType="VARCHAR" />
    <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
    <result column="interest_bearer" property="interestBearer" jdbcType="VARCHAR" />
    <result column="currency_name" property="currencyName" jdbcType="VARCHAR" />
    <result column="withdraw_amount" property="withdrawAmount" jdbcType="NUMERIC" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="credit_date" property="creditDate" jdbcType="DATE" />
    <result column="credit_status" property="creditStatus" jdbcType="VARCHAR" />
    <result column="business_date" property="businessDate" jdbcType="DATE" />
    <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR" />
    <result column="debit_information" property="debitInformation" jdbcType="VARCHAR" />
    <result column="repayment_amount" property="repaymentAmount" jdbcType="NUMERIC" />
    <result column="debit_balance" property="debitBalance" jdbcType="NUMERIC" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="days" property="days" jdbcType="INTEGER" />
    <result column="annual_interest_rate" property="annualInterestRate" jdbcType="NUMERIC" />
    <result column="interest_bearing_days" property="interestBearingDays" jdbcType="INTEGER" />
    <result column="this_withdraw_amount" property="thisWithdrawAmount" jdbcType="NUMERIC" />
    <result column="make_withdraw_amount" property="makeWithdrawAmount" jdbcType="NUMERIC" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="fpi_id" property="fpiId" jdbcType="VARCHAR" />
    <result column="fc_id" property="fcId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="active" property="active" jdbcType="VARCHAR" />
    <result column="fw_id" property="fwId" jdbcType="VARCHAR" />
    <result column="currency_code" property="currencyCode" jdbcType="VARCHAR" />
    <result column="currency_id" property="currencyId" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getSumThisWithAmount" resultType="java.math.BigDecimal">
    select sum(this_withdraw_amount) from fss_factoring_prewithdraw
    <if test="fpw.fcId!=null and fpw.fcId!=''">
      <where>
        fc_id = #{fpw.fcId}
      </where>
    </if>
  </select>
  <select id="getSumCustomerAmount" resultType="java.math.BigDecimal">
    select sum(this_withdraw_amount) from fss_factoring_prewithdraw
    <where>
     active = '1'
    <if test="fpw.fcId!=null and fpw.fcId!=''">
        and fc_id = #{fpw.fcId}
    </if>
    <if test="fpw.type != null and fpw.type != ''">
      and type = #{fpw.type}
    </if>
      <if test="fpw.interestBearer != null and fpw.interestBearer != ''">
        and interest_bearer = #{fpw.interestBearer}
      </if>
    </where>
  </select>
</mapper>