/*S base*/
* {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	width: 100%;
	margin: 0;
}
body {
	color: #000;
	font-size: 12px;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	background-color: #f2f2f2;
}
ol,
ul,
li,
dl,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	list-style: none;
}
img {
	border: 0 none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
}
a {
	color: #333;
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
em,
i {
	font-style: normal;
}
p {
	margin: 0;
	line-height: 1.6;
}
table {
	width: 100%;
	border-collapse: collapse;
}
input,
button,
textarea {
	border: none;
	outline: none;
}
textarea {
	resize: none;
}
div,
span,
a {
	word-wrap: break-word;
	word-break: normal;
	word-break: break-all;
}
.text_left {
	text-align: left !important;
}
.text_center {
	text-align: center !important;
}
.text_right {
	text-align: right !important;
}
.pull_left {
	float: left;
}
.pull_right {
	float: right;
}
.bor_top_no{
	border-top: none !important;
}
.clear {
	clear: both;
	line-height: 0;
	overflow: hidden;
}
/*E base*/
/*S checkTable.html*/
.main_body {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	padding: 5px 20px;
}
.main_tit {
	margin: 0;
	text-align: center;
	font-weight: normal;
	margin-bottom: 10px;
}
.main_head {
	margin-bottom: 5px;
	overflow: hidden;
}
.main_info {
	display: inline-block;
	width: 120px;
	border-bottom: 1px solid #c8c8c8;
	vertical-align: bottom;
	text-align: center;
}
.main_table tr th,
.main_table tr td {
	border: 1px solid #c8c8c8;
	white-space: nowrap;
	padding: 4px;
	text-align: center;
}
.main_table tr td {
	position: relative;
	height: 14px;
}
.main_table tr th {
	background: #f5f5f5;
	font-weight: normal;
}
.unit {
	float: right;
}
.print_btn{
	display: block;
	width: 60px;
	height: 28px;
	background-color: #0b9878;
	text-align: center;
	line-height: 28px;
	border: 1px solid #6d9fa0;
	border-radius: 4px;
	color: #fff;
}
@media print {
	.pageBreak {
		page-break-after: always;
	}

	.noPrint {
		display: none;
	}
	.print_btn{
		display: none;
	}
	@page {
        size: auto;
        margin: 5mm;
    }
}
/*E checkTable.html*/
.wid50 {
	width: 50px;
}
