<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.server.ServerInterviewInterventionInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.server.ServerInterviewInterventionInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="view_id" property="viewId" jdbcType="VARCHAR" />
    <result column="sta_id" property="staId" jdbcType="VARCHAR" />
    <result column="child_id" property="childId" jdbcType="VARCHAR" />
    <result column="view_no" property="viewNo" jdbcType="VARCHAR" />
    <result column="child_name" property="childName" jdbcType="VARCHAR" />
    <result column="view_date" property="viewDate" jdbcType="VARCHAR" />
    <result column="date_time" property="dateTime" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="main_content" property="mainContent" jdbcType="VARCHAR" />
    <result column="evaluation_and_reflection" property="evaluationAndReflection" jdbcType="VARCHAR" />
    <result column="follow_up_plan" property="followUpPlan" jdbcType="VARCHAR" />
    <result column="supervisor_opinion" property="supervisorOpinion" jdbcType="VARCHAR" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="BaseResultMapVO" extends="BaseResultMap" type="cn.com.personnel.ercp.pi.module.server.ServerInterviewInterventionVO">
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="child_id_no" jdbcType="VARCHAR" property="childIdNo" />
    <result column="child_tel_no" jdbcType="VARCHAR" property="childTelNo" />
    <result column="child_nationality" jdbcType="VARCHAR" property="childNationality" />
    <result column="child_male" jdbcType="VARCHAR" property="childMale" />
    <result column="child_account_address" jdbcType="VARCHAR" property="childAccountAddress" />
    <result column="child_current_address" jdbcType="VARCHAR" property="childCurrentAddress" />
    <result column="child_health_status" jdbcType="VARCHAR" property="childHealthStatus" />
    <result column="child_escalation_type" jdbcType="VARCHAR" property="childEscalationType" />
    <result column="child_disability_type" jdbcType="VARCHAR" property="childDisabilityType" />
    <result column="child_disability_level" jdbcType="VARCHAR" property="childDisabilityLevel" />
    <result column="child_disease_type" jdbcType="VARCHAR" property="childDiseaseType" />
    <result column="child_school_attendance" jdbcType="VARCHAR" property="childSchoolAttendance" />
    <result column="child_other_cases" jdbcType="VARCHAR" property="childOtherCases" />
    <result column="child_poverty_alleviation_implementation" jdbcType="VARCHAR" property="childPovertyAlleviationImplementation" />
    <result column="child_violation_guardian" jdbcType="VARCHAR" property="childViolationGuardian" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="organization_principal" jdbcType="VARCHAR" property="organizationPrincipal" />
    <result column="organization_tel_no" jdbcType="VARCHAR" property="organizationTelNo" />
    <result column="organization_nature" jdbcType="VARCHAR" property="organizationNature" />
    <result column="organization_residential_address" jdbcType="VARCHAR" property="organizationResidentialAddress" />
    <result column="help_suggestions" jdbcType="VARCHAR" property="helpSuggestions" />
    <result column="security_fee_collection_method" jdbcType="VARCHAR" property="securityFeeCollectionMethod" />
    <result column="security_fee_collector" jdbcType="VARCHAR" property="securityFeeCollector" />
    <result column="security_fee_recipient_relationship" jdbcType="VARCHAR" property="securityFeeRecipientRelationship" />
    <result column="security_fee_guarantee_standard" jdbcType="VARCHAR" property="securityFeeGuaranteeStandard" />
    <result column="case_status" property="caseStatus" jdbcType="VARCHAR" />
    <result column="estimate_status" property="estimateStatus" jdbcType="VARCHAR" />
    <result column="plan_status" property="planStatus" jdbcType="VARCHAR" />
    <result column="intervention_status" property="interventionStatus" jdbcType="VARCHAR" />
    <result column="evaluate_status" property="evaluateStatus" jdbcType="VARCHAR" />
    <result column="case_closed_status" property="caseClosedStatus" jdbcType="VARCHAR" />
  </resultMap>


  <select id="queryInterventionList" resultMap="BaseResultMapVO">
    select '直接介入' as flag,i.view_id,i.child_id,i.sta_id,i.child_name,i.view_no,i.view_date,b.area,b.child_id_no,s.intervention_status from server_interview_intervention_info i left join pi_children_base_info b on i.child_id =b.child_id join server_child_status_info s on s.sta_id=i.sta_id
    <where>
      <if test="childName != null and childName != '' ">
        (i.child_name like concat('%', #{childName}, '%') or b.child_id_no like concat('%', #{childName}, '%'))
      </if>
      <if test="childId != null and childId != '' ">
        and i.child_id = #{childId}
      </if>
      <if test="area != null and area != '' ">
        and b.area like concat('%', #{area}, '%')
      </if>
      <if test="interventionStatus != null and interventionStatus != ''">
        and s.intervention_status = #{interventionStatus}
      </if>
    </where>
    union
    select '间接介入' as flag,i.ava_id as view_id,i.child_id,i.sta_id,i.child_name,i.available_no as view_no,i.available_date as view_date,b.area,b.child_id_no,s.intervention_status from server_available_resources_info i left join pi_children_base_info b on i.child_id =b.child_id join server_child_status_info s on s.sta_id=i.sta_id
    <where>
      <if test="childName != null and childName != '' ">
        (i.child_name like concat('%', #{childName}, '%') or b.child_id_no like concat('%', #{childName}, '%'))
      </if>
      <if test="childId != null and childId != '' ">
        and i.child_id = #{childId}
      </if>
      <if test="area != null and area != '' ">
        and b.area like concat('%', #{area}, '%')
      </if>
      <if test="interventionStatus != null and interventionStatus != ''">
        and s.intervention_status = #{interventionStatus}
      </if>
    </where>
    order by view_date desc
  </select>

  <select id="queryInterviewInterventionList" resultMap="BaseResultMapVO">
    select * from server_interview_intervention_info i left join pi_children_base_info b on i.child_id =b.child_id join server_child_status_info s on s.sta_id=i.sta_id
    <where>
      <if test="childName != null and childName != '' ">
        (i.child_name like concat('%', #{childName}, '%') or b.child_id_no like concat('%', #{childName}, '%'))
      </if>
      <if test="childId != null and childId != '' ">
        and i.child_id = #{childId}
      </if>
      <if test="area != null and area != '' ">
        and b.area like concat('%', #{area}, '%')
      </if>
      <if test="interventionStatus != null and interventionStatus != ''">
        and s.intervention_status = #{interventionStatus}
      </if>
    </where>
    order by i.view_date desc
  </select>

  <select id="queryInterviewInterventionInfo" resultMap="BaseResultMapVO">
    select * from server_interview_intervention_info where view_id=#{viewId}
  </select>

  <select id="getLetterNumber" parameterType="java.lang.String" resultType="java.lang.String">
      SELECT
        #{ prefix } || CASE WHEN res.str ISNULL THEN '0001' ELSE res.str END
      FROM (
        SELECT
          to_char(MAX(regexp_replace(view_no,'('|| #{ prefix } ||')(\d{4})','\2','g')::int + 1), 'FM0000') as str
        FROM
          server_interview_intervention_info
        WHERE view_no ~ ('^'|| #{ prefix } ||'\d{4}$')
      ) res
  </select>
</mapper>