<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.loan.FssLoanContractRepaymentMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.loan.FssLoanContractRepayment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="repayment_id" jdbcType="VARCHAR" property="repaymentId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="loan_organization" jdbcType="VARCHAR" property="loanOrganization" />
    <result column="loan_organization_id" jdbcType="VARCHAR" property="loanOrganizationId" />
    <result column="repayment_date" jdbcType="VARCHAR" property="repaymentDate" />
    <result column="currency_type" jdbcType="VARCHAR" property="currencyType" />
    <result column="exchange_rate" jdbcType="BIGINT" property="exchangeRate" />
    <result column="repayment_amount" jdbcType="NUMERIC" property="repaymentAmount" />
    <result column="discount_amount" jdbcType="NUMERIC" property="discountAmount" />
    <result column="credit_date" jdbcType="DATE" property="creditDate" />
    <result column="credit_status" jdbcType="VARCHAR" property="creditStatus" />
    <result column="calculation_status" jdbcType="VARCHAR" property="calculationStatus" />
    <result column="error_message" jdbcType="VARCHAR" property="errorMessage" />
    <result column="sap_document_no" jdbcType="VARCHAR" property="sapDocumentNo" />
    <result column="reversal_status" jdbcType="VARCHAR" property="reversalStatus" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="repayment_type" jdbcType="VARCHAR" property="repaymentType" />
    <result column="interest_settle_way" jdbcType="VARCHAR" property="interestSettleWay" />
    <result column="revision" jdbcType="INTEGER" property="revision" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="manage_id" jdbcType="VARCHAR" property="manageId" />
    <result column="business_date" jdbcType="DATE" property="businessDate" />
      <result column="entry_number" jdbcType="VARCHAR" property="entryNumber"/>
      <result column="group_no" jdbcType="VARCHAR" property="groupNo"/>
  </resultMap>
    <select id="queryList" resultMap="BaseResultMap">
        select * from fss_loan_contract_repayment
        <where>
            <if test="vo.manageId !=null and vo.manageId !=''">
                and manage_id =#{vo.manageId}
            </if>
            <if test="vo.creditStatus !=null and vo.creditStatus !=''">
                and credit_status=#{vo.creditStatus}
            </if>
            <if test="vo.startDate !=null ">
                and repayment_date &gt;=#{vo.startDate}
            </if>
            <if test="vo.endDate !=null ">
                and repayment_date &lt;=#{vo.endDate}
            </if>
        </where>
        order by repayment_date desc
    </select>
    <select id="selectExpireReminderList"
            resultType="cn.com.personnel.ercp.pi.module.loan.FssLoanContractRepaymentReminder">
        select manage.contract_num AS contractNum,
        manage.contract_name AS contractName,
        manage.company_name AS companyName,
        plan.plan_date AS planDate,
        plan.plan_date - CURRENT_DATE AS days,
        manage.currency_type AS currencyType,
        plan.plan_repayment_amount AS plannedRepaymentAmount
        FROM
        fss_loan_contract_manage manage,
        fss_loan_contract_repayment_plan plan
        where manage.manage_id=plan.main_id and manage.deleted='1' and manage.version =1
        <if test="repaymentReminder.expireDate != null and repaymentReminder.expireDate != ''">
            and plan.plan_date <![CDATA[ >= ]]>CURRENT_DATE and plan.plan_date <![CDATA[ <= ]]> to_date(#{repaymentReminder.expireDate},'yyyy-MM-dd')
        </if>
        <if test="repaymentReminder.companyName != null and repaymentReminder.companyName != ''">
            and manage.company_name like concat('%', #{repaymentReminder.companyName}, '%')
        </if>
        <if test="repaymentReminder.contractNum != null and repaymentReminder.contractNum != ''">
            and manage.contract_num like concat('%', #{repaymentReminder.contractNum}, '%')
        </if>
        <if test="repaymentReminder.contractName != null and repaymentReminder.contractName != ''">
            and manage.contract_name = #{repaymentReminder.contractName}
        </if>
        order by days asc

    </select>


    <select id="getSumHk" parameterType="java.lang.String" resultType="java.math.BigDecimal">
        select coalesce(sum(repayment_amount),0) from fss_loan_contract_repayment  where manage_id= #{manageId}
  </select>
    <select id="getSumHkByDate" resultType="java.math.BigDecimal">
        select coalesce(sum(repayment_amount),0) from fss_loan_contract_repayment  where manage_id= #{manageId} and repayment_date &lt;= #{sqDate}
  </select>

    <update id="updateBatchNew" parameterType="java.lang.String">
                update fss_loan_contract_repayment
                 set   calculation_status='已计算'
                <where>
                    manage_id=#{manageId}
                </where>
    </update>
</mapper>