<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.loan.FssLoanContractPreWithdrawMapper">
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.loan.FssLoanContractPreWithdraw">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pre_withdraw_id" jdbcType="VARCHAR" property="preWithdrawId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_id" jdbcType="VARCHAR" property="bankId" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="currency_type" jdbcType="VARCHAR" property="currencyType" />
    <result column="exchange_rate" jdbcType="VARCHAR" property="exchangeRate" />
    <result column="pre_with_draw_amount" jdbcType="NUMERIC" property="preWithDrawAmount" />
    <result column="after_discount_amount" jdbcType="NUMERIC" property="afterDiscountAmount" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="credit_status" jdbcType="VARCHAR" property="creditStatus" />
    <result column="credit_date" jdbcType="DATE" property="creditDate" />
    <result column="calculation_status" jdbcType="VARCHAR" property="calculationStatus" />
    <result column="sap_document_no" jdbcType="VARCHAR" property="sapDocumentNo" />
    <result column="reversal_status" jdbcType="VARCHAR" property="reversalStatus" />
    <result column="revision" jdbcType="INTEGER" property="revision" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="business_date" jdbcType="DATE" property="businessDate" />
    <result column="manage_id" jdbcType="VARCHAR" property="manageId" />
    <result column="error_message" jdbcType="VARCHAR" property="errorMessage"/>
    <result column="group_no" jdbcType="VARCHAR" property="groupNo"/>
    <result column="entry_number" jdbcType="VARCHAR" property="entryNumber"/>
  </resultMap>
    <delete id="deleteByManageId">
      delete from fss_loan_contract_pre_withdraw where manage_id=#{manageId}
    </delete>
    <select id="queryList" resultMap="BaseResultMap">
      select * from  fss_loan_contract_pre_withdraw
      <where>
        <if test="vo.manageId !=null and vo.manageId !=''">
          and manage_id =#{vo.manageId}
        </if>
        <if test="vo.creditStatus !=null and vo.creditStatus !=''">
          and credit_status=#{vo.creditStatus}
        </if>
        <if test="vo.startDate !=null ">
          and business_date &gt;=#{vo.startDate}
        </if>
        <if test="vo.endDate !=null ">
          and business_date &lt;=#{vo.endDate}
        </if>
        <if test="vo.businessDate !=null ">
          and business_date =#{vo.businessDate}
        </if>
        <if test="vo.source !=null ">
          and source =#{vo.source}
        </if>

      </where>
order by business_date asc
    </select>



  <sql id="Base_Column_List">
pre_withdraw_id,
 bank_name,
 bank_id,
 start_date,
 end_date,
 currency_type,
 exchange_rate,
 pre_with_draw_amount,
 after_discount_amount,
 source,
 credit_status,
 credit_date,
 calculation_status,
 sap_document_no,
 reversal_status,
 revision,
 creator,
 created_time,
 updater,
 updated_time,
 business_date,
 manage_id,
 error_message,
 group_no,
 entry_number
 </sql>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into fss_loan_contract_pre_withdraw (
    <include refid="Base_Column_List"/>
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (   #{item.preWithdrawId},
      #{item.bankName},
      #{item.bankId},
      #{item.startDate},
      #{item.endDate},
      #{item.currencyType},
      #{item.exchangeRate},
      #{item.preWithDrawAmount},
      #{item.afterDiscountAmount},
      #{item.source},
      #{item.creditStatus},
      #{item.creditDate},
      #{item.calculationStatus},
      #{item.sapDocumentNo},
      #{item.reversalStatus},
      #{item.revision},
      #{item.creator},
      #{item.createdTime},
      #{item.updater},
      #{item.updatedTime},
      #{item.businessDate},
      #{item.manageId},
      #{item.errorMessage},
      #{item.groupNo},
      #{item.entryNumber}
      )
    </foreach>
  </insert>
    <select id="queryNotComputeList" resultMap="BaseResultMap">
        select * from  fss_loan_contract_pre_withdraw
        <where> (source='手工' or credit_status!='未入账')
        <if test="preWithdrawVo.manageId !=null and preWithdrawVo.manageId !=''">
            and manage_id =#{preWithdrawVo.manageId}
        </if>
        </where>
    </select>


    <select id="queryNotEntryAccruals" resultMap="BaseResultMap">
        select * from fss_loan_contract_pre_withdraw i
        where i.credit_status not in ('入账中', '部分入账', '已入账')
        and i.pre_withdraw_id not in (select sub_id from fss_loan_accounting_documents where entry_type= #{type} group by sub_id)
        <if test="startDate !=null and startDate != ''">
            and to_char(i.credit_date, 'YYYY-MM-DD') &gt;=#{startDate}
        </if>
        <if test="endDate !=null and endDate != ''">
            and to_char(i.credit_date, 'YYYY-MM-DD') &lt;#{endDate}
        </if>
        order by i.manage_id,i.credit_date
    </select>
</mapper>