<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.loan.FssLoanContractIouRepaymentPlanMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.loan.FssLoanContractIouRepaymentPlan" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="repayment_id" property="repaymentId" jdbcType="VARCHAR" />
    <result column="plan_date" property="planDate" jdbcType="DATE" />
    <result column="plan_repayment_amount" property="planRepaymentAmount" jdbcType="NUMERIC" />
    <result column="actual_planned_repayment_amount" property="actualPlannedRepaymentAmount" jdbcType="NUMERIC" />
    <result column="repayment_amount" property="repaymentAmount" jdbcType="NUMERIC" />
    <result column="main_id" property="mainId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="manage_id" property="manageId" jdbcType="VARCHAR"/>
    <result column="branch_id" jdbcType="VARCHAR" property="branchId" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
  </resultMap>
    <delete id="deleteByIouId">
      delete from fss_loan_contract_iou_repayment_plan where  main_id=#{iouId}
    </delete>
    <select id="getLastRepaymentPlanByDrawApplyId"  resultMap="BaseResultMap">
        select * from fss_loan_contract_iou_repayment_plan where main_id=#{iouId} order by plan_date desc limit 1
    </select>
  <select id="getDifferenceDataByDrawApplyId" resultType="java.math.BigDecimal">
    select (#{withdrawAmount} - sum(actual_planned_repayment_amount)) as result from  fss_loan_contract_iou_repayment_plan where  main_id=#{iouId}
  </select>

  <select id="queryAmountByMainId" resultType="java.math.BigDecimal">
    select coalesce(sum(actual_planned_repayment_amount), 0) from fss_loan_contract_iou_repayment_plan where main_id=#{iouId} and branch_id=#{branchId}
  </select>

  <select id="queryPlanAmountByMainId" resultType="java.math.BigDecimal">
    select coalesce(sum(plan_repayment_amount), 0) from fss_loan_contract_iou_repayment_plan where main_id=#{iouId} and branch_id=#{branchId}
  </select>

  <update id="updateIouPlanAmount">
    <if test="plan.planRepaymentAmount != null and plan.planRepaymentAmount != ''">
      update fss_loan_contract_iou_repayment_plan set plan_repayment_amount=#{plan.planRepaymentAmount}
      <where>
        <if test="manageId != null and manageId != ''">
          manage_id=#{manageId}
        </if>
        <if test="plan.planDate != null">
          and plan_date=#{plan.planDate}
        </if>
        <if test="plan.branchId != null and plan.branchId != ''">
          and branch_id=#{plan.branchId}
        </if>
      </where>
    </if>
  </update>
</mapper>