<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.personnel.ercp.pi.persistence.mapper.credit.letterofCredit.FssLetterOfCreditMangeMapper" >
  <resultMap id="BaseResultMap" type="cn.com.personnel.ercp.pi.persistence.entity.credit.letterofCredit.FssLetterOfCreditMange" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="flocm_id" property="flocmId" jdbcType="VARCHAR" />
    <result column="letter_number" property="letterNumber" jdbcType="VARCHAR" />
    <result column="applicant_id" property="applicantId" jdbcType="VARCHAR" />
    <result column="applicant_name" property="applicantName" jdbcType="VARCHAR" />
    <result column="contract_no" property="contractNo" jdbcType="VARCHAR" />
    <result column="file_number" property="fileNumber" jdbcType="VARCHAR" />
    <result column="credit_no" property="creditNo" jdbcType="VARCHAR" />
    <result column="organ_name" property="organName" jdbcType="VARCHAR" />
    <result column="organ_id" property="organId" jdbcType="VARCHAR" />
    <result column="head_id" property="headId" jdbcType="VARCHAR" />
    <result column="head_code" property="headCode" jdbcType="VARCHAR" />
    <result column="head_name" property="headName" jdbcType="VARCHAR" />
    <result column="form_credit" property="formCredit" jdbcType="VARCHAR" />
    <result column="currency_id" property="currencyId" jdbcType="VARCHAR" />
    <result column="currency_code" property="currencyCode" jdbcType="VARCHAR" />
    <result column="currency_name" property="currencyName" jdbcType="VARCHAR" />
    <result column="exchange" property="exchange" jdbcType="VARCHAR" />
    <result column="credit_amount" property="creditAmount" jdbcType="DECIMAL" />
    <result column="after_discount" property="afterDiscount" jdbcType="DECIMAL" />
    <result column="effective_date" property="effectiveDate" jdbcType="TIMESTAMP" />
    <result column="stimatede_deadline" property="stimatedeDeadline" jdbcType="TIMESTAMP" />
    <result column="beneficiary_id" property="beneficiaryId" jdbcType="VARCHAR" />
    <result column="beneficiary_name" property="beneficiaryName" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="createor" property="creator" jdbcType="VARCHAR" />
    <result column="balance_contract" property="balanceContract" jdbcType="DECIMAL" />
    <result column="notice_status" property="noticeStatus" jdbcType="VARCHAR" />
    <result column="service_charge_total" property="serviceChargeTotal" jdbcType="DECIMAL" />
    <result column="notice_time" property="noticeTime" jdbcType="DECIMAL" />
    <result column="letter_id" property="letterId" jdbcType="DECIMAL" />
  </resultMap>
  <select id="getFileNUmber" resultType="java.lang.String">
     SELECT
        #{prefix} || CASE WHEN res.str ISNULL THEN '001' ELSE res.str END
      FROM (
        SELECT
          to_char(MAX(regexp_replace(file_number,'('|| #{prefix} ||')(\d{3})','\2','g')::int +1), 'FM000') as str
        FROM
          fss_letter_of_credit_mange
        WHERE file_number ~ ('^'|| #{prefix} ||'\d{3}$')
      ) res
  </select>
  <select id="queryCreditPayExpireReminder" resultType="cn.com.personnel.ercp.pi.module.credit.CreditPayExpireReminder">
SELECT ROW_NUMBER
	() OVER () AS rownum,
	A.organ_name AS organName,
	A.head_name AS headName,
	A.credit_no AS creditNo,
	A.currency_name AS currencyName,
	b.payment_money AS paymentMoney,
	b.payment_date AS paymentDate,
	b.invoice_number AS invoiceNumber,
	date_part('day',b.payment_date - current_date ) as days
FROM
	fss_letter_of_credit_mange A,
	fss_letter_of_credit_service_dao_dan b
WHERE
	A.flocm_id = b.flocm_id
    <if test="headName != null and headName != ''">
      and A.head_name like concat('%', #{headName}, '%')
    </if>
    <if test="creditNo != null and creditNo != ''">
      and A.credit_no like concat('%', #{creditNo}, '%')
    </if>
    <if test="paymentMoney != null and paymentMoney != ''">
      and b.payment_money like concat('%', #{paymentMoney}, '%')
    </if>
    <if test="invoiceNumber != null and invoiceNumber != ''">
      and b.invoice_number like concat('%', #{invoiceNumber}, '%')
    </if>
    <if test="expireDate != null and expireDate != ''">
      and b.payment_date <![CDATA[ <= ]]>to_date(#{expireDate},'yyyy-MM-dd')  and b.payment_date <![CDATA[ >= ]]> current_date
    </if>

  </select>
    <select id="queryCreditExpireReminder" resultType="cn.com.personnel.ercp.pi.module.credit.CreditExpireReminder">
        SELECT ROW_NUMBER
        () OVER () AS rownum,
        A.organ_name AS organName,
        A.head_name AS headName,
        A.credit_no AS creditNo,
        A.currency_name AS currencyName,
        A.credit_amount AS creditAmount,
        (A.credit_amount-b.dao_dan_money) As creditBalance,
        A.stimatede_deadline AS stimatedeDeadline,
        date_part('day',A.stimatede_deadline -current_date ) as days
        FROM
        fss_letter_of_credit_mange A,
        fss_letter_of_credit_service_dao_dan b
        WHERE
        A.flocm_id = b.flocm_id
        <if test="organName != null and organName != ''">
            and A.organ_name like concat('%', #{organName}, '%')
        </if>
    <if test="headName != null and headName != ''">
        and A.head_name like concat('%', #{headName}, '%')
    </if>
    <if test="creditNo != null and creditNo != ''">
        and A.credit_no like concat('%', #{creditNo}, '%')
    </if>
    <if test="expireDate != null and expireDate != ''">
        and b.payment_date <![CDATA[ <= ]]>to_date(#{expireDate},'yyyy-MM-dd')  and b.payment_date <![CDATA[ >= ]]> current_date
    </if>
    </select>
    
    <select id="queryList" resultMap="BaseResultMap">
        select * from fss_letter_of_credit_mange A
        <where>
            <if test="organName != null and organName != ''">
                A.organ_name like concat('%', #{organName}, '%')
            </if>
            <if test="headName != null and headName != ''">
                and A.head_name like concat('%', #{headName}, '%')
            </if>
            <if test="creditNo != null and creditNo != ''">
                and A.credit_no like concat('%', #{creditNo}, '%')
            </if>
            <if test="beneficiaryName != null and beneficiaryName != ''">
                and A.beneficiary_name like concat('%', #{beneficiaryName}, '%')
            </if>
            <if test="contractNo != null and contractNo != ''">
                and A.contract_no like concat('%', #{contractNo}, '%')
            </if>
            <if test="status != null and status != ''">
                and A.status like concat('%', #{status}, '%')
            </if>
            <if test="applicantId != null and applicantId != ''">
                and A.organ_id in (select bu.bukrs from  fss_base_role_organ_busi bu join sec_user_role ur on bu.role_id=ur.role_id
                and ur.user_id=#{applicantId} group by bu.bukrs)
            </if>
        </where>
        order by create_time desc nulls last
    </select>
</mapper>